* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ul,
ol {
  list-style: none;
}

li {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

[v-cloak] {
  display: none !important;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1.12rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.75rem;
}

body {
  background: #eee;
  color: #212121;
  font-family: Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.split-screens {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 120px;
  grid-template-rows: 1fr 120px;
  height: 99.9vh;
}

.split-screens > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.split-screens > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.split-screens > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.split-screens > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

p {
  margin-bottom: 1em;
}

ul li {
  margin-left: 2em;
  list-style-type: disc;
  margin-bottom: 0.5em;
}

svg path {
  fill: currentColor;
}

.create-or-join {
  /*
  .join {
    input { background:transparent;
      &::placeholder { color:$black; }
      &:hover {
        &::placeholder { color:$blue; }
      }
      &:focus { color: $blue; border: 2px solid $blue; outline: none;
        &::placeholder { color:rgba($blue,0.4); }
      }
    }
    form { width:100%; position: relative; }
    button { background:$blue; color:$white;
      @include position(absolute,null,0,0,0);
      font-size:24px;
    }
  }
  */
}
.create-or-join input,
.create-or-join button {
  cursor: pointer;
}
.create-or-join .create {
  background: orange;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
          clip-path: polygon(0 0, 0% 100%, 100% 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 4em;
}
.create-or-join .create button {
  font-size: 3.7vw;
  color: #212121;
  font-family: "Lora", serif;
  font-weight: normal;
  text-transform: none;
  display: block;
  background: transparent;
  border: none;
}
.create-or-join .or {
  font-size: 3vw;
  text-align: center;
  color: rgba(33, 33, 33, 0.5);
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 4;
  display: block;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
  text-transform: uppercase;
}
.create-or-join .join {
  background: #0abab5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
          clip-path: polygon(0 100%, 100% 100%, 100% 0);
  padding: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.create-or-join .join input {
  font-size: 9vw;
  color: #212121;
  font-family: "Lora", serif;
  display: block;
  width: 4em;
  border: none;
  outline: none;
  background: transparent;
}
.create-or-join .join input::-webkit-input-placeholder {
  color: #212121;
  font-size: 3.7vw;
}
.create-or-join .join input::-moz-placeholder {
  color: #212121;
  font-size: 3.7vw;
}
.create-or-join .join input:-ms-input-placeholder {
  color: #212121;
  font-size: 3.7vw;
}
.create-or-join .join input::-ms-input-placeholder {
  color: #212121;
  font-size: 3.7vw;
}
.create-or-join .join input::placeholder {
  color: #212121;
  font-size: 3.7vw;
}
.create-or-join .join input:focus {
  color: yellow;
}
.create-or-join .join input:focus::-webkit-input-placeholder {
  color: yellow;
}
.create-or-join .join input:focus::-moz-placeholder {
  color: yellow;
}
.create-or-join .join input:focus:-ms-input-placeholder {
  color: yellow;
}
.create-or-join .join input:focus::-ms-input-placeholder {
  color: yellow;
}
.create-or-join .join input:focus::placeholder {
  color: yellow;
}
.create-or-join .join button {
  margin-left: auto;
  display: block;
  font-family: "Lora", serif;
  font-size: 3em;
  background: transparent;
  border: none;
}

.pregame {
  height: 99.9vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 160px;
  grid-template-columns: 1fr 160px;
  font-family: "Barlow", sans-serif;
}
.pregame .sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pregame form {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 10px;
}
.pregame form fieldset {
  display: block;
  position: relative;
}
.pregame form fieldset input {
  font-family: inherit;
  font-size: 20px;
  padding: 15px 10px 2px 10px;
  display: block;
  width: 100%;
}
.pregame form fieldset label {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.pregame form button {
  display: block;
  width: 100%;
  font-family: inherit;
  background: #0abab5;
  border: 1px solid currentColor;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}
.pregame .players {
  padding: 1rem;
}
.pregame .players .player {
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  background: rgba(33, 33, 33, 0.75);
  color: #eee;
  -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15);
          box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15);
  position: relative;
}
.pregame .players .player.is-me {
  background: #212121;
}
.pregame .players .number {
  font-style: italic;
}
.pregame .players .name {
  font-size: 1.25em;
  font-weight: 500;
  padding-top: 0.25em;
  padding-left: 0.5em;
}
.pregame .players .host {
  position: absolute;
  top: 6px;
  right: 6px;
  color: #eee;
}
.pregame .players .host svg {
  width: 26px;
  height: 26px;
}
.pregame .room-code {
  position: fixed;
  top: 20px;
  left: 20px;
  text-align: center;
}
.pregame .room-code .display {
  font-weight: 700;
  font-size: 325%;
}
.pregame .nobody-here {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pregame .nobody-here .inside {
  max-width: 68ch;
}
.pregame .nobody-here h2 {
  margin-bottom: 1em;
}

.admin-screen {
  background: #212121;
  color: #eee;
  padding: 40px;
  padding-top: 80px;
  font-family: "Fira Code", monospace;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 40px;
  position: relative;
  overflow-y: auto;
  /*
  .rules-advance { text-align: center;
    button { font-size:22px; font-family: $monospace; font-weight: 900; text-transform: uppercase; }
  }
  */
}
.admin-screen .top-info {
  background: #010c01;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
}
.admin-screen .panel {
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 20px;
  background: #010c01;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.admin-screen .rules-panel .rules {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
}
.admin-screen .rules-panel .rules button {
  font-weight: 300;
  color: #eee;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 20px;
  position: relative;
  background: transparent;
  cursor: pointer;
}
.admin-screen .rules-panel .rules button.rule .name {
  font-size: 16px;
}
.admin-screen .rules-panel .rules button.rule .cost {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid currentColor;
  line-height: 2em;
  width: 2em;
  height: 2em;
  text-align: center;
  border-radius: 50%;
}
.admin-screen .rules-panel .rules button.finished {
  -ms-grid-column: 2;
  grid-column: 2;
  font-size: 18px;
  padding: 16px 24px;
}
.admin-screen .rules-panel .rules button.finished:hover {
  color: #2EF429;
}
.admin-screen .rules-panel .rules button:hover:not([disabled]) {
  border-color: #2EF429;
}
.admin-screen .rules-panel .rules button:hover:not([disabled]) .name {
  color: #2EF429;
}
.admin-screen .rules-panel .rules button.active {
  font-weight: 900;
}
.admin-screen .rules-panel .rules button[disabled]:not(.active) {
  color: rgba(238, 238, 238, 0.65);
  border-color: rgba(238, 238, 238, 0.65);
}
.admin-screen .rules-panel .rules button[disabled] {
  cursor: default;
}
.admin-screen .rules-panel .rules button.too-expensive {
  position: relative;
}
.admin-screen .rules-panel .rules button.too-expensive:before {
  content: "You can not afford this rule.";
  position: absolute;
  right: 0;
  bottom: 3px;
  left: 0;
  color: #ee2a2a;
  -webkit-transform: translateY(120%);
      -ms-transform: translateY(120%);
          transform: translateY(120%);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 12px;
}
.admin-screen .rules-panel .rules button.too-expensive:hover:before {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.admin-screen .rule-details {
  font-size: 26px;
}
.admin-screen .rule-details input[maxlength="1"] {
  width: 1.2em;
}
.admin-screen .rule-details select.letter {
  width: 4em;
  padding: 0.3em;
}
.admin-screen .rule-details select {
  font-family: "Fira Code", monospace;
  padding: 0.5em 1.5em;
  font-size: 18px;
}
.admin-screen .select-and-button button,
.admin-screen .fieldset-and-button button {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 22px;
  background: transparent;
  color: #eee;
  border: 1px solid #eee;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}
.admin-screen .select-and-button button:hover, .admin-screen .select-and-button button:focus,
.admin-screen .fieldset-and-button button:hover,
.admin-screen .fieldset-and-button button:focus {
  color: #2EF429;
  border-color: #2EF429;
}
.admin-screen .bug-setup .bug-errors {
  color: #ee2a2a;
  padding-top: 1em;
}
.admin-screen .bug-setup .button-holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
  border-top: 2px solid rgba(255, 255, 255, 0.15);
  margin-top: 20px;
}
.admin-screen .bug-setup .button-holder button {
  -ms-grid-column: 2;
  grid-column: 2;
  font-weight: 300;
  color: #eee;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 20px;
  position: relative;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  padding: 16px 24px;
  text-transform: uppercase;
}
.admin-screen .bug-setup .button-holder button:hover, .admin-screen .bug-setup .button-holder button:focus {
  color: #2EF429;
  border-color: #2EF429;
}
.admin-screen h2 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-bottom: 1em;
}
@-webkit-keyframes blinkRed {
  0% {
    color: rgba(255, 0, 0, 0);
  }
  50% {
    color: red;
  }
  100% {
    color: rgba(255, 0, 0, 0);
  }
}
@keyframes blinkRed {
  0% {
    color: rgba(255, 0, 0, 0);
  }
  50% {
    color: red;
  }
  100% {
    color: rgba(255, 0, 0, 0);
  }
}
.admin-screen .crash-notification h2 {
  color: #ee2a2a;
  -webkit-animation: blinkRed 0.5s linear infinite;
          animation: blinkRed 0.5s linear infinite;
  font-size: 200%;
  letter-spacing: 0.2em;
}
.admin-screen .crash-notification button {
  font-weight: 300;
  color: #eee;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 20px;
  position: relative;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  padding: 16px 24px;
  text-transform: uppercase;
}
.admin-screen .crash-notification button:hover, .admin-screen .crash-notification button:focus {
  color: #2EF429;
  border-color: #2EF429;
}
.admin-screen .admin-only {
  color: #0abab5;
}
.admin-screen button {
  font-family: inherit;
}

.admin-screen {
  min-height: 99.9vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 120px;
  grid-template-rows: 1fr 120px;
}

.admin-screen > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.admin-screen > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.admin-screen > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.admin-screen > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.admin-screen form fieldset {
  position: relative;
}
.admin-screen form fieldset select {
  width: 100%;
  font-family: inherit;
  font-size: 24px;
  background: transparent;
  color: #eee;
  padding: 20px 10px 4px 8px;
}
.admin-screen form fieldset label {
  position: absolute;
  top: 2px;
  left: 10px;
  text-transform: uppercase;
}
.admin-screen form fieldset option {
  color: #212121;
}
.admin-screen form.fieldset-and-button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 120px;
  grid-template-columns: 1fr 120px;
  gap: 10px;
}
.admin-screen form.fieldset-and-button input {
  background: transparent;
  border: none;
  border-bottom: 0.15em solid currentColor;
  color: #eee;
  outline: none;
  font-size: 23px;
  font-family: "Fira Code", monospace;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-left: 1em;
}
.admin-screen form.fieldset-and-button input:focus, .admin-screen form.fieldset-and-button input:hover {
  border-color: #2EF429;
  color: #2EF429;
}
.admin-screen form.fieldset-and-button input:focus::-webkit-input-placeholder, .admin-screen form.fieldset-and-button input:hover::-webkit-input-placeholder {
  color: rgba(46, 244, 41, 0.6);
}
.admin-screen form.fieldset-and-button input:focus::-moz-placeholder, .admin-screen form.fieldset-and-button input:hover::-moz-placeholder {
  color: rgba(46, 244, 41, 0.6);
}
.admin-screen form.fieldset-and-button input:focus:-ms-input-placeholder, .admin-screen form.fieldset-and-button input:hover:-ms-input-placeholder {
  color: rgba(46, 244, 41, 0.6);
}
.admin-screen form.fieldset-and-button input:focus::-ms-input-placeholder, .admin-screen form.fieldset-and-button input:hover::-ms-input-placeholder {
  color: rgba(46, 244, 41, 0.6);
}
.admin-screen form.fieldset-and-button input:focus::placeholder, .admin-screen form.fieldset-and-button input:hover::placeholder {
  color: rgba(46, 244, 41, 0.6);
}
.admin-screen form.fieldset-and-button select {
  background: #010101;
  color: #eee;
}
.admin-screen form.fieldset-and-button select option {
  color: #eee;
}
.admin-screen form.fieldset-and-button label {
  position: relative;
  margin-right: 1em;
}
.admin-screen form.select-and-button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 120px;
  grid-template-columns: 1fr 120px;
  gap: 10px;
  margin-left: 1em;
}
.admin-screen form.select-and-button select {
  background: transparent;
  color: #eee;
  border: 0;
  font-weight: 500;
}
.admin-screen form.select-and-button select:focus {
  background: #000;
}
.admin-screen .attempt-console ol {
  margin-top: 2em;
}
.admin-screen .attempt-console ol li {
  margin-bottom: 1em;
  margin-left: 2em;
  list-style-type: decimal;
}
.admin-screen .attempt-console ol li .name, .admin-screen .attempt-console ol li .pass {
  font-weight: 900;
}
.admin-screen .attempt-console .failed {
  color: #ff3838;
}
.admin-screen .attempt-console .success {
  color: #38ff38;
}
.admin-screen .admin-timer {
  background: black;
  position: fixed;
  right: 40px;
  bottom: 40px;
  padding: 20px;
}
.admin-screen .admin-timer time {
  color: #2EF429;
}
.admin-screen .admin-timer time {
  font-size: 280%;
}
.admin-screen .admin-timer time sup {
  font-size: 85%;
  top: unset;
}

.employee-screen {
  background: #eee;
  padding: 40px;
  padding-top: 80px;
  font-family: "Lora", serif;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.employee-screen .top-info {
  background: #f6f6ff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 10px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
}
.employee-screen .inner {
  width: 100%;
  max-width: 500px;
  background: #f6f6ff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 20px;
  -webkit-box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.employee-screen .password-form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.employee-screen .password-form fieldset {
  position: relative;
}
.employee-screen .password-form fieldset input {
  font-size: 2rem;
  font-family: inherit;
  display: block;
  padding: 20px 0 5px 20px;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
}
.employee-screen .password-form fieldset input:focus {
  border-color: #0abab5;
}
.employee-screen .password-form fieldset input:focus ~ label {
  color: #0abab5;
}
.employee-screen .password-form fieldset input .error {
  border-color: #ee2a2a;
}
.employee-screen .password-form fieldset label {
  position: absolute;
  top: 5px;
  right: 5px;
  left: 25px;
  display: block;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.employee-screen .password-form .required {
  color: #ee2a2a;
}
.employee-screen .password-form button[type=submit] {
  display: block;
  width: 100%;
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 26px;
  background: #0abab5;
  border: none;
  border-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 0.35em 2em;
  font-weight: 900;
  letter-spacing: 0.3em;
}
.employee-screen .password-form input, .employee-screen .password-form button {
  border-radius: 0;
}
.employee-screen .password-form input {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.employee-screen .password-errors {
  color: #ee2a2a;
}
.employee-screen .crash-screen {
  background: white;
  color: black;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.employee-screen .crash-screen .inside {
  width: 100%;
}
.employee-screen .crash-screen h1 {
  color: red;
  border-bottom: 3px solid currentColor;
  display: block;
  margin-bottom: 2em;
}
.employee-screen .crash-screen pre {
  background: #ffffcc;
  font-weight: bold;
  padding: 1em;
  margin-bottom: 2em;
}
.employee-screen .crash-screen footer {
  border-top: 2px solid black;
}

.employee-screen {
  min-height: 99.9vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 120px;
  grid-template-rows: 1fr 120px;
}

.employee-screen > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.employee-screen > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.employee-screen .inner {
  margin-left: auto;
  margin-right: auto;
}
.employee-screen .hurry-timer {
  width: 6vw;
  height: 6vw;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 55px;
  right: 25px;
  text-align: center;
  padding-top: 0.5vw;
  border: 2px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -9px 9px 9px rgba(0, 0, 0, 0.35);
          box-shadow: -9px 9px 9px rgba(0, 0, 0, 0.35);
}
.employee-screen .hurry-timer .label {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
  background: #282828;
  color: white;
  padding: 0.25em;
  border-radius: 4px;
  -webkit-box-shadow: -9px 9px 9px rgba(0, 0, 0, 0.35);
          box-shadow: -9px 9px 9px rgba(0, 0, 0, 0.35);
}
.employee-screen .hurry-timer .time-left {
  font-size: 4vw;
  line-height: 100%;
}
.employee-screen .hurry-timer .time-left .integer {
  display: inline-block;
  width: 1ch;
}
.employee-screen .hurry-timer .time-left .integer.double-digit {
  width: 2ch;
}
.employee-screen .hurry-timer .time-left .decimal {
  display: inline-block;
  width: 0.8ch;
  -webkit-transform: translate(-40%, 6px);
      -ms-transform: translate(-40%, 6px);
          transform: translate(-40%, 6px);
}

.scorekeeper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  font-family: "Barlow", sans-serif;
  padding: 10px;
  /*
  &[player-count] { display:grid; gap:$padding; }
  &[player-count="1"] { grid-template-columns: repeat(1,1fr);}
  &[player-count="2"] { grid-template-columns: repeat(2,1fr);}
  &[player-count="3"] { grid-template-columns: repeat(3,1fr);}
  &[player-count="4"] { grid-template-columns: repeat(4,1fr);}
  &[player-count="5"] { grid-template-columns: repeat(5,1fr);}
  &[player-count="6"] { grid-template-columns: repeat(6,1fr);}
  */
}
.scorekeeper .player {
  border: 1px solid currentColor;
  padding: 20px;
  -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
  margin-right: 7px;
}
.scorekeeper .player .name {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.scorekeeper .player .score {
  font-size: 220%;
}