.mobile-unscreen
  .inner
    figure
      img(src="/svg/games/megachurch.svg" alt="Megachurch Tycoon")
    
    h3 This game requires a larger screen.
    .paragraphs
      p Megachurch Tycoon is meant to be played on a computer or tablet. If you have one available, switch to that. 
      p If not, play one of the other 
        a(href="https://kinda.fun" ) Kinda Fun 
        |  games for now, and come back to Megachurch Tycoon later when you're on a computer.