section.sermon-results(v-if="ui.view === 'sermon-results'")

  .inner
    h2(v-if="my.isStreetPreaching") Your street preaching is complete for the day.
    h2(v-else) Your sermon is complete for the day.

    // Street Preaching Results
    .audience-reactions(v-if="my.isStreetPreaching && my.audienceReactions && my.audienceReactions.length > 0")
      table.debug.audience-changes
        thead
          tr
            th Religion
            th ðŸ‘‚
            th ðŸ˜
            th ðŸ˜ 
        tbody
          tr(v-for="reaction in sortedAudienceReactions.filter(r => r.liked > 0 || r.disliked > 0)" :class="{'positive': reaction.liked > reaction.disliked, 'negative': reaction.disliked > reaction.liked}")
            td 
              span.religion-name {{reaction.name}}
            td.number {{reaction.liked + reaction.disliked + reaction.neutral}}
            td.number
              span.positive(v-if="reaction.liked > 0") {{reaction.liked}}
              span(v-else) 0
            td.number
              span.negative(v-if="reaction.disliked > 0") {{reaction.disliked}}
              span(v-else) 0
          tr.summary(v-if="totalIgnoredAudience > 0")
            td(colspan="4")
              em {{totalIgnoredAudience}} other people ignored your sermon.

    // Church Preaching Results  

    table.debug.follower-changes(v-if="!my.isStreetPreaching")
      caption Religious Scorecard Changes
      thead
        tr
          th(v-if="gameSettings.isDebug") id
          th name
          th(v-if="gameSettings.isDebug") before
          th change
          th(v-if="gameSettings.isDebug") after
      tbody
        tr(v-for="religion in my.religiousScorecard.filter(r => r.change !== 0)" :class="{'positive': religion.change > 0, 'negative': religion.change < 0}")
          td(v-if="gameSettings.isDebug") {{religion.id}}
          td 
            span.religion-name {{religion.name}}
          td.number(v-if="gameSettings.isDebug") {{religion.score - religion.change}}
          td.number
            span.positive(v-if="religion.change > 0") {{"+"+religion.change}}
            span.negative(v-else-if="religion.change < 0") {{religion.change}}
          td.number(v-if="gameSettings.isDebug") {{religion.score}}

    .donations-summary
      dl.money-summary
        .row.total-donations
          dt Total Donations:
          .modifier.empty
          dd 
            .amount {{dollars(my.donationsYesterday)}}
            .donor-count(v-if="my.isStreetPreaching") (from {{my.streetDonorsYesterday}} donors)
        .row.merch-sales.plus(v-if="!my.isStreetPreaching && my.merchRevenueYesterday > 0")
          dt Merch Sales:
          .modifier.plus +
          dd {{dollars(my.merchRevenueYesterday)}}
        .row.sterling-cut.minus(v-if="my.sterlingCutYesterday > 0")
          dt Sterling's Cut:
          .modifier.minus -
          dd {{dollars(my.sterlingCutYesterday)}}
        .row.player-share.equals
          dt 
            span(v-if="my.sterlingCutYesterday > 0") Your Share:
            span(v-else-if="my.playerShareYesterday && my.playerShareYesterday != my.donationsYesterday") Your Earnings:
          .modifier.equals =
          dd {{dollars(my.playerShareYesterday)}}
    
    // Church Management Results
    .church-management-summary(v-if="!my.isStreetPreaching && my.church.isFounded")
      template(v-if="my.merchRevenueYesterday > 0")
        h3 Merch Sales Revenue
        .merch-breakdown(v-if="my.merchSalesDetailsYesterday")
          template(v-if="my.merchSalesDetailsYesterday.holyWater.sold > 0")
            dl.merch-item
              dt Holy Water Bottles:
              dd {{my.merchSalesDetailsYesterday.holyWater.sold}} sold ({{dollars(my.merchSalesDetailsYesterday.holyWater.revenue)}})
          template(v-if="my.merchSalesDetailsYesterday.prayerCandles.sold > 0")
            dl.merch-item
              dt Prayer Candles:
              dd {{my.merchSalesDetailsYesterday.prayerCandles.sold}} sold ({{dollars(my.merchSalesDetailsYesterday.prayerCandles.revenue)}})
          template(v-if="my.merchSalesDetailsYesterday.energyDrinks.sold > 0")
            dl.merch-item
              dt Energy Drinks:
              dd {{my.merchSalesDetailsYesterday.energyDrinks.sold}} sold ({{dollars(my.merchSalesDetailsYesterday.energyDrinks.revenue)}})
      
      template(v-if="my.confessionRevenueYesterday > 0")
        h3 VIP Confession Revenue
        dl.confession-revenue
          dt VIP Confessions:
          dd {{dollars(my.confessionRevenueYesterday)}}
      
      template(v-if="my.church.upgrades.extraPews > 0 || my.church.upgrades.audioVisual || my.church.upgrades.vipConfessionBooths || my.church.upgrades.sacrament.wine.level > 0 || my.church.upgrades.sacrament.bread.level > 0")
        h3 Active Upgrades
        .upgrade-effects
          template(v-if="my.church.upgrades.extraPews > 0")
            .upgrade-effect
              strong {{my.church.upgrades.extraPews}} Extra Pews
              span  (+{{my.church.upgrades.extraPews * gameSettings.church.upgrades.extraPews.capacityIncrease}} capacity)
          template(v-if="my.church.upgrades.audioVisual")
            .upgrade-effect
              strong A/V Equipment
              span  (+{{gameSettings.church.upgrades.audioVisual.likeBoost}}% reaction boost)
          template(v-if="my.church.upgrades.vipConfessionBooths")
            .upgrade-effect
              strong VIP Confession Booths
              span  (Generating revenue)
          template(v-if="my.church.upgrades.sacrament.wine.level > 0")
            .upgrade-effect
              strong {{my.church.upgrades.sacrament.wine.name}}
              span  (+{{gameSettings.church.upgrades.sacraments.wine.levels[my.church.upgrades.sacrament.wine.level].likeBoost}}% reaction boost)
          template(v-if="my.church.upgrades.sacrament.bread.level > 0")
            .upgrade-effect
              strong {{my.church.upgrades.sacrament.bread.name}}
              span  (+{{gameSettings.church.upgrades.sacraments.bread.levels[my.church.upgrades.sacrament.bread.level].likeBoost}}% reaction boost)
      
      template(v-if="my.marketing.generalAdActive || my.marketing.targetedAd.active || my.marketing.signSpinnerActive")
        h3 Active Marketing Campaigns
        .marketing-effects
          template(v-if="my.marketing.generalAdActive")
            .marketing-effect
              strong General Internet Ad
              span  (+{{gameSettings.church.marketing.generalAd.attendanceBoost}}% attendance)
          template(v-if="my.marketing.targetedAd.active")
            .marketing-effect
              strong Targeted Ad ({{my.marketing.targetedAd.targetReligion?.name}})
              span  (+{{gameSettings.church.marketing.targetedAd.targetReligionBoost}}% for target religion)
          template(v-if="my.marketing.signSpinnerActive")
            .marketing-effect
              strong Sign Spinner
              span  (+{{gameSettings.church.marketing.signSpinner.attendanceBoost}}% attendance)

    .buttons
      button.plug(@click="openPlugInterface()") ðŸ“± The Plug
      button.harold(v-if="my.chats.harold.hasContacted || my.hasVan" @click="openHaroldInterface()") ðŸ“± Uncle Harold
      button.sterling(v-if="my.chats.sterling.hasContacted" @click="openSterlingInterface()") ðŸ“± Sterling Silver
      button.workshop-zone(v-if="my.church.isFounded" @click="showWorkshopZone") ðŸ’» Da Worshop Zone
      button.submit(@click="advanceToNextDay()") Next Day.

    
    table.debug(v-if="gameSettings.isDebug")
      thead
        tr
          th id
          th name
          th score
      tbody
        tr(v-for="religion in my.religiousScorecard.slice().sort((a, b) => b.score - a.score)")
          td {{religion.id}}
          td {{religion.name}}
          td {{religion.score}}