section.sermon-results(v-if="ui.view === 'sermon-results'")

  .inner
    h2 Your preaching is complete for the week.

    table.debug.follower-changes
      //caption Follower Changes
      thead
        tr
          th(v-if="gameSettings.isDebug") id
          //th
          th name
          th(v-if="gameSettings.isDebug") before
          th change
          th(v-if="gameSettings.isDebug") after
      tbody
        tr(v-for="religion in my.followerChanges" :class="{'positive': religion.change > 0, 'negative': religion.change < 0}")
          td(v-if="gameSettings.isDebug") {{religion.id}}
          //td 
            span.positive(v-if="religion.change > 0") ⬆️
            span.negative(v-else-if="religion.change < 0") ⬇️
          td 
            span.religion-name {{religion.name}}
          td.number(v-if="gameSettings.isDebug") {{religion.before}}
          td.number
            span.positive(v-if="religion.change > 0") {{"+"+religion.change}}
            span.negative(v-else-if="religion.change < 0") {{religion.change}}
          td.number(v-if="gameSettings.isDebug") {{religion.after}}

    dl.donations-collected
      dt 
        span Donations Collected:
      dd {{dollars(my.donationsYesterday)}}

    .buttons
      button.reset(v-if="gameSettings.isDebug" @click="collectDonations()") GET PAID 🤑
      button.submit(@click="advanceToNextDay()") Next Day.

    
    table.debug(v-if="gameSettings.isDebug") 
      caption Followers
      thead
        tr
          th id
          th name
          th followers
      tbody
        tr(v-for="religion in my.followers.slice().sort((a, b) => b.followers - a.followers)")
          td {{religion.id}}
          td {{religion.name}}
          td {{religion.followers}}

    table.debug(v-if="gameSettings.isDebug")
      thead
        tr
          th id
          th name
          th score
      tbody
        tr(v-for="religion in my.religiousScorecard.slice().sort((a, b) => b.score - a.score)")
          td {{religion.id}}
          td {{religion.name}}
          td {{religion.score}}