aside.your-details

  .inside

    .box(v-if="my.name && !my.eternalLegacy.heat" )
      .label Name
      .value {{my.name}}

    .box.heat(v-if="my.eternalLegacy.heat")
      .label Federal Investigation
      .value 
        .thermometer.heat-meter
          .heat-meter-fill(:style="{ width: Math.min((my.eternalLegacy.heat / gameSettings.eternalLegacy.heat.max) * 100, 100) + '%' }")
          .heat-meter-text {{ my.eternalLegacy.heat }} / {{ gameSettings.eternalLegacy.heat.max }}
    
    .box(v-if="my.daysPlayed > 3")
      .label Days
      .value {{my.daysPlayed + 1}}
    
    .box(v-if="my.place?.name && my.place.name != 'Starting Location' && my.isStreetPreaching")
      .label Place
      .value {{my.place.name}}

    .box(v-if="my.church.name")
      .label Church
      .value
        div {{my.church.name}}
        small(v-if="my.church.location?.name") {{my.church.location.name}}

    .box.top-religions(v-if="!my.isStreetPreaching && computedTopReligions")
      .label Top Religions
      .value
        ol
          li(v-for="religion in computedTopReligions.slice(0, 3)")
            span {{religion.name}}
    
    .box(v-if="my.daysPlayed > 0 || my.money > 0")
      .label Money
      .value {{dollars(my.money)}}
    
    .box.spice-status(v-if="my.daysPlayed > 0" :class="{'penalty': my.spice.consumedToday < my.spice.requiredAmount, 'normal': my.spice.consumedToday >= my.spice.requiredAmount && my.spice.consumedToday <= my.spice.requiredAmount, 'bonus': my.spice.consumedToday > my.spice.requiredAmount}")
      .label Spice Status
      .value
        div(v-if="my.spice.consumedToday < my.spice.requiredAmount") 
          .warning âš ï¸ UNDER-DOSED
          small {{my.spice.consumedToday}}/{{Math.ceil(my.spice.requiredAmount)}} units
        div(v-else-if="my.spice.consumedToday > my.spice.requiredAmount") 
          .bonus âš¡ ENHANCED
          small {{my.spice.consumedToday}}/{{Math.ceil(my.spice.requiredAmount)}} units
        div(v-else) 
          .good âœ… OPTIMAL
          small {{my.spice.consumedToday}}/{{Math.ceil(my.spice.requiredAmount)}} units
        div(v-if="gameSettings.isDebug")
          small.debug Performance: {{Math.round(getSpiceMultiplier() * 100)}}%
          small.debug(v-if="my.spice.pendingAddictionIncrease > 0") 
            | Tomorrow: +{{my.spice.pendingAddictionIncrease.toFixed(2)}} requirement

    .box.buttons(v-if="gameSettings.isDebugButtonVisible || !ui.isFullscreen")
      .label(v-if="gameSettings.isDebug" style="color: hotpink;") CHEATS ARE ENABLED
      fieldset
        button.debug-toggle(@click="toggleDebugMode()" :class="{'active': gameSettings.isDebug}")
          template(v-if="gameSettings.isDebug")
            span ðŸŸ¢
            span Turn Debug Off 
          template(v-if="!gameSettings.isDebug")
            span âšª
            span Enable Debug

      fieldset.debug-controls(v-if="gameSettings.isDebug")
        legend Debug Controls
        button.debug(@click="debugAddMoney()") +$1,000,000
        button.debug(v-if="!my.chats.harold.hasContacted" @click="debugTriggerHarold()") Trigger Harold
        button.debug(v-if="!my.hasVan" @click="debugGetVan()") Get Van
        button.debug(v-if="!my.chats.sterling.hasContacted" @click="debugTriggerSterling()") Trigger Sterling
        button.debug(v-if="!my.eternalLegacy.isActive" @click="debugTriggerEternalLegacy()") Trigger Legacy
        button.debug(v-if="my.eternalLegacy.isActive" @click="debugAddHeat()") Add Heat (+10)
        button.debug(@click="debugTriggerSpeedPreaching()") Speed Preaching