.employee-screen(v-if="my.role == 'employee'")

  .top-info
    .name {{my.name}}
    .job 
      span Employee 
      sup #
      span {{my.employeeNumber}}
    .round-number ROUND {{round.number}} / {{maxRounds}}
    .attempts
      span(v-if="my.passwordAttempts > 0") {{my.passwordAttempts}} tries
    .score SCORE: {{my.score}}

  .inner(v-if="!ui.roundOver")

    //- You haven't entered a successful password yet.
    .content(v-if="!ui.passwordSucceeded")
      p(v-if="round.phase == 'create password'") Create Your Password.
      ul
        li(v-if="round.challenge && round.challenge.nameAsRule") {{round.challenge.nameAsRule}}
        li(v-if="round.challenge && round.challenge.hint") 
          strong HINT: 
          |  {{round.challenge.hint}}
        li(v-for="(rule,index) in round.rules") {{rule.message}}
        li(v-if="round.challenge && round.challenge.nameAsRule") Passwords are case-insensitive
        li(v-if="round.bugs && round.bugs.length > 0 ") 
          span(v-if="round.bugs.length == 1") There is a system bug.
          span(v-else) There are {{round.bugs.length}} system bugs.
    


      form.password-form(v-if="round.phase == 'create password'" @submit.prevent="tryThisPassword(ui.passwordAttempt)")
        fieldset
          input(type="text" v-model="ui.passwordAttempt" id="PasswordAttempt" :class="{ 'error' : ui.passwordInputError }" v-touppercase v-focus)
          label(for="PasswordAttempt") Create A Password
            sup.required *
        .button-holder
          button(type="submit") Submit

      .stand-by(v-if="round.phase != 'create password'")
        p Your password rules are still being created by {{computedSysAdminName}}, your friendly and helpful System Administrator. Please stand by.

      .password-errors(v-if="ui.passwordAttemptErrors && ui.passwordAttemptErrors.length > 0")
        .error(v-if="ui.passwordAttemptErrors.length == 1") {{ui.passwordAttemptErrors[0]}}
        ul(v-if="ui.passwordAttemptErrors.length > 1")
          li.error(v-for="(err,index) in ui.passwordAttemptErrors") {{err}}
  
    //- You've entered a password and it was successful
    .content(v-if="ui.passwordSucceeded")
      h1 SUCCESS!
      p You've set a password.
      p Please stand by while your coworkers try to do the same.

  .inner(v-if="ui.roundOver")
    h1 This round is over.
    p(v-if="round.number == maxRounds") BigCorp Middle Management is pleased with all the passwords which have been provided. Management sincerely hopes nobody tries to hack any of the passwords given.
    p(v-else) Your passwords have been sent to BigCorp Middle Management, who finds them lacking. A new SysAdmin will be named to help create better passwords.


  .crash-screen(v-if="round.phase == 'crashed'")
    .inside
      h1 Server error in '/' Application
      p
        strong Description: 
        | An unhandled exception occured when 
        strong {{round.crash.player.name}}
        |  entered the password 
        strong {{round.crash.word}}

      p
        strong Source Error
      pre
        code.
          Line 109113:     protected isTheSiteCrashed(ooobject pwassword) {
          Line 109114:       while (password != error) {
          Line 109115:         destroyWebsite = false;
          Line 109116:       }
          Line 109117:     }

      p
        strong Password Entered
      pre
        code.
          {{round.crash.word}}
      
      p
        strong Employee Record
      pre
        code.
          EMPloyeeNuumber:     {{round.crash.player.employeeNumber}}
          EMpoyeeNAME:         {{round.crash.player.name}}
      
      p
        strong Source File
      pre
        code.
          D:\Code\Projects\BigCorp\Profiles\Scum\Auth\Processes\FuckItThisWillWorkForNow.aspx
      
      footer
        strong Version Information:
        br
        code BigCorp Framework Version 4.00.1134.Release5-Final--Version2.TestBuild-5

  .hurry-timer(v-if="round.hurryTimer != undefined")
    .time-left(v-if="round.hurryTime >= 10")
      span.integer.double-digit {{parseInt(round.hurryTime)}}
    .time-left(v-else-if="round.hurryTime < 10")
      span.integer {{round.hurryTime.toFixed(1).split('.')[0]}}
      | .
      sup.decimal {{round.hurryTime.toFixed(1).split('.')[1]}}
    .label(v-if="!ui.passwordSucceded") Hurry Up


  include _scores.pug

