.final-round(v-if="round.phase == 'FINAL ROUND'")
  video.fullscreen(muted autoplay loop poster="img/polygons.jpg")
    source(src="video/polygons.mp4")
  .inside
    template(v-if="!ui.enterFinalPasswords")
      h1 This is the final round!
      p In the final round, your goal is to hack into accounts of your coworkers.
      p When the timer starts, type in any password you think any of your coworkers may have used successfully.
      p This password must be one that they used successfully in a previous round.
      p If you're right, you'll steal 40 points from that player
      //-p
        button(@click="ui.enterFinalPasswords = true") Start
      h2 Round begins in {{round.hurryTime}} seconds.
    template(v-if="ui.enterFinalPasswords")

      template(v-if="ui.passwordSuccessMessage") 
        h2.success Success!
        p {{ui.passwordSuccessMessage}}
      form.password-form(@submit.prevent="tryToCrackWith(ui.passwordAttempt)")
        fieldset
          input(type="text" v-model="ui.passwordAttempt" id="PasswordAttempt" :class="{ 'error' : ui.passwordInputError }" v-touppercase v-focus)
          label(for="PasswordAttempt") Enter A Password
            sup.required *
        .button-holder
          button(type="submit") Submit
      .password-errors(v-if="ui.passwordAttemptErrors && ui.passwordAttemptErrors.length > 0")
        .error(v-if="ui.passwordAttemptErrors.length == 1") {{ui.passwordAttemptErrors[0]}}
        ul(v-if="ui.passwordAttemptErrors.length > 1")
          li.error(v-for="(err,index) in ui.passwordAttemptErrors") {{err}}
      
      p There are {{computedUnclaimedPasswords}} unclaimed passwords in the system.

  .timer.final-timer(v-if="round.roundTimer != undefined")
    time {{round.finalTimeLeft}}

  include _scores
    