.javascripts

  script(src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.27.4.min.js")
  if testing
    script(src="js/libraries/vue.full.js")
    script.
      const testing = true;
  else
    script(src="js/libraries/vue.min.js")
    script.
      const testing = false;

  script(src="js/libraries/howler.min.js")

  script(src="/socket.io/socket.io.js")
  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  script.
    //var socket = io();
    var socket = io.connect();

  script(src="js/min/site.min.js?updated"+lastUpdated)

  script(src="https://cdn.trackjs.com/agent/v3/latest/t.js")
  script.
    TrackJS.install({
      token: "9947e081831c42b8aeb3a5fb81a152c4",
      application: "TheRulesHaveChanged"
    });