.crash-screen {
  background: white;
  color: black;
  padding: $padding;
  @include position(absolute, 0, 0, 0, 0);
  z-index: 2;
  display: flex;
  .inside {
    width: 100%;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  }

  .crash-word {
    color: #300;
  }
  h1 {
    color: red;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    border-bottom: 3px solid #966;
    display: block;
    margin-bottom: 0.5em;
  }
  h2 {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 2em;
  }
  pre {
    background: #ffffcc;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    padding: 1em;
    margin-bottom: 2em;
  }
  pre.bigcorp-console {
    background-color: #222;
    color: #0b0;
    font-size: 13px;
    overflow-x: auto;
  }
  footer {
    border-top: 2px solid black;
  }
  p {
    margin: 0;
  }

  pre.bigcorp-terminal {
    background: #222;
  }
}
