/*
.scorekeeper { display:flex; grid-column: span 2; font-family: $sans-serif; padding:10px;

  .player { border: 1px solid currentColor; padding:$padding; flex-basis:160px; margin-right: 7px;
    .name { text-transform: uppercase; letter-spacing: 0.1em;}
    .score { font-size:220%;}
  }

  
  &[player-count] { display:grid; gap:$padding; }
  &[player-count="1"] { grid-template-columns: repeat(1,1fr);}
  &[player-count="2"] { grid-template-columns: repeat(2,1fr);}
  &[player-count="3"] { grid-template-columns: repeat(3,1fr);}
  &[player-count="4"] { grid-template-columns: repeat(4,1fr);}
  &[player-count="5"] { grid-template-columns: repeat(5,1fr);}
  &[player-count="6"] { grid-template-columns: repeat(6,1fr);}
}
*/

.scorekeeper {
  .player { border: 1px solid currentColor; margin-bottom: 1em; position: relative; backdrop-filter: blur(4px);
    &:before { @include position(absolute,0,0,0,0); content:'';}
    .inside { position: relative; padding:$padding; padding-right: 35px; }
    .name { text-transform: uppercase; letter-spacing: 0.1em; word-break: break-word; }
    .score { font-size:220%; }
    .admin-icon { width: 20px; height: 20px; position: absolute; right: 10px; top: 10px; }
    .success-icon { @include position(absolute,10px,10px); width:40px; height:40px; 
      svg * { fill: $green; }
    }
  }
}

@media (max-width:720px) {
  .scorekeeper {display:flex; overflow-y: auto; padding:$padding;
    .player { flex-basis: 200px; max-width: 300px; flex-shrink: 0; overflow-y: auto; margin-right: $padding; }
  }
}