.title-screen { display: grid; grid-template-columns: 1fr 80px 1fr; grid-template-rows: 1fr 105px; height: 100vh; background: radial-gradient(#353535, #161616); color:#eee;
  .logo-holder { grid-column: span 3; display: flex; align-items: center; }
  figure.logo { width: 100%;
    img { max-width: 340px; display: block; margin-left: auto; margin-right: auto; }
  }
  .create { text-align: right;
    button { font-size:36px; background:transparent; color:#b39153; font-family: $serif; border:none; cursor: pointer; line-height: 95%; padding:10px; border-bottom: 3px solid transparent;
      &:hover, &:focus { color: orange; }
    }
  }
  .or { font-size:24px; color:rgba(255,255,255,0.35); font-family:$sans-serif; text-align: center; padding-top:7px;
  }
  .join { position: relative;
    input { font-size:36px; color:#23a0c7; font-family: $serif; display:block; width:17ch; border:none; outline:none; background: transparent;
      &::placeholder { color:#50666d; }
      &:hover, &:focus { border-color:#23a0c7;
        &::placeholder { color:#23a0c7; }
      }
    }
    button { @include position(absolute,0,null,null,110px); line-height: 180%; font-family: $serif; color:#23a0c7; font-size: 32px; cursor: pointer; border:none; background:transparent;
      &:hover, &:focus { text-decoration: underline; }
    }
  }
}


/*
.create-or-join {

  input,
  button { cursor: pointer; }
  .create {  background: linear-gradient(to bottom right, #493240, #ff0099); clip-path: polygon(0 0, 0% 100%, 100% 0);  @include position(absolute,0,0,0,0); padding:4em;
    button { font-size:3.7vw; color:white; font-family: $serif; font-weight: normal; text-transform: none; display:block; background:transparent; border:none;
      &:hover, &:focus { color:yellow; }
    }
  }
  .or { font-size:max(7vw, 50px); text-align: center; color:white; @include position(absolute,50%,50%); z-index: 4; display: block;  transform:rotate(334deg) translate(53px, -40px); text-transform: uppercase; font-family: $sans-serif;  }


  .join { background: linear-gradient(to top left, #4b0fc2, #8e2de2); @include position(absolute,0,0,0,0); clip-path: polygon(0 100%, 100% 100%, 100% 0);  padding:4em; display: flex; align-items:flex-end; justify-content: flex-end;
    input { font-size:9vw; color:#9be2d8; font-family: $serif; display:block; width:4em; border:none; outline:none; background: transparent;
      &::placeholder { color:#9be2d8; font-size:3.7vw; }
      &:focus { color:yellow;
        &::placeholder { color:yellow; }
      }
    }
    button { margin-left: auto; display: block; font-family: $serif; font-size:3em; background: transparent; border:none; color:#9be2d8;
      &:hover, &:focus { color:yellow; }
    }
  }
}


@media (max-width:600px) {
  .create-or-join {
    .create { padding:$padding;
      button { font-size:6.5vw; }
    }
    .or { transform: rotate(310deg) translate(5vw,1vw); }
    .join { padding:$padding;
      input { font-size:14vw; max-width: 5ch; padding-right: 0; }
      button { font-size:6.5vw; }
    }
  }
}
*/