$gap: 40px;
$padding: 20px;


// Font shit
$barlow: 'Barlow', sans-serif;
$sans-serif: $barlow;
$fira: 'Fira Code', monospace;
$monospace: $fira;
$lora: 'Lora', serif;
$serif: $lora;

$font-family: 'Comfortaa', cursive;
$serif: $font-family;
$sans-serif: $font-family;
$monospace: $font-family;

$medium: 300;
$bold: 600;



// Colors
$tiffany: #0abab5;
$lime: #2EF429;
$green: $lime;
$pink: #ff0099;
$purple: #791fc7;


$adminOnly: #ffcc00;
$adminError: $red;
$adminPanelColor: rgba(1,12,1,1);
$employeePanelColor: rgba(246,246,256,1);

$adminActive: $green;
$adminAccent: #ffcc00;



$blue: $tiffany;

$scorebard-width: 200px;

body {
  height: 100%;
  width: 100%;
  background-color: #333;
}

#countdown {
  position: relative;
  margin: auto;
  margin-top: 100px;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

body {
  height: 100%;
  width: 100%;
  background-color: #333;
}

#countdown {
  position: relative;
  margin: auto;
  margin-top: 100px;
  height: 200px;
  width: 200px;
  text-align: center;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: countdown 10s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}