section.current-challenge { padding:2rem 0; min-height: 100vh; display:flex; align-items: center;
  form { color:coral; @include inner(1280px);
    label { font-size:1.15rem; font-weight: $bold; letter-spacing: 0.03; font-family: $headline; display:block; padding-bottom: 1em; text-align: center; }
    .question { font-size:clamp(1.6rem,3.05rem,4rem); animation-duration: 2s; }
    input { display:block; width:100%; font-family: inherit; font-size:2rem; padding:0.5em $gap; border:1px solid rgba(0,0,0,0.5); text-transform: uppercase; line-height: 2;
      &:focus { border-color: rgba(152, 123, 181, 0.8); background-color:rgb(237 230 243); }
      &::placeholder { text-transform: none; text-align: center; }
    }
    .field { display:grid; grid-template-columns: 1fr 160px; gap:10px; animation-duration:0.9s; animation-delay:2.65s;
      button { opacity: 1; background: #d9d9f5; color:rgba(0,0,0,0.8); font-size:1.5em; font-family: inherit; border-top-right-radius: 1em; border-bottom-right-radius: 1em; border:1px solid rgba(0,0,0,0.5); transition: all 0.3s linear;
        &:not(:disabled) { cursor: pointer;
          &:hover, &:focus { background: #7272f5; color:#011a3a; }
        }
        &:disabled { opacity: 0.5; filter: grayscale(0.5); }
      }
    }
    .scroll-down { animation-duration:0.5s; animation-delay:3.65s; padding-top:2.5rem; color:rgba(255,255,255,0.5); font-size:clamp(1rem,1.85vw,1.8rem); text-align: center; }
  }

  background:#120f0f;
}