header.site-header { background:red; min-height:72vh; padding:$gap; color:white; text-align: center; display: flex; align-items: center; justify-content: center;
  .site-title { font-size:14.25vw; font-family: $headline; line-height: 0.9em; }
}