html {
  background: radial-gradient(#353535, #161616);
  color: #eee;
  background-attachment: fixed;
}
p {
  margin-bottom: 1em;
}
[v-cloak] {
  display: none;
}

.v-toast {
  font-family: "Lora", serif;
}
