// .fade-enter-active {
//   transition: all 2s cubic-bezier(.36,.3,.7,1.53);
// }
// .fade-leave-active {
//   transition: all 0.2s ease-out;
// }

// .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
//   opacity: 0;
//   transform: scale(0.2);
// }

.boing-enter-active {
  transition: all 0.65s cubic-bezier(0.36, 0.3, 0.7, 1.53);
}
.boing-leave-active {
  transition: all 0.2s ease-out;
}

.boing-enter-from,
.boing-leave-to {
  opacity: 0;
  transform: scale(0.2);
}

.list-leave-active {
  transition: all 0.75s ease-in-out;
}
.list-enter-active {
  transition: all 0.75s ease-in-out;
  transition-delay: 0.75s;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: scale(0.85);
  margin-left: -300px;
}
.list-move {
  transition: transform 1s ease-in-out;
}

.testing-banner.start {
  font-family: $serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  background: yellow;
  color: black;
  padding: 10px;
}
