- const email = "lemon@ahoylemon.xyz"
- const creatorSchemaObj = {"@type":"Person","name":"Lemon","url":"https://ahoylemon.xyz","email":"lemon@ahoylemon.xyz","sameAs":["https://bsky.app/profile/ahoylemon.xyz","https://thefpl.us/meet/lemon","https://twitter.com/AhoyLemon","https://mastodon.social/@ahoylemon"]}
- const creatorSchema = JSON.stringify(creatorSchemaObj)
