- const email = "lemon@ahoylemon.xyz"

- const creatorObj = {}
- creatorObj["@type"] = "Person"
- creatorObj["name"] = "Lemon"
- creatorObj["url"] = "https://ahoylemon.xyz"
- creatorObj["email"] = email
- creatorObj["sameAs"] = [  "https://github.com/AhoyLemon", "https://bsky.app/profile/ahoylemon.xyz", "https://mastodon.social/@ahoylemon", "https://thefpl.us/meet/lemon"]
- const creatorSchema = JSON.stringify(creatorObj)