.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 1.25s ease;
}

.list-enter-from,
.list-leave-to {
  transform: translateX(110%);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
