.timer { font-family: monospace; font-weight: 400; @include position(fixed,null,null,0,0); background:#222; color:lime; line-height: 0.8; letter-spacing: 0.1em; padding:0.25em 0.5em; z-index: $z-timer;
  font-size:clamp(36px,8vw,80px);
  .s  { font-size:140%; }
  .ms { font-size:70%; }
}