.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s linear;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}


.slide-enter-active, .slide-leave-active {
  transition: all 0.5s cubic-bezier(.59,.33,.78,1.44);
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform:translateY(10vh) scale(0.1);
}