.share-screen(v-if="ui.shareScreen.display")
  .inner
    .share-cta(v-if="computedDidYouAlreadyPlayToday")
      span ↑ Share this URL and challenge your friends. ↑

    .stat-lead-in
      span On 
      span {{formatDate(ui.shareScreen.playDate)}} 
      input(v-if="computedDidYouAlreadyPlayToday" type="text" placeholder="Enter your name" @keyup="enterYourName()" v-model="ui.shareScreen.playerName")
      strong(v-else) {{ui.shareScreen.playerName}}
      span  created
    .stat.wealth-created.today(v-if="ui.shareScreen.wealthCreatedToday > 0")
      .value(:digits="convertToBillion(ui.shareScreen.wealthCreatedToday).toString().length")
        span.big-number.dollars-today(v-html="formatDollars(ui.shareScreen.wealthCreatedToday,true)")
        sub.usd (USD)
    .stat.schools-funded(v-if="computedSchoolsFunded && computedSchoolsFunded.today")
      span.label (That's enough to fund 
      span.value {{formatNumber(computedSchoolsFunded.today)}}
      span.label  public schools in 
      //+stateSelector()
      span.label  for a year.)

    .play-cta(v-if="!computedDidYouAlreadyPlayToday")
      button(@click="playFromShare()") No More Billionaires.
    .come-back-tomorrow(v-if="computedDidYouAlreadyPlayToday")
      span Come back tomorrow for another {{gameRules.choicesPerDay}} choices.