* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ul,
ol {
  list-style: none;
}

li {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

html {
  background: -o-radial-gradient(#353535, #161616);
  background: radial-gradient(#353535, #161616);
  color: #eee;
}

p {
  margin-bottom: 1em;
}

.v-toast {
  font-family: "Lora", serif;
}

section {
  font-size: 20px;
  font-family: "Lora", serif;
}
section.stats {
  padding: 5rem 40px;
}
section figure {
  text-align: center;
  margin-bottom: 2em;
}
section figure img {
  max-width: 300px;
}
section .tables {
  display: -ms-grid;
  display: grid;
  gap: 40px;
}
section .table-wrapper {
  background: #eee;
  max-height: 360px;
  overflow-y: auto;
}
section .table-wrapper th {
  font-style: bold;
  font-size: 80%;
  text-transform: uppercase;
}
section .table-wrapper td:first-child {
  width: 36px;
  max-width: 36px;
  text-align: right;
  padding-right: 1rem;
}
section .table-wrapper td:last-child {
  width: calc(100% - 36px);
}
section .table-wrapper table {
  color: #212121;
  padding: 6px;
  width: 100%;
}
section .table-wrapper td {
  border-bottom: 1px solid black;
}
section .grid-wrapper .grid-caption {
  font-size: 110%;
  margin-bottom: 10px;
  text-transform: uppercase;
}
section .grid-wrapper .grid-box {
  background: #eee;
  color: #212121;
  height: 300px;
}
section .grid-wrapper .data-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 36px 1fr;
  grid-template-columns: 36px 1fr;
  padding-top: 16px;
  padding-bottom: 16px;
  max-height: 300px;
  overflow-y: auto;
}
section .grid-wrapper .count, section .grid-wrapper .value {
  border-bottom: 1px solid black;
  padding-bottom: 6px;
  margin-bottom: 6px;
}
section .grid-wrapper .count {
  text-align: right;
  padding-right: 10px;
  font-weight: 900;
}
section .timebox {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
section .timebox .time-caption {
  font-size: 110%;
  margin-bottom: 10px;
  text-transform: uppercase;
}
section .timebox .time-ago {
  font-size: 180%;
  font-weight: 900;
}
section .statement-grid-wrapper {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}
section .statement-grid-wrapper .grid-caption {
  font-size: 110%;
  margin-bottom: 10px;
  text-transform: uppercase;
}
section .statement-grid-wrapper .data-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr 30px;
  grid-template-columns: 60px 1fr 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #eee;
  color: #212121;
  max-height: 300px;
  overflow-y: auto;
}
section .statement-grid-wrapper .data-grid > * {
  border-bottom: 1px solid black;
  padding-bottom: 6px;
  margin-bottom: 6px;
}
section .statement-grid-wrapper .score {
  text-align: right;
  padding-right: 10px;
  font-weight: 900;
}
section .statement-grid-wrapper .score.positive {
  color: darkgreen;
}
section .statement-grid-wrapper .score.negative {
  color: darkred;
}
section .tables {
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 1570px) {
  section .tables {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
  section .tables .timebox {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
}
@media (max-width: 1150px) {
  section .tables {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  section .tables {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  section .tables .statement-grid-wrapper {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
@media (max-width: 630px) {
  section .tables {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  section .tables .statement-grid-wrapper {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
  section .tables .grid-box {
    height: unset !important;
  }
}