* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ul,
ol {
  list-style: none;
}

li {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

html {
  background: -o-radial-gradient(#353535, #161616);
  background: radial-gradient(#353535, #161616);
  color: #eee;
}

p {
  margin-bottom: 1em;
}

.v-toast {
  font-family: "Lora", serif;
}

section {
  font-size: 20px;
  font-family: "Lora", serif;
  /*
  .tables { display: grid; gap:40px;  }


  .table-wrapper { background:$white; max-height: 360px; overflow-y: auto;
    th { font-style:  bold; font-size:80%; text-transform: uppercase; }
    td:first-child { width:36px; max-width: 36px; text-align: right; padding-right: 1rem; }
    td:last-child { width:calc(100% - 36px); }
    table {color:$black; padding:6px; width:100%; }
    td { border-bottom: 1px solid rgba(0,0,0.15); } 
  }

  .grid-wrapper { 
    .grid-caption { font-size:110%; margin-bottom: 10px; text-transform: uppercase; }
    .grid-box { background:$white; color:$black; height: 300px; }
    .data-grid { display:grid; grid-template-columns: 36px 1fr; padding-top:16px; padding-bottom: 16px; max-height: 300px; overflow-y: auto; }


    .count, .value { border-bottom: 1px solid rgba(0,0,0.15); padding-bottom: 6px; margin-bottom: 6px; }
    .count { text-align: right; padding-right: 10px; font-weight: 900; }
  }

  .timebox { grid-column: span 2;
    .time-caption { font-size:110%; margin-bottom: 10px; text-transform: uppercase; }
    .time-ago { font-size: 180%; font-weight: 900; }
  }

  .statement-grid-wrapper { grid-column: span 3;
    .grid-caption { font-size:110%; margin-bottom: 10px; text-transform: uppercase; }
    .data-grid { display:grid; grid-template-columns: 60px 1fr 30px; padding-top:16px; padding-bottom: 16px; background:$white; color:$black; max-height: 300px; overflow-y: auto;
      > * { border-bottom: 1px solid rgba(0,0,0.15); padding-bottom: 6px; margin-bottom: 6px; }
    }
    .score { text-align: right; padding-right: 10px; font-weight: 900;
      &.positive { color:darkgreen; }
      &.negative { color: darkred; }
    }
  }
  */
}
section figure {
  text-align: center;
  margin-bottom: 2em;
}
section figure img {
  max-width: 300px;
}
section section.stats {
  margin-bottom: 3em;
}
section .stats-boxes {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, 260px);
}
section .stats-boxes .box {
  background: rgba(255, 255, 255, 0.75);
  padding: 20px;
  color: rgba(0, 0, 0, 0.9);
}
section .stats-boxes .big-number .number {
  font-size: 260%;
}
section .stats-boxes .time-ago {
  font-size: 185%;
}
section .good-tables {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
section .good-tables .pass-table {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
section .good-table {
  padding-top: 2em;
}
section .good-table h2 {
  font-size: 190%;
  padding-bottom: 0.35em;
}
section .good-table table.vgt-table th {
  font-weight: 900;
  padding: 5px;
  text-transform: uppercase;
  font-size: 85%;
}
section .good-table table.vgt-table td {
  padding: 5px;
}
section .good-table table.vgt-table .vgt-right-align {
  text-align: left;
}

section.famous {
  padding: 80px 40px 40px 0;
}
section.famous .two-tables {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 20px 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

section.invalid {
  padding: 80px 40px 40px 0;
}

main.general-stats {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  min-height: 99vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lora", serif;
}
main.general-stats .inside {
  width: 100%;
}
main.general-stats .game-summaries {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px;
}
main.general-stats .game-summaries .summary {
  text-align: center;
}
main.general-stats .game-summaries figure {
  height: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
main.general-stats .game-summaries .last-played {
  padding-bottom: 20px;
}
main.general-stats .game-summaries .time-caption {
  font-size: 110%;
  margin-bottom: 10px;
  text-transform: uppercase;
}
main.general-stats .game-summaries .time-ago {
  font-size: 180%;
  font-weight: 900;
}
main.general-stats .game-summaries .more-stats {
  min-height: 3em;
}
main.general-stats .game-summaries button {
  background: #38a4dc;
  font-family: inherit;
  font-weight: 900;
  font-size: 1.65rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  padding: 0.25em 1em;
  border-radius: 12px;
  cursor: pointer;
}

aside.general-stats {
  padding: 100px 20px;
  font-family: "Lora", serif;
}
aside.general-stats .summary {
  margin-bottom: 2em;
}

.stats-screen {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  -ms-grid-columns: 240px 40px 1fr;
  grid-template-columns: 240px 1fr;
}