$notifyRadius: 3rem;
$notifyIconSize: 60px;

// .ui-pnotify { 
//   .brighttheme.ui-pnotify-container { padding-left:100px; background:#414042;  border-radius: $notifyRadius; border:2px solid rgba(#121212,0.5); min-height: 5.7rem !important;
//     &:before { content: " "; width:$notifyIconSize; height:$notifyIconSize; @include position(absolute,1rem,null,null,1rem); background-image:url(../svg/sisyphus/trophy.svg);background-size:contain; background-repeat: no-repeat; background-position: center; }

//     .ui-pnotify-title { font-family:$font; font-size:1.4rem; margin-bottom: 0; color:white; }
//     .ui-pnotify-text  { font-family: $font; color:white; }
//     .ui-pnotify-closer, .ui-pnotify-sticker { color:yellow; }
//   }
// }

// @media screen and (max-width:$mobile-max) {
//   .ui-pnotify { 
//     .brighttheme.ui-pnotify-container {
//       .ui-pnotify-title { font-size:16px; }
//       .ui-pnotify-text  { font-size:12px; }
//     }
//   }
// }

.Vue-Toastification__container {
  .site-by-lemon { background:#e4e72c; border-radius: 0; border:none; margin-left: 20px; margin-right: 20px;
    a { color:#313131; text-decoration: none;
      &:hover { 
        span { text-decoration: underline; }
      }
    }
    .container { font-size:1.4rem; text-decoration: none; color:$black; display: block; font-weight: 400; line-height: 55px;
      display:grid; grid-template-columns: 60px 1fr; gap:10px;
    }
    .ui-pnotify-closer, .ui-pnotify-sticker { color:$black; }
  } 
  .Vue-Toastification__progress-bar {
    background-color: #212121;
  }
  // close-button-holder {
  //   // .close-toast { position: absolute; top:10px; right:0;}
  // }
  .close-toast { margin-left: 20px;
    color:#212121; opacity: 0.5;
    &:hover, &:focus { opacity: 1; }
  }
  
}