@use "variables" as v;
@use "../globals/variables" as g;

%item {
  display: block;
  padding: 1em;
  color: white;
  font-family: v.$font;
  margin-bottom: 1em;
  background: linear-gradient(to bottom, #ff416c, #ff4b2b);
  .name {
    font-size: 125%;
    font-weight: v.$bold;
  }
}

%asideHead {
  font-size: 180%;
  color: g.$white;
  text-transform: uppercase;
  font-family: v.$font;
  margin-bottom: 1em;
  font-family: v.$headline;
}
