aside.store {
  overflow: hidden;
  overflow-y: auto;
  .header {
    @extend %asideHead;
  }
  .item {
    @extend %item;
    &.buyable {
      cursor: pointer;
    }
    &:not(.buyable) {
      cursor: not-allowed;
    }
    &.buyable:hover {
      background: linear-gradient(to bottom, saturate(#ff416c, 50%), saturate(#ff4b2b, 50%));
      transform: scale(1.05);
    }
    &.buyable:active {
      background: linear-gradient(to bottom, saturate(#ff416c, 50%), saturate(#ff4b2b, 50%));
      transform: scale(0.95);
    }
    &:not(.buyable):hover {
      background: linear-gradient(to bottom, darken(desaturate(#ff416c, 80%), 20%), darken(desaturate(#ff4b2b, 80%), 20%));
    }

    .price {
      font-size: 240%;
      text-align: left;
      padding-top: 0.15em;
      font-weight: $bold;
      float: right;
    }
  }
}

@media screen and (max-width: $mobile-max) {
  aside.store {
    @include position(fixed, 0, 0, 0, 0);
    z-index: $z-aside-mobile;
    padding: 10px;
    transform: translateX(102%);
    transition: transform 1.25s ease;
    &.mobileVisible {
      transform: translateX(0);
    }
    .header {
      text-align: right;
      padding-right: 2em;
    }
  }

  button.toggle.store {
    background-color: #ff416c;
    height: 40px;
    width: 40px;
    display: block;
    border: none;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    line-height: 40px;
    @include position(fixed, 20px, null, null, 20px);
    z-index: $z-drawer-toggle;
  }
}

@media screen and (min-width: $desktop-min) {
  aside.store {
    @include position(fixed, 0, 0, 0);
    width: calc(25% - 15px);
    padding: 2rem 1rem 100px 1rem;
    .header {
      padding-left: 2em;
    }
    .item {
      .name {
        font-size: 16px;
      }
      .desc {
        font-size: 12px;
      }
    }
  }

  button.toggle.store {
    display: none;
  }
}
