$crimson: "Crimson Text", serif;
//$poppins: "Work Sans", sans-serif;
$headline: "Crimson Pro", serif;
$font: "Work Sans", sans-serif;
$bold: 700;

$z-background: 2;
$z-hill: 3;
$z-rock: 4;
$z-shine: 5;
$z-sisyphus: 5;
$z-foreground: 6;
$z-figcaption: 7;
$z-pillar: 8;

$z-aside-mobile: 11;
$z-counters: 12;
$z-drawer-toggle: 15;
