main.meeting-board

  include pug/_pregame.pug

  .card-table(v-if="game.isGameStarted")
    
    include pug/_your-cards.pug
    include pug/_guess.pug
    include pug/_timer.pug

  include pug/_players.pug

main.game-over

  h1 Game Over

  ol.player-results
    li.player(v-for="player in computedPlayerList")
      .score-and-name
        .player-score {{player.score}}
        .name-and-job
          .text
            .player-name {{player.name}}
            .player-job(v-if="player.jobTitle")
              span {{player.jobTitle}}

      table
        //-caption {{player.name}}'s cards
        thead
          tr
            th phrase
            th points
            th wha happun?
        tbody
          tr(v-for="card in player.hand" :class="card.status")
            td.phrase {{card.phrase}}
            td.points {{card.points}}
            td.status(:class="card.status")
              template(v-if="card.status == 'stolen'")
                span(v-if="card.stolenBy") stolen by #[strong {{card.stolenBy}}]
                span(v-else) strong
              template(v-else)
                span {{card.status}}
  
  // Bad Guesses
  h2(v-if="game.badGuesses && game.badGuesses.length > 0") Bad Guesses
  ol.bad-guesses
    li.bad-guess(v-for="badGuess in game.badGuesses")
      blockquote
        .quote-text {{badGuess.guess}}
        cite(v-if="badGuess.name") {{badGuess.name}}