main.meeting-board(v-if="!game.isGameOver")

  //- div(v-for="player in gamePlayers" :key="player.id")
  //-   h3 {{player.name}}
  //-   ul
  //-     li(v-for="card in player.hand" :key="card.id") {{card.phrase}}

  include pug/_pregame.pug 

  .card-table(v-if="game.isGameStarted")
    
    include pug/_your-cards.pug
    include pug/_guess.pug
    include pug/_timer.pug

  include pug/_players.pug 

include pug/_game-over.pug 