// ─── Title Screen ────────────────────────────────────────────
main.court-title {
  margin: 0 auto;
  padding-top: 60px;
  align-items: center;
  gap: 2.5rem;
  justify-content: center;
  display: grid;
  grid-template-columns: 320px 1fr;

  .title-hero {
    order: 2;
    grid-column: 2;
    text-align: center;

    .title-headline {
      font-family: $serif;
      font-size: clamp(3rem, 10.5vw, 10rem);
      font-weight: 475;
      color: $court-gold;
      margin: 0;
      line-height: 1.02;
      margin: unset;
    }

    .title-sub {
      font-size: 1rem;
      font-size: 3.5vw;
      color: rgba(255, 255, 255, 0.5);
      margin: 0.3rem 0 0;
      letter-spacing: 0.25em;
      text-transform: uppercase;
    }
  }

  .title-mode-buttons {
    order: 1;
    grid-column: 1;
    min-height: calc(100dvh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    .title-mode-section {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    .title-button {
      padding: 1rem 1.4rem;
      cursor: pointer;
      border-radius: 0.75rem;
      border: 2px solid rgba($court-gold, 0.4);
      font-family: $sans-serif;

      background-color: #080808;
      .label {
        font-size: 215%;
        color: $court-gold;
        font-weight: 515;
      }
      .desc {
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.55);
      }

      transition:
        scale 0.25s ease-out,
        background-color 0.3s linear,
        box-shadow 0.2s linear,
        border-color 0.4s linear;
      &:hover {
        scale: 1.05;
        background-color: #040412;
        box-shadow: 0 0 3px black;
        border-color: $court-gold;
      }
    }

    .title-hint {
      .hint-text {
        background-color: rgba(0, 0, 0, 0.8);
        padding: 0.25em 0.75em;
        color: rgba(255, 255, 255, 0.85);
        border-radius: 4px;
        position: relative;
        padding-left: 1.5em;
        .emoji {
          position: absolute;
          top: -8px;
          left: -8px;
          font-size: 150%;
        }
      }
    }
  }
}
