// COLORS //////////////////////////////////////////////////////////////////////////////////
$white: #eee;
$black: #212121;
$blue: #4885ed;
$red: #ee2a2a;
$green: #17680f;
$yellow:#e9eab9;
$teal: #4e7f71;

  // COLOR UTILITIES
  $body: $white;
  $copy: $black;
  $link: $blue;
  $accent: $teal;
  $focus: $yellow;

// BRAND COLORS /////////////////////////////////////////////////////////////////////////
  $color-twitter: #55acee;
  $color-github: #181616;
  $color-facebook: #3B5998;

// FONTS ////////////////////////////////////////////////////////////////////////////////
$light:300;
$medium:400;
$bold:700;

// FONT UTILITIES /////////////////////////////////////////////////////////////////////
$serif: "Palatino", serif;
$sans-serif: Helvetica, sans-serif;
$font-family: $sans-serif;

// MEASUREMENTS //////////////////////////////////////////////////////////////////////
$mobile-max: 767px;
$desktop-min: 768px;