include ../global/_variables

- const pageTitle = "Pretend World"
- const siteTitle = "Pretend World"
- const pageURL = siteURL+"/pretend"
- const description = "You are at a part of celebrity impersonators..."