.counters
  .score-hud.counter.pushes(v-if="totalScore > 18" v-cloak)
    .label Pushes
    .count(v-text="score")

  .score-hud.counter.gamerscore(v-if="computedGamerScore"
    @click="" v-cloak)
    .label Score
    .count
      a(@click="remindMeOfMyCheevos()") {{computedGamerScore}}

