include ../../shared/pug/_variables.pug
- const name = "Rothko or Nothko?"
- const desc = ""
- const keywords = ""
- const gameUrl = baseUrl + "rothko"
//- const ogImage = baseUrl +"/img/og-meeting.png"
//- const datePublished = "2025-07-10"

doctype html
html(lang="en")
  head
    include ../../shared/pug/_meta.pug
    link(rel="canonical" href=gameUrl)

    // Fonts & CSS
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet")

    link(href="/rothko.css?lastUpdated=" + lastUpdated type="text/css" rel="stylesheet")

  body
    #app 
    script(type="module" src="/src/entries/rothko.js")  

    // Schema.org
    //-include pug/_schema.pug