mixin timeStamp()
  - var d = new Date()
  - var m = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]
  time 
    = m[d.getMonth()] 
    |  
    = d.getDate()
    | , 
    = d.getFullYear() 


mixin formatDate(d)
  - var allMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]
  - var MonthAbbr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ]
  - var e = d.split("-");
  time(datetime=d)
    = MonthAbbr[parseInt(e[1] - 1)]
    |  
    = e[2]
    | , 
    = e[0]


mixin outsideLink(title,url)
  a.link(href=url target="_blank" noopener @click="trackLink('"+title+"', '"+url+"')")= title


mixin ruleButton(name,cost,unique)
  if !unique
    - unique = false
  else
    - unique = true
  button.rule( @click="chooseRule({name:'"+name+"', cost:"+cost+"})" :class="{ active: (ui.currentRule.name == '"+name+"'), 'too-expensive': (my.rulebux < "+cost+") }" :disabled="isRuleButtonDisabled('"+name+"',"+cost+","+unique+")")
    .name= name
    .cost= cost
      sup ƒ
    .disabled-reason

    .tooltip
      if name == "Demand A Letter"
        span A letter of your choosing must be in the password.
      else if name == "Ban A Letter"
        span A letter of your choosing cannot be in the password.
      else if name == "Shibboleth"
        span Employees must type a special word before typing their password
      else if name == "Flying Pig"
        span Summon a flying pig to offer the employees unhelpful suggestions.
      else if name == "Set A Maximum"
        span Maximum Characters, defined by the list average
      else if name == "Set A Minimum"
        span Minimum Characters, defined by the list average
      else if name == "Limit Vowels"
        span Maximum Vowels, defined by the list average
      else if name == "Ban A Combo"
        span Ban Two Letters From Being Used Together
      else if name == "Peek At Answers"
        span Shows the SysAdmin 5 random passwords from this set.