button.toggle.inventory(v-if="ui.inventory?.length > 0" @click="toggleDrawer('inventory')")
  span.count(v-text="ui.inventory.length")

aside.inventory(v-cloak v-show="ui.inventory?.length > 0" v-bind:class="{ mobileVisible: (ui.visibleDrawer == 'inventory') }")
  .header Your Inventory
  .inner
    .item.animated.bounceInUp(v-for="item in ui.inventory")
      a.toggle(v-on:click="toggleInventoryItemDescription(item)")
        .name {{item.name}}
        .desc(v-if="item.showDesc == true") {{item.desc}}
        