figure
  .background(:style="{ transform: backgroundTransform }")
  .hill
  .shine
  button#Sisyphus.sisyphys(
    @click="sisyphusClick()"
    :style="{ bottom: ui.s.bottom +'%', left: ui.s.left+'%', width:ui.s.width+'%', height:ui.s.height+'%' }")
    svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 82 100')
      g(v-if="ui.phase == 'retreat'")
        path.st0(d='M11.4 46.9l-.6 2.4-3.4-2.9c0-.2-1.1-3-1.1-3l-2.1-.9 1.6-1.1-1-1.5-4.2.5.2 2 .6 3.5 3.2.7 3.9 8 5.1.8 1.9-1.8-4.1-6.7z')
        path.st1(d='M13.8 55.9L8.2 55l-3.9-8-3.3-.8-.7-3.8L0 40l5-.6 1.4 2.1-1.3.9 1.5.7.1.2c.7 1.9 1 2.6 1.1 2.9.3.3 1.6 1.4 2.7 2.3l.7-2.8 4.9 7.9-2.3 2.3zm-5-1.8l4.7.8 1.4-1.4-3.3-5.4-.5 2.1-.6-.5c-3.5-3-3.5-3-3.5-3.2 0-.1-.5-1.4-1-2.7l-2.7-1.2 1.8-1.3-.6-.9-3.5.4.2 1.5.6 3.1 3.1.6 3.9 8.1z')
        path.st2(d='M14.2 34.2c.5-.3 7.5-4.9 7.5-4.9L35.8 31l8.1 6.2h7.6l5.1 3.8 4.8 7.5-.6 7.9 2.5-8.9 9.1-1.3 3-4.5 6 9.9-4 4.8-.5-6.1-2.1-2.4-13 14.8-4.8-.5-5.7-9.3-2 3.7-10.9 7.6 2.5 1.1 12.2 9.6 2.5 1.7-7 8.4 1.1-8.8-18.6-6.9-1.6-5.4 9-16.3-9.9-2.9-6.5 14.1H19l-8.8-12.9-4.3-.7v-3L2 39.5l1.1-6.9 5.4-2.7 5.7 4.3z')
        path.st1(d='M47.9 86.5l1.3-10-18.4-6.9-1.8-5.8 8.8-15.9-8.9-2.6-6.4 14h-3.8l-8.8-13-4.5-.7v-3.2l-3.9-2.7 1.2-7.4 5.9-2.9 5.7 4.3c1.1-.7 5.1-3.3 7.2-4.7l.1-.1L36 30.6l8.1 6.2h7.6l5.3 4 4.9 7.6-.3 3.3 1.3-4.6 9.2-1.3 3.3-4.9L82 51.7l-5 5.9-.6-7.1-1.6-1.9-12.9 14.6-5.2-.6-5.4-8.8-1.7 3.2-10.2 7.1 1.9.8 12.2 9.6 2.9 2-8.5 10zM31.5 68.9l18.7 6.9-.9 7.6 5.7-6.8-2.1-1.4-12.2-9.6-3.3-1.4 11.5-8 2.4-4.3 6 9.8 4.2.5 13.2-15 2.6 2.9.4 5.1 3-3.7-5.4-9-2.7 4.1-9 1.3-2.4 8.6-.9-.2.6-7.7-4.7-7.3-4.9-3.7h-7.6l-8.1-6.2-13.8-1.7c-1 .7-6.9 4.5-7.4 4.8l-.3.2-5.7-4.3-4.9 2.5-1 6.4L6.4 42v2.8l4.1.7 8.8 12.9h2.6l6.5-14.2 10.8 3.1L30 63.9l1.5 5z')
        path.st1(d='M21.2 50.8l-10.9-7-.6-2.7 2.4-1.1-.7-1.2H7.3l-1.2 3.4-.9-.3 1.4-4.1H12l1.4 2.7-2.6 1.1.4 1.6 7.1 4.6-5-8.4 3.1-6.6 6.5-.6 5 8.7-.4 7.1h-.9l.3-6.9-4.6-7.9-5.3.5-2.6 5.6z')
        path.st0(d='M15.3 46.4l-1.7-4.6-2.2 2.1 3.9 2.5z')
        path.st1(d='M16.2 47.6l-5.3-3.4V44c0-.3 0-.3 2.3-2.5l.5-.5 2.5 6.6zm-4.1-3.8l2.2 1.4-1-2.6-1.2 1.2z')
        path.st0(d='M53 39.9l.6 9.4-2.2 3.6 5.6 9.3 4.7.5 13.1-14.8 2.1 2.4.5 6.1 4-4.8-6-9.9-3 4.5-9.1 1.3-2.5 8.9.6-7.9-4.8-7.5-5.1-3.8h-.7z')
        path.st1(d='M61.9 63.2l-5.2-.6-5.9-9.7 2.4-3.7-.6-9.1-2.8-3.4h1.8l5.3 4 4.9 7.6-.3 3.3 1.3-4.6 9.2-1.3 3.3-4.9 6.6 10.8-5 5.9-.6-7.1-1.6-1.9-12.8 14.7zm-4.6-1.4l4.2.5 13.2-15 2.6 2.9.4 5.1 3-3.7-5.4-9-2.7 4.1-9 1.3-2.4 8.6-.9-.2.6-7.7-4.7-7.3-3.6-2.7.9 1.1.6 9.7-2.2 3.5 5.4 8.8z')  
      g(v-else)
        path.st2(d='M24.6 91.7l-3.8-.1-.3 2 5.2 5.8 5.9-3.6-5-1.1 6-30.9 7.4-3.5-1.8 3.1 5.6 8.3L43 75l6.2 2.7 5.9-6.2-7.9.6-.4-19.9-8.9-.2 3.7-5.7 4.5-1.2 3.2-8.3 2.9 1.1 5.7-4.5-.1-4.2-2.1-2.7 1.4-1.4 3-14.3 1.3-1.3-2.3-6.2-2.7-2 .4 6.3-1.5-.2 1.3 2.7 1 1L51.7 22l1.2 3.2-8 5.8-8.6.5-10 19-4.7 5.1.5 5.9-1.3 1.3 5.5 13.3-4.5 1.2z')
        path.st1(d='M25.6 100L20 93.8l.4-2.6 3.6.1L21.3 77l4.3-1.2-5.4-13.1 1.4-1.4-.5-5.9 4.8-5.3 10.1-19 8.7-.6 7.6-5.5-1.2-3L57 11.2l-.9-.9-1.6-3.5 1.8.3-.5-6.7L59.4 3 62 9.6 60.5 11l-3 14.3-1.2 1.2 1.9 2.5.1 4.5-6 4.8-2.8-1-3 8.1-4.6 1.2-3.1 4.8 8.5.2.4 19.9 8.6-.6-7 7.3-6.8-2.9.8-3.5-5.6-8.4 1.2-2-5.9 2.8-5.9 30.2 5.7 1.2-7.2 4.4zM21 93.5l4.8 5.3 4.6-2.8-4.4-.9 6.2-31.5 9-4.3-2.4 4.1 5.5 8.2-.7 3.2 5.5 2.4 4.8-5-7.1.5-.4-20-9.3-.2 4.2-6.6 4.5-1.2 3.2-8.6 3.1 1.2 5.3-4.2-.1-3.7-2.3-2.9 1.6-1.6 3-14.3 1.2-1.2-2.2-5.8-1.7-1.3.4 5.9-1.2-.2.9 1.8 1.3 1.2-6 11.1 1.3 3.3-8.6 6-8.4.6-9.9 18.7-4.6 5.1.5 5.9-1.3 1.3 5.6 13.5-4.5 1.2 2.8 14.5-3.9-.1-.3 1.4z')
        path.st0(d='M32.6 63.8l-6.1-1-2.9-3.5.7-6.4-2.7 2.7.5 5.9-1.3 1.3 5.5 13.3-4.5 1.2 2.8 14.4-3.8-.1-.3 2 5.2 5.8 5.9-3.6-5-1.1z')
        path.st1(d='M25.6 100L20 93.8l.4-2.6 3.6.1L21.3 77l4.3-1.2-5.4-13.1 1.4-1.4-.5-5.9 3.7-3.7-.8 7.5 2.7 3.2 6.4 1.1-6 30.9 5.7 1.2-7.2 4.4zM21 93.5l4.8 5.3 4.6-2.8-4.4-.9 6-30.8-5.8-1-3.2-3.8.5-5.2-1.6 1.6.5 5.9-1.1 1.2 5.6 13.5-4.5 1.2 2.8 14.5-3.9-.1-.3 1.4z')
        path.st1(d='M43.4 42.4l-5.6-.6.1-.9 5.1.6 12.3-15.3.7.6z')
        path.st0(d='M39.2 31.3l7.3-7.5 3.7-10.6-1-6.8 1.2-1.7 2 5.5.4-3.2 1.9 4.1-2.4 3.4.6 5.3-1.2 2.2.4 1-1.9 4.1-5.3 3.9z')
        path.st1(d='M38 31.9l8.1-8.3 3.6-10.4-.9-7 1.8-2.5 1.6 4.4.3-2.8 2.8 5.8-2.5 3.6.6 5.2-1.2 2.2.4.9-2 4.4-5.5 4-7.1.5zM49.7 6.5l.9 6.8v.1l-3.8 10.8-6.4 6.6 4.3-.3 5.1-3.7 1.7-3.8-.4-1 1.3-2.3-.6-5.3 2.4-3.4-1.1-2.3-.4 3.5-2.4-6.5-.6.8z')
    
  .rock(
    :style="{  bottom:ui.r.bottom+'%', left:rockLeft, width:rockWidth, height:rockHeight, marginLeft:rockMarginLeft }"
    :class="{ falling: ui.r.falling }"
  )
  .foreground