button.toggle.store(v-if="availableUpgrades?.length > 0" @click="toggleDrawer('store')")
  span.count(v-text="availableUpgrades.length")

aside.store(v-cloak v-if="availableUpgrades?.length > 0" v-bind:class="{ mobileVisible: (ui.visibleDrawer == 'store') }")
  .header Buy Upgrades
  .animated.zoomInDown(v-for="item,i in availableUpgrades" @click="buyItem(i,item)")

    a.item(v-bind:class="{ buyable: ui.score >= item.price}")
      .price {{addCommas(item.price)}}
      .name {{item.name}}
      .desc {{item.desc}}