.admin-screen { background:$black; color:$white; padding:$gap; padding-top:($gap * 2); font-family: $monospace; display:grid; grid-template-columns: 1fr; gap:$gap; position: relative;

  overflow-y: auto;


  .top-info { background: $adminPanelColor; @include position(absolute,0,0,null,0); border-bottom: 1px solid rgba(255,255,255,0.15);
    padding:10px $gap; display:grid; grid-template-columns: repeat(5,1fr);
  }


  .panel { border:1px solid rgba(255,255,255,0.15); padding:$padding; background:$adminPanelColor; box-shadow: 10px 10px 10px rgba(0,0,0,0.1); }

  //-.rules-summary {  }

  .rules-panel {
    .rules { display:grid; gap:($gap / 2); grid-template-columns: repeat( auto-fit, minmax(190px, 1fr) );
      button { font-weight: $medium; color:$white; border:1px solid $white; border-radius: 3px; padding:$padding; position: relative; background:transparent; cursor: pointer;


        &.rule { 
          .name { font-size:16px; }
          .cost { @include position(absolute,5px,5px); border:1px solid currentColor; line-height: 2em; width:2em; height:2em; text-align: center; border-radius: 50%; }
        }
        &.finished { grid-column: 2; font-size:18px; padding:16px 24px;
          &:hover { color:$green; }
        }

        &:hover:not([disabled]) { border-color:$green;
          .name { color:$green; }
        }
        &.active { font-weight: 900; }
        &[disabled]:not(.active) { color:rgba($white,0.65); border-color:rgba($white,0.65); }
        &[disabled] { cursor: default; }
        &.too-expensive { position: relative;
          &:before { content: 'You can not afford this rule.'; @include position(absolute,null,0,3px,0); color:$red; transform: translateY(120%); opacity: 0; transition:all 0.3s ease; font-size:12px; }
          &:hover:before { transform: translateY(0); opacity: 1; }
        }
      }
      
    }
  }

  .rule-details {
    input[maxlength="1"] { width:1.2em; }
    select.letter { width:4em; padding:0.3em; }
    select { font-family: $monospace; padding:0.5em 1.5em; font-size:18px; }
    font-size:26px;
    //-input, select { font-size:26px; }
  }

  .select-and-button,
  .fieldset-and-button { 
    button { text-transform: uppercase; font-weight: 900; font-size:22px; background:transparent; color:$white; border:1px solid $white; outline:none; border-radius: 4px; cursor: pointer;
      &:hover, &:focus { color:$green; border-color: $green; }
    }
  }

  /*
  .rules-advance { text-align: center;
    button { font-size:22px; font-family: $monospace; font-weight: 900; text-transform: uppercase; }
  }
  */

  .bug-setup { 
    .bug-errors { color:$adminError; padding-top:1em; }
    .button-holder { display:grid; grid-template-columns: repeat(3,1fr); gap:($gap / 2); padding-top:$padding; border-top:2px solid rgba(255,255,255,0.15); margin-top:$padding;
      button { grid-column: 2; font-weight: $medium; color:$white; border:1px solid $white; border-radius: 3px; padding:$padding; position: relative; background:transparent; cursor: pointer; font-size:18px; padding:16px 24px; text-transform: uppercase; 
        &:hover, &:focus { color:$green; border-color: $green; }
      }
    }
  }


  h2 { text-transform: uppercase; letter-spacing: 0.15em; margin-bottom: 1em; }

  @keyframes blinkRed { 
    0%   { color:rgba(255,0,0,0); }
    50%  { color:rgba(255,0,0,1); }
    100% { color:rgba(255,0,0,0); }
  }
  .crash-notification { 
    h2 { color:$red; animation: blinkRed 0.5s linear infinite; font-size:200%; letter-spacing: 0.2em; }
    button { font-weight: $medium; color:$white; border:1px solid $white; border-radius: 3px; padding:$padding; position: relative; background:transparent; cursor: pointer; font-size:18px; padding:16px 24px; text-transform: uppercase; 
      &:hover, &:focus { color:$green; border-color: $green; }
    }
  }


  .admin-only { color:$adminOnly; }

  button { font-family: inherit; }
}




.admin-screen { min-height: 99.9vh; display:grid;

  form {
    fieldset { position: relative; 
      select { width:100%; font-family:inherit; font-size:24px; background:transparent; color:$white; padding:20px 10px 4px 8px; }
      label { @include position(absolute,2px,null,null,10px); text-transform: uppercase; }
      option { color:$black; }
    }
    &.fieldset-and-button { display:grid; grid-template-columns: 1fr 120px; gap:10px;
      input { background:transparent; border:none; border-bottom:0.15em solid currentColor; color:$white; outline:none; font-size:23px; font-family: $monospace; padding-left:0.3em; padding-right: 0.3em; margin-left: 1em;
        &:focus, &:hover { border-color:$green; color:$green;
          &::placeholder { color:rgba($green,0.6)}
        }
      }
      select { background:#010101; color:$white;
        option { color:$white; }
      }
      label { position: relative; margin-right: 1em; }
    }
    &.select-and-button { display:grid; grid-template-columns: 1fr 120px; gap:10px; margin-left: 1em;
      select { background:transparent; color:$white; border:0; font-weight: 500;
        &:focus { background:#000; }
      }
    }
  }

  .attempt-console {
    ol { margin-top:2em;
      li { margin-bottom: 1em; margin-left: 2em; list-style-type: decimal;
        .name, .pass { font-weight: 900; }
      }
    }
    .failed { color:rgba(255,56,56,1); }
    .success { color:rgba(56,255,56,1); }
  }

  .admin-timer { background:black; @include position(fixed,null,$gap,$gap); padding:$padding;
    time { color:$green; }
    time { font-size:280%;
      sup {font-size:85%; top:unset }
    }
  }

}

@media (max-width:720px) {
  .admin-screen { grid-template-columns: 1fr;
    .scorekeeper { grid-column:unset; }
  }
}

@media (min-width:721px) {
  .admin-screen { grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 120px;
  }
}