.create-or-join {

  input,
  button { cursor: pointer; }
  .create {  background: linear-gradient(to bottom right, #493240, #ff0099); clip-path: polygon(0 0, 0% 100%, 100% 0);  @include position(absolute,0,0,0,0); padding:4em;
    button { font-size:3.7vw; color:white; font-family: $serif; font-weight: normal; text-transform: none; display:block; background:transparent; border:none;
      &:hover, &:focus { color:yellow; }
    }
  }
  .or { font-size:max(7vw, 50px); text-align: center; color:white; @include position(absolute,50%,50%); z-index: 4; display: block;  transform:rotate(334deg) translate(53px, -40px); text-transform: uppercase; font-family: $sans-serif;  }
  /*
  .join {
    input { background:transparent;
      &::placeholder { color:$black; }
      &:hover {
        &::placeholder { color:$blue; }
      }
      &:focus { color: $blue; border: 2px solid $blue; outline: none;
        &::placeholder { color:rgba($blue,0.4); }
      }
    }
    form { width:100%; position: relative; }
    button { background:$blue; color:$white;
      @include position(absolute,null,0,0,0);
      font-size:24px;
    }
  }
  */


  .join { background: linear-gradient(to top left, #4b0fc2, #8e2de2); @include position(absolute,0,0,0,0); clip-path: polygon(0 100%, 100% 100%, 100% 0);  padding:4em; display: flex; align-items:flex-end; justify-content: flex-end;
    input { font-size:9vw; color:#9be2d8; font-family: $serif; display:block; width:4em; border:none; outline:none; background: transparent;
      &::placeholder { color:#9be2d8; font-size:3.7vw; }
      &:focus { color:yellow;
        &::placeholder { color:yellow; }
      }
    }
    button { margin-left: auto; display: block; font-family: $serif; font-size:3em; background: transparent; border:none; color:#9be2d8;
      &:hover, &:focus { color:yellow; }
    }
  }
}
