.employee-screen { background:$white; padding:$gap; padding-top:($gap * 2); font-family: $serif; position: relative;
  .top-info { background: $employeePanelColor; @include position(absolute,0,0,null,0); border-bottom: 1px solid rgba(0,0,0,0.15);
    padding:10px $gap; display:grid; grid-template-columns: repeat(5,1fr);
  }

  display:flex; align-items: center; justify-content: center;
  .inner { width:100%; max-width: 500px; background: $employeePanelColor; border: 1px solid rgba(0,0,0,0.15); padding:$padding; box-shadow: 2px 2px 18px rgba(0,0,0,0.3); border-radius: 20px; }


  form { margin-top:$padding; margin-bottom: $padding;

    fieldset { position: relative;
      input { font-size:2rem; font-family: inherit; display: block; padding:20px 0 5px 20px; width:100%; border:2px solid rgba(0,0,0,0.2); outline:none;
        &:focus { border-color: $blue;
          ~ label { color:$blue; }
        }
        .error { border-color:$red; }
      }
      label { @include position(absolute,5px,5px,null,25px); display: block; color:$black; font-size:14px; font-weight: 700; letter-spacing: 0.1em; text-transform: uppercase; }
    }
    .required { color:$red; }
    button[type="submit"] { display:block; width:100%; font-family: inherit; font-weight: $bold; text-transform: uppercase; font-size:26px;
      background:$blue; border:none; border-radius: 0; border-bottom-left-radius: 16px; border-bottom-right-radius: 16px; padding:0.35em 2em; font-weight: 900; letter-spacing: 0.3em;
    }
  
    input, button { border-radius: 0; }
    input { border-top-left-radius: 16px; border-top-right-radius: 16px; }
  }

  .password-errors { color:$red;
  }


  .crash-screen { background:white; color:black; padding:$padding; @include position(absolute,0,0,0,0); display: flex; // align-items: center; justify-content: center;
    .inside { width:100%; }
    h1 { color: red; border-bottom: 3px solid currentColor; display:block; margin-bottom: 2em; }
    pre { background: #ffffcc; font-weight: bold; padding:1em; margin-bottom:2em; }
    footer { border-top:2px solid black; }
  }
}


.employee-screen { min-height: 99.9vh; display:grid; grid-template-columns: 1fr; grid-template-rows: 1fr 120px;
  .inner { margin-left: auto; margin-right:auto;}

  .hurry-timer { width:6vw; height: 6vw; background:white; border-radius: 50%; @include position(absolute,55px,25px); text-align: center; padding-top:0.5vw; border:2px solid rgba(0,0,0,0.15); box-shadow: -9px 9px 9px rgba(0,0,0,0.35);
    .label { text-transform: uppercase; font-weight: 700; margin-top: 10px; background:rgb(40,40,40); color:white; padding:0.25em; border-radius: 4px; box-shadow: -9px 9px 9px rgba(0,0,0,0.35); }
    .time-left { font-size:4vw; line-height: 100%;
      .integer { display: inline-block; width:1ch;
        &.double-digit { width:2ch; }
      }
      .decimal { display: inline-block; width:0.8ch; transform: translate(-40%,6px); }
    }

  }
}