.final-round { font-family: $serif;
  
  .inside { width:100%; max-width: 62ch; margin-left: auto; margin-right: auto; background:rgba(15,15,15,0.6); backdrop-filter:blur(8px); padding:1.5em; color:white; }

  video.fullscreen { @include position(fixed,0,0,0,0);
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }



  .password-form { max-width: 360px; margin:$gap auto;

    fieldset { position: relative;
      input { font-size:2rem; font-family: inherit; display: block; padding:20px 0 5px 20px; width:100%; border:2px solid rgba(0,0,0,0.2); outline:none; background:transparent; color:white; border-color:white; text-transform: uppercase;
        .error { border-color:$red; }
      }
      label { @include position(absolute,5px,5px,null,25px); display: block; color:white; font-size:14px; font-weight: 700; letter-spacing: 0.1em; text-transform: uppercase; }
    }
    .required { color:$red; }
    button[type="submit"] { display:block; width:100%; font-family: inherit; font-weight: $bold; text-transform: uppercase; font-size:26px; background:white; border:none; border-radius: 0; border-bottom-left-radius: 16px; border-bottom-right-radius: 16px; padding:0.35em 2em; font-weight: 900; letter-spacing: 0.3em; cursor: pointer;
      &:hover, &:focus { background:#000; color:#fff; }
    }
  
    input, button { border-radius: 0; }
    input { border-top-left-radius: 16px; border-top-right-radius: 16px; }
  }

  .password-errors { color:#eb3939; margin-bottom: 1em; font-weight: 700; }
  .success { color:$green; font-weight: 700; }
  .there-are-unclaimed { font-weight: 700;
    .count { font-size:130%; }
  }


  .scorekeeper { padding:($gap * 2) $gap 0 0;
    .player { backdrop-filter:blur(8px); color:rgba(255,255,255,0.7);
      &.you { color:rgba(255,255,255,1); }
    }
  }

  .timer { @include position(fixed,null,20px,20px); background:rgba(255,255,255,0.6); width:5vw; height:5vw; border-radius: 50%; line-height: 5vw; text-align: center; font-size:3.6vw;
  }

  .round-reminder { @include position(fixed,null,null,0,0); background:rgba(255,255,255,0.85); backdrop-filter:blur(8px); padding:$padding;
    li { margin-left: 1em; list-style: decimal; padding-left: 1em; margin-bottom: 0.5em; }

    transform: translateY(102%); transition: transform 8s ease;
    &.visible { transform: translateY(0); }
  }
}

@media (max-width:720px) {
  .final-round { position: relative; display: block;
    .interface { padding:$gap $padding; }
  }
}

@media (min-width:721px) {
  .final-round { @include position(fixed,0,0,0,0); display:grid; grid-template-columns: 1fr ($scorebard-width + $gap);
    .interface { display:flex; align-items: center; justify-content: center; padding-left: 100px; }
  }
}