.pregame { height:100vh; font-family: $sans-serif; color:white; padding:$padding;

  background-image:url(../img/tom-conway-tKSYZE5RTzw-unsplash.jpg); background-size:cover; background-position: center;

  .sign-in { display: flex; align-items: center; justify-content: center; }
  .inside { padding:90px 60px; position: relative; backdrop-filter:blur(4px);
    &:before {  @include position(absolute,0,0,0,0); content:""; background: linear-gradient(to top left, #4c1265, #f80759); opacity: 0.75; }
    h1 { position: relative; color:white; }
  }
  form { width:280px; margin-left: auto; margin-right: auto; display:grid; grid-template-columns: 1fr; gap:10px; position: relative;
    fieldset { display: block; position: relative;
      input { font-family: inherit; font-size:20px; padding:15px 10px 2px 10px; display: block; color:white; width:100%; background:rgba(0,0,0,0.25); border:1px solid rgba(0,0,0,0.8) }
      label { @include position(absolute,2px,null,null,10px); font-size:14px; letter-spacing: 0.1em; outline: none;
        &:focus { border-color:white; }
      }
      &.checkbox {
        label { @include position(relative,null,null,null,null); display: inline-block; }
        input { width: auto; display: inline-block; }
      }
    }
    button { display: block; width:100%; font-family: inherit; background: linear-gradient(to top, #0f0c29, #302b63, #24243e); background-size:100%; color:white; border:none; border-radius: 6px; box-shadow: 0 0 5px rgba(0,0,0,0.35); font-size:16px; padding:10px; cursor: pointer;
      &:hover, &:focus { background: linear-gradient(to top, #0f0c29, #574ccc, #24243e); } 
    }
  }
  .start-button { margin-top: 1em; position: relative;
    button { display: block; width:100%; font-family: inherit; background:linear-gradient(to bottom, #650524, #e4084f, #650527); border:1px solid currentColor; font-size:16px; padding:10px; cursor: pointer; border-radius: 8px; color:white; border:none; box-shadow: 0 0 8px rgba(0,0,0,0.5);
      &:hover, &:focus { background: saturate($red, 15%); }
    }
  }

  .players {
    .player { display:block; padding:1rem; margin-bottom: 1rem; background:rgba($black,0.75); color:$white; box-shadow: -6px 6px 6px rgba(0,0,0,0.15); position: relative;
      &.is-me { background:$black; }
    }
    .number { font-style: italic; }
    .name { text-transform: uppercase; letter-spacing: 0.1em; word-break: break-word; margin-top:0.5em; font-size: 130%;  }
    .host { @include position(absolute,6px,6px); color:$white;
      svg { width:26px; height: 26px; }
    }
  }

  .room-code { text-align: center;
    .display { font-weight: 700; font-size:325%; }
  }

  .nobody-here { display: flex; align-items: center; justify-content: center;
    .inside { max-width: 68ch; }
    h2 { margin-bottom: 1em; }
  }
  
}

@media (min-width:721px) {
  .pregame { display: grid; grid-template-columns: $scorebard-width 1fr $scorebard-width;  gap:$gap;
    
  }
}