.pregame { height:99.9vh; font-family: $sans-serif; padding:$padding;

  .sign-in { display: flex; align-items: center; justify-content: center; }
  form { width:280px; margin-left: auto; margin-right: auto; display:grid; grid-template-columns: 1fr; gap:10px;
    fieldset { display: block; position: relative;
      input { font-family: inherit; font-size:20px; padding:15px 10px 2px 10px; display: block; width:100%; }
      label { @include position(absolute,2px,null,null,10px); font-size:14px; letter-spacing: 0.1em; font-weight: 700; }
      &.checkbox {
        label { @include position(relative,null,null,null,null); display: inline-block; }
        input { width: auto; display: inline-block; }
      }
    }
    button { display: block; width:100%; font-family: inherit; background:$blue; border:1px solid currentColor; font-size:16px; padding:10px; cursor: pointer;
      &:hover, &:focus { background: saturate($blue, 15%); }
    }
  }
  .start-button { margin-top: 1em;
    button { display: block; width:100%; font-family: inherit; background:$red; border:1px solid currentColor; font-size:16px; padding:10px; cursor: pointer;
      &:hover, &:focus { background: saturate($red, 15%); }
    }
  }

  .players {
    .player { display:block; padding:1rem; margin-bottom: 1rem; background:rgba($black,0.75); color:$white; box-shadow: -6px 6px 6px rgba(0,0,0,0.15); position: relative;
      &.is-me { background:$black; }
    }
    .number { font-style: italic; }
    .name { text-transform: uppercase; letter-spacing: 0.1em; word-break: break-word; margin-top:0.5em; font-size: 130%;  }
    .host { @include position(absolute,6px,6px); color:$white;
      svg { width:26px; height: 26px; }
    }
  }

  .room-code { text-align: center;
    .display { font-weight: 700; font-size:325%; }
  }

  .nobody-here { display: flex; align-items: center; justify-content: center;
    .inside { max-width: 68ch; }
    h2 { margin-bottom: 1em; }
  }
  
}

@media (min-width:721px) {
  .pregame { display: grid; grid-template-columns: $scorebard-width 1fr $scorebard-width;  gap:$gap;
    
  }
}