include ../../global/_variables
- const siteTitle = "No More Billionaires"
- const githubRepo = "https://github.com/ahoyLemon/kinda.fun"
- const pageURL = "https://kinda.fun/guillotine"
- const description = "The game where you generate wealth through the use of a guillotine."