@use "index" as *;

.v-toast.v-toast--bottom {
  padding-bottom: 3.2em;
}
.v-toast__text {
  h2 {
    font-family: $displayFont;
    font-size: 38px;
  }
  h4 {
    font-family: $displayFont;
    font-size: 19px;
  }
}

@media only screen and (max-width: 600px) {
  .Vue-Toastification__container.bottom-left,
  .Vue-Toastification__container.bottom-right,
  .Vue-Toastification__container.bottom-center {
    // bottom: 45px;
    flex-direction: column-reverse;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 80px;
  }
}
