//GLOBALS, GET DEFAULTS
// @import "@/shared/scss/globals/_reset";
@import "@/shared/scss/globals/_variables";
@import "@/shared/scss/globals/_mixins";
@import "@/shared/scss/globals/_extends";
@import "@/shared/scss/globals/_reset";

@import "@/shared/scss/libraries/vue_toastification";

@import "scss/variables";
@import "scss/extends";
@import "scss/defaults";

@import "scss/libraries//multiselect-custom";

@import "scss/form";
@import "scss/choose-religion";
@import "scss/sermon";
@import "scss/diagnosis";
@import "scss/weekly-report";
@import "scss/sermon-results";

section.preaching {
  min-height: 100dvh;
  background-color: #353535;
  background-image: url("/img/megachurch/bg/pexels-dhenry-9124344.jpg");
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.diagnosis {
  width: 100%;
  max-width: 600px;

  ol {
    list-style: decimal;
    padding-left: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1.45rem;
    li::marker {
      font-size: 75%;
      font-weight: 700;
    }
  }
  p {
    font-size: 1.25rem;
    margin-bottom: 0.5em;
    line-height: 140%;
    strong {
      display: inline-block;
    }
  }

  .button-holder {
    @extend %buttons;
  }
}
