//GLOBALS, GET DEFAULTS
// @import "@/shared/scss/globals/_reset";
@import "@/shared/scss/globals/_variables";
@import "@/shared/scss/globals/_mixins";
@import "@/shared/scss/globals/_extends";
@import "@/shared/scss/globals/_reset";

@import "@/shared/scss/libraries/vue_toastification";

@import "scss/variables";
@import "scss/extends";
@import "scss/mixins";
@import "scss/defaults";
@import "scss/animations";
@import "scss/transitions";

@import "scss/libraries/multiselect-custom";
@import "scss/libraries/toastification-custom";

// Screens
@import "scss/title-screen";
@import "scss/form";
@import "scss/choose";
@import "scss/sermon";
@import "scss/your-details";
@import "scss/diagnosis";
@import "scss/preaching";
@import "scss/weekly-report";
@import "scss/sermon-results";
@import "scss/game-over";

// Components
@import "scss/spice-warning";
@import "scss/mobile-unscreen";
