.game-screen

  main

    include pug/_choose-religion.pug

    include pug/_choose-place.pug

    include pug/_create-sermon.pug

    include pug/_sermon-diagnosis.pug

    include pug/_preaching.pug

    include pug/_sermon-results.pug

  include pug/_your-details.pug

  // Spice dealer chat interface
  PlugChat(
    :isOpen="isPlugChatOpen"
    :playerName="my.name"
    :playerMoney="my.money"
    :spicePrice="gameSettings.spice.pricePerUnit"
    :spiceRequired="my.spice.requiredAmount"
    :chatHistory="my.plugChat.chatHistory"
    :totalOrders="my.plugChat.totalOrders"
    @close="closePlugInterface"
    @order="handlePlugOrder"
  )  