//GLOBALS, GET DEFAULTS
// @import "@/shared/scss/globals/_reset";
@import "@/shared/scss/globals/_variables";
@import "@/shared/scss/globals/_mixins";
@import "@/shared/scss/globals/_extends";
@import "@/shared/scss/globals/_reset";

@import "scss/variables";
@import "scss/extends";
@import "scss/defaults";

@import "scss/libraries//multiselect-custom";

@import "scss/form";
@import "scss/choose-religion";
@import "scss/sermon";
@import "scss/diagnosis";

aside.your-details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #212121;
  color: white;
  max-width: 240px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: $sans-serif;
  .box {
    border: 1px solid #ddd;
    padding: 10px;
    .label {
      font-weight: 600;
      font-size: 0.875rem;
      text-transform: uppercase;
    }
    .value {
      padding-top: 5px;
      font-family: $serif;
      font-size: 1.35rem;
    }
  }
  .box.top-religions {
    .value {
      font-size: 1rem;
    }
    ol {
      display: grid;
      gap: 0.25em;
      list-style: decimal;
      padding-left: 1em;
      li::marker {
        font-size: 80%;
      }
    }
  }
}

section.diagnosis {
  width: 100%;
  max-width: 600px;

  ol {
    list-style: decimal;
    padding-left: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1.45rem;
    li::marker {
      font-size: 75%;
      font-weight: 700;
    }
  }
  p {
    font-size: 1.25rem;
    margin-bottom: 0.5em;
    line-height: 140%;
    strong {
      display: inline-block;
    }
  }

  .button-holder {
    @extend %buttons;
  }
}
