aside.your-details(v-if="my.religion?.name")

  .box
    .label Name
    .value {{my.name}}

  .box(v-if="my.religion")
    .label religion
    .value {{my.religion.name}}

  .box(v-if="my.place?.name")
    .label Place
    .value {{my.place.name}}
  
  .box
    .label Money
    .value {{dollars(my.money)}}
  
  .box
    .label Followers
    .value {{my.followerCount}}
  
  .box.top-religions(v-if="computedTopReligions")
    .label Top Religions
    .value
      ol 
        li(v-for="religion in computedTopReligions.slice(0, 3)") {{religion.name}}


main

  include pug/_choose-religion.pug

  include pug/_choose-place.pug

  include pug/_create-sermon.pug

  include pug/_sermon-diagnosis.pug

  section(v-if="ui.view === 'preached'")

    .buttons
      button(@click="collectDonations()") GET PAID 🤑
    
    table.debug
      caption Followers
      thead
        tr
          th id
          th name
          th followers
      tbody
        tr(v-for="religion in my.followers.slice().sort((a, b) => b.followers - a.followers)")
          td {{religion.id}}
          td {{religion.name}}
          td {{religion.followers}}

    table.debug
      thead
        tr
          th id
          th name
          th score
      tbody
        tr(v-for="religion in my.religiousScorecard.slice().sort((a, b) => b.score - a.score)")
          td {{religion.id}}
          td {{religion.name}}
          td {{religion.score}}