//GLOBALS, GET DEFAULTS
// @import "@/shared/scss/globals/_reset";
@import "@/shared/scss/globals/_variables";
@import "@/shared/scss/globals/_mixins";
@import "@/shared/scss/globals/_extends";
@import "@/shared/scss/globals/_reset";

$serif: "Literata", serif;
$sans-serif: "Cabin", sans-serif;

$pink: #ff595e;
$yellow: #ffca3a;
$green: #8ac926;
$blue: #1982c4;
$purple: #6a4c93;

$focus: $blue;

@import "scss/extends";

:root {
  --ms-option-bg-selected-pointed: #212121;
  --ms-option-bg-selected: #313131;
  --ms-option-bg-pointed: #90caf9;
}
.multiselect {
  border: none;
  font-family: $serif;
  font-size: 1.45rem;
  &-single-label,
  &-placeholder {
    padding-left: 12px;
    font-weight: 700;
  }
  &.is-active {
    border: none;
    box-shadow: none;
  }
  &-dropdown {
    max-height: 20rem;
  }
  &-option {
    font-family: $sans-serif;
    font-size: 0.875rem;
  }
}

@import "scss/form";

main {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.sermon {
  font-family: $sans-serif;
  width: 100%;
  max-width: 600px;
  h2 {
    font-family: $serif;
    font-size: 2.35rem;
  }
}

section.name-and-religion {
  font-family: $sans-serif;
  width: 100%;
  max-width: 320px;

  .religion-explainer {
    border-top: 1px solid #999;
    padding: 14px;
    font-size: 0.875em;
    font-family: $sans-serif;
    line-height: 140%;
  }
}

aside.your-details {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #212121;
  color: white;
  max-width: 220px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: $sans-serif;
  .box {
    border: 1px solid #ddd;
    padding: 10px;
    .label {
      font-weight: 600;
      font-size: 0.875rem;
      text-transform: uppercase;
    }
    .value {
      font-family: $serif;
      font-size: 1.35rem;
    }
  }
}

section.diagnosis {
  width: 100%;
  max-width: 600px;

  ol {
    list-style: decimal;
    padding-left: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1.45rem;
    li::marker {
      font-size: 75%;
      font-weight: 700;
    }
  }
  p {
    font-size: 1.25rem;
    margin-bottom: 0.5em;
    line-height: 140%;
    strong {
      display: inline-block;
    }
  }

  .button-holder {
    @extend %buttons;
  }
}
