include ../../shared/pug/_variables.pug
- const name = "MegaChurch Tycoon"
- const desc = ""
- const keywords = ""
- const gameUrl = baseUrl + "/megachurch"
- const ogImage = ""
- const datePublished = ""

doctype html
html(lang="en")
  head
    include ../../shared/pug/_meta.pug

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap" rel="stylesheet")

    link(href="/megachurch.css?lastUpdated=" + lastUpdated type="text/css" rel="stylesheet")

  body
    #app
    script(type="module" src="/src/entries/pretend.js")

    // Schema.org
    include pug/_schema.pug
 