include ../../shared/pug/_variables.pug
- const name = "Megachurch Tycoon"
- const desc = "Turn their faith into your fortune, one lie at a time."
- const keywords = "satire, management game, dark humor, American religion, parody, organized religion, materialism, greed, hypocrisy, browser game, single player, sermon, profit, social commentary, prosperity gospel"
- const gameUrl = baseUrl + "/megachurch"
- const ogImage = baseUrl +"/img/og-megachurch.png"
- const datePublished = ""

doctype html
html(lang="en")
  head
    include ../../shared/pug/_meta.pug

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Commissioner:wght@100..900&display=swap" rel="stylesheet")

    link(href="/megachurch.css?lastUpdated=" + lastUpdated type="text/css" rel="stylesheet")

    // Favicon
    link(rel="apple-touch-icon" sizes="180x180" href=baseUrl+"/img/megachurch/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href=baseUrl+"/img/megachurch/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href=baseUrl+"/imgmegachurchs/favicon-16x16.png")
    link(rel="shortcut icon" href=baseUrl+"/img/megachurch/favicon.ico")

    include pug/_opengraph.pug

  body
    #app
    script(type="module" src="/src/entries/megachurch.js")

    // Schema.org
    include pug/_schema.pug