ul.cards
  li(v-for="card in computedPlayerHand" :key="card.id")
    button.card(:class="card.status" @click="playThisCard(card)" :disabled="you.isCurrentlyPlayingACard || card.status === 'played' || card.status === 'stolen'")
      .points-holder
        .points {{card.points}}
      .phrase-holder
        blockquote {{card.phrase}}