section.citations
  .inner
    .citations-header Citations
    ul.citations-list
      li.cite
        a(href="https://www.forbes.com/billionaires/" target="_blank") Forbes Billionaires 2022
      li.cite(v-if="computedToday == 'Saturday, May 6<sup>th</sup>'")
        a(href="https://www.theguardian.com/uk-news/ng-interactive/2023/apr/20/revealed-king-charless-private-fortune-estimated-at-almost-2bn" target="_blank") King Charles’s private fortune estimated at £1.8bn
      li.cite
        a(href="https://educationdata.org/public-education-spending-statistics" target="_blank") U.S. Public Education Spending Statistics
      li.cite
        a(href="https://www.kaggle.com/datasets/jjdaguirre/forbes-billionaires-2022" target="_blank") Billionaires of 2022 CSV on Kaggle
      li.cite
        a(href="https://www.publicschoolreview.com/average-school-size-stats/national-data"  target="_blank") Average Public School Student Size (2023)