link(rel="apple-touch-icon" sizes="180x180" href="/img/wrongest/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="/img/wrongest/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="/img/wrongest/favicon-16x16.png")
link(rel="shortcut icon" href="/img/wrongest/favicon.ico")
meta(name="msapplication-TileColor" content="#ef507a")
meta(name="theme-color" content="#ef507a")