main.game-over(v-if="gameOver")

  section.headline
      h1 Game Over!

  section.final-scores
    .players
      .player(v-for="(player,index) in computedPlayersByScore" :rank="(index + 1)")
        .name {{player.name}}
        .score(:class="{'positive': player.score > 0, 'negative': player.score < 0, 'zero': player.score == 0 }")
          span.number {{player.score}}

  section.statements

    h2 The Wrongest Words...

    .statement-list.wrongest(:holds="computedStatementsByScore.wrongest.length")
      .statement(v-for="(statement,index) in computedStatementsByScore.wrongest")
        .card
          blockquote(v-html="cardText(statement.card)")
          cite(v-text="statement.playerName")
        .score(:class="{'positive': statement.score > 0, 'negative': statement.score < 0, 'zero': statement.score == 0 }")
          span.number {{statement.score}}

    h2 The Least Wrong Words...

    .statement-list.least-wrong(:holds="computedStatementsByScore.leastWrong.length")
      .statement(v-for="(statement,index) in computedStatementsByScore.leastWrong")
        .card
          blockquote(v-html="cardText(statement.card)")
          cite(v-text="statement.playerName")
        .score(:class="{'positive': statement.score > 0, 'negative': statement.score < 0, 'zero': statement.score == 0 }")
          span.number {{statement.score}}

  .game-by-lemon
    a(href="https://ahoylemon.xyz")
      h3 This game is 
        span by Lemon.
      img(src="/svg/lemon.svg" alt="Lemon")
  
  section.final-links
    a(href="https://github.com/AhoyLemon/invalid") GitHub Repo.
    a(href=siteURL) Play Again.