head
  title The Wrongest Words
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap" rel="stylesheet")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(href="css/wrongest.css" type="text/css" rel="stylesheet")

  include _favicons
  include _social
  include _schema