main.player-list(v-if="gameStarted && !computedAmIPresenting")
  .inside 
    .players
      .player(v-for="(player,index) in players"
        :class="{  'is-you': (my.playerIndex == index),  'presenting': (round.activePlayerIndex == index && round.playerPresenting), 'already-went': (index <= round.activePlayerIndex), 'up-next': ((round.activePlayerIndex + 1) == index && !round.playerPresenting)  }")
        .number 
          span {{index+1}}
        .name {{player.name}}
        .text(v-if="(my.playerIndex == index)")
          blockquote(v-text="cardText(player.card)")
        .current(v-if="round.activePlayerIndex == index")
          input.timer(v-model="round.presentationTimeLeft" type="number" data-min="0" data-max="30" step="0.05" readonly data-linecap="round" data-width="80")
        //-.up-next(v-if="(round.activePlayerIndex + 1) == index && !round.playerPresenting") UP NEXT
        
    //-.button-holder(v-if="computedAmITheDealer")
    .button-holder
      button.deal-button(@click="dealCard()") Deal Card