.pregame(v-if="inRoom && !gameStarted")

  .room-code
    .label Your room code
    .display {{roomCode}}
    .how-to-share(v-if="isRoomHost || players.length > 0") Share this URL to invite your friends to play.

  .video-holder(v-if="ui.watchingVideo")
    .inside
      figure.video
        iframe#ytplayer(type="text/html" src="https://www.youtube-nocookie.com/embed/2jE6ifrz9bU?autoplay=1&controls=0&fs=0&modestbranding=1&playsinline=1&color=white" frameborder="0" allowfullscreen)
      figcaption
        button(@click="ui.watchingVideo = false") Okay, close this video.

  .nobody-here(v-else-if="!isRoomHost && players.length < 1")
    .inside
      .content
        h2 There's nobody here.
        p Either you have the wrong room code, or your host hasn't entered their name yet.

  .sign-in(v-else-if="(isRoomHost || players.length > 0) && !gameStarted")

    .inside
      form.pregame-form(@submit.prevent="updateMyInfo()")
        fieldset
          input(v-model="my.name" type="text" maxlength="34" required)
          label Your Name

        .button-holder
          button(type="submit") 
            span(v-if="!ui.nameEntered") Save Name
            span(v-if="ui.nameEntered") Change Name

        //-fieldset.checkbox(v-if="isRoomHost && ui.appliedForJob && players.length > 1")
          input(v-model="allowNaughty" type="checkbox" id="AllowNaughtyChallenges")
          label(for="AllowNaughtyChallenges" title="Checking this will allow profane and/or sexual challenges, passwords and options to be available") Allow naughty things.
      
      .deck-selector-ui(v-if="isRoomHost && ui.nameEntered")
        select(v-model="ui.deckName" @change="changeDeck()")
          option(value="" disabled) Choose a deck to play with
          option(v-for="deck in allDecks") {{deck.name}}
        .deck-decription(v-if="ui.deckName && chosenDeck")
          p {{chosenDeck.description}}
          p(v-if="chosenDeck.cards")
            strong {{chosenDeck.cards.length}} cards

            
      .start-button(v-if="isRoomHost && ui.nameEntered && players.length > 2 && chosenDeck.name")
        button(type="button" @click="startTheGame()") Start The Game



  .players
    .player(v-for="player in players" :class="{ 'is-me' : (my.socketID == player.socketID), 'is-host': player.isRoomHost }")
      .player-inside
        //-.number {{'#' + player.employeeNumber}}
        .name {{player.name}}
        .host(v-if="player.isRoomHost")
          svg(height="100px" width="100px" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" space="preserve")
            path(d="M65,26c-1.6499,0-3,1.3501-3,3c0,0.46,0.1001,0.8999,0.29,1.29l-5.1499,5.1499c-0.2202,0.22-0.52,0.3301-0.8301,0.29   c-0.3101-0.05-0.5903-0.23-0.7402-0.5l-2.6997-4.73c-0.1602-0.27-0.4302-0.45-0.7402-0.49s-0.6201,0.0601-0.8398,0.28L47.3799,34.2   c-0.2397,0.24-0.5698,0.3401-0.8999,0.28c-0.3301-0.0701-0.5898-0.28-0.7202-0.5898L42.0303,25.2C42.6299,24.6599,43,23.8701,43,23   c0-1.6499-1.3501-3-3-3s-3,1.3501-3,3c0,0.8599,0.3599,1.6499,0.9697,2.2l-3.7295,8.6902C34.1099,34.2,33.8501,34.4099,33.52,34.48   c-0.3301,0.0601-0.6602-0.04-0.8999-0.28L28.71,30.29c-0.2197-0.22-0.5298-0.3201-0.8398-0.28s-0.5801,0.22-0.7402,0.49   l-2.6997,4.73c-0.1499,0.27-0.4302,0.45-0.7402,0.5c-0.3101,0.03-0.6099-0.0701-0.8301-0.29L17.71,30.29   C17.8999,29.8999,18,29.46,18,29c0-1.6499-1.3501-3-3-3s-3,1.3501-3,3c0,1.5701,1.2197,2.8599,2.7598,2.98l6.25,22.2   C21.2803,58.1899,30.6802,60,40,60s18.7197-1.8101,18.9902-5.8201l6.25-22.2C66.7803,31.8599,68,30.5701,68,29   C68,27.3501,66.6499,26,65,26z M40,58c-11.3198,0-17-2.5601-17-4s5.6802-4,17-4s17,2.5601,17,4S51.3198,58,40,58z")

  .instructions-banner
    .banner-inside
      strong Need instructions? 
      a(@click="ui.watchingVideo = true") Click here.
      br
      | I promise I'll try to make it quick.