.title-screen(v-if="!inRoom")

  .logo-holder
    figure.logo
      //-img(src="svg/wrongest.svg")
      .countdown(:class="{'nearly-done' : (round.presentationTimeLeft < 12) }")
        .number 
          span {{parseInt(round.presentationTimeLeft)}}
        svg(x="0" y="0" viewBox="0 0 100 100" space="preserve")
          circle(cx="50" cy="50" r="40" :style="{ 'stroke-dashoffset': computedDashOffset }")
  
  .create
    button(@click="createRoom()") Create a New Room
  
  .or
    span or

  .join
    form(@submit.prevent="joinRoom()")
      button(v-if="roomCode && roomCode.length > 3" type="submit") Join this room.
      input(type="text" minlength="4" maxlength="4" required v-model="roomCode"
        @input="roomCode = $event.target.value.toUpperCase()"
        placeholder="Enter A Room Code"
      )
      .enter-a-room-code