- var testing = true
- var siteTitle = "The Wrongest Words"
- var siteURL = "https://kindafun.herokuapp.com"
- var pageURL = "https://kindafun.herokuapp.com/wrongest"
- var description = "You're going to defend some very stupid ideas."
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()
