@use "sass:color";
@use "variables" as v;

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%commalist {
  li {
    display: inline;
    &:after {
      content: ",";
    }
    &:last-child:after {
      content: "";
    }
  }
}

%fanart {
  background-color: v.$episode;
  border: 1px solid #777;
  display: inline-block;
  max-width: 480px;
  margin-bottom: 1em;
  margin-right: 0.75em;
  img {
    padding: 15px;
    max-height: 520px;
  }
  figcaption {
    background-color: #777;
    color: v.$white;
    text-align: center;
  }
  &:hover {
    background-color: color.adjust(v.$yellow, $lightness: 15%);
    cursor: pointer;
  }
  &.big {
    max-width: 100%;
    img {
      max-height: none;
    }
  }
}

%textlink {
  text-decoration: none;
  &:hover {
    border-bottom: 0.05em solid v.$red;
  }
}
