main.general-stats {
  grid-column: span 2;
  min-height: 100dvh;
  // display: flex;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
  font-family: $serif;
  grid-template-rows: 1fr 60px;
  .inside {
    width: 100%;
  }

  .game-summaries {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 80px;
    justify-content: space-evenly;
    .summary {
      text-align: center;
      flex-basis: 300px;
      flex-grow: 0;
      flex-shrink: 1;
      button {
        display: none;
      }
    }
    figure {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
    img {
      cursor: pointer;
      opacity: 0.8;
      max-width: 100%;
      max-height: 140px;
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
    .last-played {
      padding-bottom: $padding;
    }
    .time-caption {
      font-size: 110%;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    .time-ago {
      font-size: 140%;
      font-weight: 900;
    }
    .more-stats {
      min-height: 3em;
    }
    button {
      background: #2d4450;
      font-family: inherit;
      font-weight: 900;
      font-size: 1.3rem;
      border: 2px solid rgba(255, 255, 255, 0.5);
      color: white;
      padding: 0.25em 1em;
      border-radius: 6px;
      cursor: pointer;
      &:hover,
      &:focus {
        background: saturate($color: #2d4450, $amount: 50%);
      }
    }
  }
  display: grid;
  grid-template-columns: 1fr 480px;
  gap: $gap;

  .player-table {
    // max-height: calc(100dvh - 40px);
    overflow-y: auto;
    h2 {
      font-size: 175%;
      padding-bottom: 0.35em;
    }
  }
  .good-table {
    .vgt-wrap__footer {
      select.footer__row-count__select {
        color: $white;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
    table.vgt-table {
      td {
        border-left: 1px solid rgba(0, 0, 0, 0.3);
      }
      th {
        font-weight: 900;
        padding: 5px 20px 5px 10px;
        text-transform: uppercase;
        font-size: 85%;
        font-family: $sans-serif;
        font-weight: 525;
        button {
          cursor: pointer;
        }
        button:after,
        button:before {
          border: none;
        }

        &.sorting {
          button:after {
            background-color: $yellow;
            width: 12px;
            height: 10px;
            right: 2px;
            top: 18px;
          }
        }

        &.sorting.sorting-desc {
          button:after {
            clip-path: polygon(50% 100%, 0 0, 100% 0);
          }
        }
        &.sorting.sorting-asc {
          button:after {
            clip-path: polygon(50% 0, 0 100%, 100% 100%);
          }
        }
      }
      td {
        padding: 5px;
      }
      th.sorting-desc,
      th.sorting-asc {
        color: #dce4ac;
      }
      th.sorting:hover:after {
        border-bottom-color: currentColor;
      }
      th.sorting:after {
        right: unset;
        left: 5px;
      }
      th.sorting-desc:after {
        border-top-color: currentColor;
      }
      th.sorting-asc:after {
        border-bottom-color: currentColor;
      }
      td.font-bold {
        font-weight: 700;
        font-family: $sans-serif;
      }
      td.date {
        font-family: $monospace;
        font-size: 0.75rem;
        vertical-align: middle;
      }
      // td.vgt-right-align {
      //   font-family: $monospace;
      //   font-size: 0.875rem;
      // }
    }
  }

  .last-cloned-holder {
    grid-column: span 2;
    text-align: center;
    .last-cloned {
      padding: 1em;
      background-color: $white;
      color: $black;
      display: inline-flex;
    }
  }
}

aside.general-stats {
  padding: 100px $padding;
  font-family: $serif;
  img {
    max-width: 100%;
  }
  .inside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: sticky;
    top: 5px;
    padding-bottom: 3rem;
  }
  .summary {
    figure {
      cursor: pointer;
      opacity: 0.5;
      margin: 0;
      &:hover {
        opacity: 1;
      }
    }
    &.active figure {
      cursor: default;
      opacity: 1;
    }
    &.inactive {
      color: rgba(255, 255, 255, 0.65);
    }
    .time-caption {
      text-transform: uppercase;
    }
    .time-ago {
      font-size: 1rem;
      text-align: center;
    }
  }
}
