section {
  .good-table {
    .vgt-inner-wrap {

      .vgt-wrap__footer  {
        .footer__row-count__label {
          color: rgba($white, 0.8);
          font-family: $sans-serif;
        }
        .footer__row-count__select {
          color: $white;
          font-family: $sans-serif;
          padding: 3px 10px;
        }
      }
      .footer__navigation {
        .footer__navigation__page-info {
          color: rgba($white, 0.8);
          font-family: $sans-serif;
        }
      }
    }
    table.vgt-table  {
      td { border-left: 1px solid rgba(0,0,0,0.3); }
      th { font-weight: 900; padding:5px 5px 5px 20px; text-transform: uppercase; font-size: 85%; }
      td { padding: 5px; }
      th.sorting-desc, th.sorting-asc { color:#dce4ac; }
      th.sorting:hover:after { border-bottom-color: currentColor; }
      th.sorting:after { right:unset; left:5px; }
      th.sorting-desc:after { border-top-color: currentColor;}
      th.sorting-asc:after { border-bottom-color: currentColor; }
      td.font-bold { font-weight: 700; font-family: $sans-serif; }
      td.vgt-right-align { font-family: $monospace; font-size: 0.875rem; }
    }
  }
}