section { font-size:20px; font-family: $serif;
  figure { text-align: center; margin-bottom: 2em;
    img { max-width: 300px; }
  }
  /*
  .tables { display: grid; gap:40px;  }


  .table-wrapper { background:$white; max-height: 360px; overflow-y: auto;
    th { font-style:  bold; font-size:80%; text-transform: uppercase; }
    td:first-child { width:36px; max-width: 36px; text-align: right; padding-right: 1rem; }
    td:last-child { width:calc(100% - 36px); }
    table {color:$black; padding:6px; width:100%; }
    td { border-bottom: 1px solid rgba(0,0,0.15); } 
  }

  .grid-wrapper { 
    .grid-caption { font-size:110%; margin-bottom: 10px; text-transform: uppercase; }
    .grid-box { background:$white; color:$black; height: 300px; }
    .data-grid { display:grid; grid-template-columns: 36px 1fr; padding-top:16px; padding-bottom: 16px; max-height: 300px; overflow-y: auto; }

    
    .count, .value { border-bottom: 1px solid rgba(0,0,0.15); padding-bottom: 6px; margin-bottom: 6px; }
    .count { text-align: right; padding-right: 10px; font-weight: 900; }
  }

  .timebox { grid-column: span 2;
    .time-caption { font-size:110%; margin-bottom: 10px; text-transform: uppercase; }
    .time-ago { font-size: 180%; font-weight: 900; }
  }

  .statement-grid-wrapper { grid-column: span 3;
    .grid-caption { font-size:110%; margin-bottom: 10px; text-transform: uppercase; }
    .data-grid { display:grid; grid-template-columns: 60px 1fr 30px; padding-top:16px; padding-bottom: 16px; background:$white; color:$black; max-height: 300px; overflow-y: auto;
      > * { border-bottom: 1px solid rgba(0,0,0.15); padding-bottom: 6px; margin-bottom: 6px; }
    }
    .score { text-align: right; padding-right: 10px; font-weight: 900;
      &.positive { color:darkgreen; }
      &.negative { color: darkred; }
    }
  }
  */

  section.stats { margin-bottom: 3em; }

  .stats-boxes { display:grid; gap:$gap; grid-template-columns: repeat( auto-fill, 320px);
    .box { background:rgba(255,255,255,0.75); padding:$padding; color:rgba(0,0,0,0.9) }
    .big-number {
      .number { font-size:260%; }
    }
    .time-ago { font-size:185%; }
  }

  .good-tables { display:grid; grid-template-columns: repeat(3,1fr); gap:$gap;
    .pass-table { grid-column: span 2; }
  }

  .good-table { padding-top:2em;
    h2 { font-size:190%; padding-bottom: 0.35em; }
    table.vgt-table {
      th { font-weight: 900; padding:5px; text-transform: uppercase; font-size: 85%; }
      td { padding: 5px; } 
      .vgt-right-align { text-align: left; }
    }

    //&.celeb-table { max-width: 960px; }
    //&.player-table { max-width: 600px; }
  }

}

section.loading { padding:($gap * 2) $gap $gap 0; min-height: 99vh; display: flex; align-items: center;
  .inside { text-align: center; width:100%; }
  img { width:92px; height: 92px;}
  h3 { margin-top: 50px; font-weight: 100; }
}

section.famous { padding:($gap * 2) $gap $gap 0;
  .two-tables { 
    display: grid; grid-template-columns: 2fr 1fr; gap:20px;
  }
}

section.invalid { padding:($gap * 2) $gap $gap 0;
  
}

section.wrongest { padding:($gap * 2) $gap $gap 0;
  
}

