section { font-size:20px; font-family: $serif;
  figure { text-align: center; margin-bottom: 2em;
    img { max-width: 300px; }
  }

  section.stats { margin-bottom: 3em; }

  .stats-boxes { display:grid; gap:$gap; grid-template-columns: repeat(4,1fr);
    .box { background:rgba(255,255,255,0.75); padding:$padding; color:rgba(0,0,0,0.9) }
    .big-number {
      .number { font-size:260%; }
    }
    .time-ago { font-size:185%; }
  }

  .good-tables { display:grid; grid-template-columns: repeat(3,1fr); gap:$gap;
    .pass-table { grid-column: span 2; }
  }

  .good-table { padding-top:2em;
    h2 { font-size:190%; padding-bottom: 0.35em; }
    table.vgt-table {
      th { font-weight: 900; padding:5px; text-transform: uppercase; font-size: 85%; }
      td { padding: 5px; }
    }
  }

}

section.loading { padding:($gap * 2) $gap $gap 0; min-height: 99vh; display: flex; align-items: center;
  .inside { text-align: center; width:100%; }
  img { width:92px; height: 92px;}
  h3 { margin-top: 50px; font-weight: 100; }
}

section.famous { padding:($gap * 2) $gap $gap 0;
  .two-tables { 
    display: grid; grid-template-columns: 3fr 2fr; gap:20px;
  }
}

section.invalid { padding:($gap * 2) $gap $gap 0;
  
}

section.wrongest { padding:($gap * 2) $gap $gap 0;
  
}

