- var pageTitle = null;
include bop/_variables
include bop/_mixins

doctype html
html(lang="en")
  
  include bop/_head.pug
    
  body
    #app(v-cloak)

      main.content

        header.site-header(v-if="gameStarted")
          .site-title This Website Is Awful.

        .intro(v-if="!gameStarted")
          .inner
            h1 This website is awful.
            p But the point of this game is to try to use it.
            p You're going to see dozens of poorly written news articles, deceptive sponsored content, and aggressively terrible web design. You're probably already familiar with all of this: It's not The Web you want, but it's The Web you've been given.
            p The big blue button below starts the game. When the game begins, you'll be asked a series of questions, all of which can be answered by one of the news articles or ads somewhere on the page.
            p But again, this website is awful. And it will make things difficult.
            .button-holder
              button.start-game(@click="startGame()") Start Game
            p(style="font-size:80%; margin-top:0.5em")
              strong Note:
              |  While this website will pretend to track you, it won't actually do anything unethical with your personal data. I can't say that about any other site you'll encounter.

        section.current-challenge(v-if="gameStarted")
          form(@submit.prevent)
            .field
              label.question(for="TheQuestion") What did Joe Manchin have for breakfast?
              input(required id="TheQuestion" placeholder="The answer is somewhere on this website.")
            .button-holder
              button(type="submit") Answer
        
        .bullshit(v-if="gameStarted" style="text-align:center;")
          button(@click="doBullshit('gdpr')") Toggle banner
          button(@click="doBullshit('camera')") Request Camera
          button(@click="doBullshit('microphone')") Request Mic
          button(@click="doBullshit('emailSignup')") Collect Email
          button(@click="doBullshit('facebook')") Involve Facebook
          button(@click="startTimer()") Start Timer

        .news-grid(v-if="gameStarted")
          +group(1,'bounce')
          
          +group(2,'zoom')

          +group(3,'rotate')

          +group(4,'slideUp')

          +group(5, 'lightspeed')

          +group(6, 'fade')

      footer.site-footer(v-if="gameStarted")
        span this is the site footer.



      // Challenges
      include bop/challenges/_gdpr
      include bop/challenges/_email-signup
      include bop/challenges/_facebook

      // Screens
      include bop/screens/_failure

    include bop/_javascripts