- var pageTitle = "";
include bop/_variables
include bop/_mixins

doctype html
html(lang="en")
  
  include bop/_head.pug
    
  body
    #app(v-cloak)

      main.content

        header.site-header(v-if="gameStarted")
          .site-title= siteTitle

        include bop/screens/_intro.pug

        section.current-challenge(v-if="gameStarted")
          form(@submit.prevent="answerTheQuestion()" v-if="currentQuestion")
            label.question(for="TheQuestion") {{currentQuestion.question}}
            .field
              .input-holder
                input(required id="TheQuestion" v-model="myGuess" placeholder="The answer is somewhere on this website.")
              button(type="submit" :disabled="!myGuess") Answer
              //.button-holder
                
        
        .bullshit(v-if="gameStarted" style="text-align:center;")
          button(@click="doBullshit('gdpr')") Toggle banner
          button(@click="doBullshit('camera')") Request Camera
          button(@click="doBullshit('microphone')") Request Mic
          button(@click="doBullshit('emailSignup')") Collect Email
          button(@click="doBullshit('facebook')") Involve Facebook
          button(@click="startTimer()") Start Timer
          button(@click="stopTimer()") Stop Timer

        .news-grid(v-if="gameStarted")  
          +group(1,'bounce')
          
          +group(2,'zoom')

          +group(3,'rotate')

          +group(4,'slideUp')

          +group(5, 'lightspeed')

          +group(6, 'fade')

        include bop/screens/_article

      transition(name="slideUp" leave-active-class="slideOutDown")
        .timer(v-if="timer > 0")
          .numbers(v-html="computedTimerOutput")

      footer.site-footer(v-if="gameStarted")
        span this is the site footer.

      // Challenges
      include bop/challenges/_request-bullshit
      include bop/challenges/_gdpr
      include bop/challenges/_email-signup
      include bop/challenges/_facebook

      // Screens
      include bop/screens/_failure

    include bop/_javascripts