include cameo/_variables
html(lang="en")
  
  include cameo/_head

  body
    #app(v-cloak)

      include cameo/_title-screen

      include cameo/_sort-three

      include cameo/_final-round

      include cameo/_email

      include cameo/_hud

      include cameo/_game-over

      if testing
        link(rel="stylesheet" href="css/testing.css")
        .testing-banner.cameo
          .inner Test Mode Is On
    
    include cameo/_javascripts