- var pageTitle = "";
include cameo/_variables
html
  
  include cameo/_head

  body
    #app(v-cloak)

      include cameo/_title-screen

      include cameo/_sort-three

      include cameo/_final-round

      include cameo/_email

      include cameo/_hud

      include cameo/_game-over
    
    include cameo/_javascripts