- var pageTitle = "";
include start/_variables
html
  head
    - var testing = true 
    title kinda.fun CAMEO
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="css/cameo.css" type="text/css" rel="stylesheet")
body
  #app(v-cloak)
    main()
      //-.celebs
        .celeb(v-for="person in round.compareThree")
          //-img(:src="'cameos/'+celeb.slug+'.jpg'")
          .name {{person.name}}

      .three-to-compare
      
        .cameos.container#left

          .cameo(v-for="cameo in round.compareThree")
            figure.drag-item
              img(:src="'cameos/'+cameo.slug+'.jpg'")
            figcaption
              .name {{cameo.name}}
              .desc(v-if="cameo.desc") {{cameo.desc}}

        .values#right
          .value.dropzone.drop-one(drop-value="Top")#TopValue
            .order 
              sup # 
              | 1
          .value.dropzone.drop-one(drop-value="Middle")#MiddleValue
            .order 
              sup # 
              | 2
          .value.dropzone.drop-one(drop-value="Bottom")#BottomValue
            .order 
              sup # 
              | 3

      //-.fart(v-for="cameo in celebs")
        img(:src="'cameos/'+cameo.slug+'.jpg'")
        .name {{cameo.name}}
        .desc(v-if="cameo.desc") {{cameo.desc}}
        .price {{dollars(cameo.value)}}
  if testing
    script(src="public/js/libraries/vue.full.js")
    script.
      const testing = true;
  else
    script(src="public/js/libraries/vue.min.js")
    script.
      const testing = false;

  script(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/dragula.min.js")
  script(src="public/js/min/cameo.min.js?updated"+lastUpdated)


  style.
    .gu-hide {
      display: none !important;
    }
    .gu-unselectable {
      -webkit-user-select: none !important;
      -moz-user-select: none !important;
      -ms-user-select: none !important;
      user-select: none !important;
    }
    .gu-transit {
      opacity: 0.4;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
      filter: alpha(opacity=20);
    }