include disaster/_variables
include disaster/_mixins

doctype html
html(lang="en")
  
  include disaster/_head.pug
    
  body
    #app(v-cloak)

      main.content

        include disaster/screens/_intro.pug

        include disaster/challenges/_question.pug

        header.site-header(v-if="gameStarted")
          .site-title= siteTitle
        
        //-.bullshit(v-if="gameStarted" style="text-align:center;")
          button(@click="doBullshit('gdpr')") Toggle banner
          button(@click="doBullshit('camera')") Request Camera
          button(@click="doBullshit('microphone')") Request Mic
          button(@click="doBullshit('emailSignup')") Collect Email
          button(@click="doBullshit('facebook')") Involve Facebook
          button(@click="startTimer()") Start Timer
          button(@click="stopTimer()") Stop Timer

        .news-grid(v-if="gameStarted")  
          +group(1,'bounce')
          
          +group(2,'zoom')

          +group(3,'rotate')

          +group(4,'slideUp')

          +group(5, 'lightspeed')

          +group(6, 'fade')

        include disaster/screens/_article

      .timer-and-score
        transition(name="slideUp" leave-active-class="slideOutDown")
          .timer(v-if="timer > 0")
            .numbers(v-html="computedTimerOutput")
        .score-holder(v-if="user.points")
          .score 
            strong {{formattedNumber(user.points)}}
            span points

      footer.site-footer(v-if="gameStarted")
        span this is the site footer.

      // Challenges
      include disaster/challenges/_request-bullshit
      include disaster/challenges/_gdpr
      include disaster/challenges/_email-signup
      include disaster/challenges/_facebook

      // Screens
      include disaster/screens/_failure

    include disaster/_javascripts