- var pageTitle = "";
include partials/_variables
include partials/_mixins

doctype html
html(lang="en")
  
  include partials/_head.pug
    
  body
    #app(v-cloak)

      include partials/_create-or-join.pug

      include partials/_pregame.pug
        
      include partials/_admin.pug

      include partials/_employee.pug

      include partials/_final.pug

      include partials/_game-over.pug

    include partials/_javascripts