- var pageTitle = "";
include start/_variables

html
  head
    - var testing = true 
    title kinda.fun
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="css/start.css" type="text/css" rel="stylesheet")
    include start/_favicons.pug
    include start/_social.pug
    meta(name="msvalidate.01" content="D3327FD7610C2D05D7D605EBCA288944")
body
  #app(v-cloak)
    include start/_title-screen.pug
  
  include start/_javascripts