- var pageTitle = "";
include wrongest/_variables
include wrongest/_mixins
- var testing = true 

html
  include wrongest/_head
body

  #app(v-cloak)
    include wrongest/_title-screen.pug
    include wrongest/_pregame.pug
    include wrongest/_player-list.pug
    include wrongest/_presenting.pug
    include wrongest/_voting.pug
    include wrongest/_game-over.pug

  include wrongest/_javascripts.pug