- var pageTitle = "";
include wrongest/_variables
include wrongest/_mixins
- var testing = true 

html
  include wrongest/_head
body

  #app(v-cloak)
    include wrongest/_title-screen.pug
    include wrongest/_pregame.pug
    include wrongest/_player-list.pug
    include wrongest/_presenting.pug
    include wrongest/_voting.pug
    include wrongest/_game-over.pug
    
  .javascripts
    if testing
      script(src="js/libraries/vue.full.js")
      script.
        const testing = true;
    else
      script(src="js/libraries/vue.min.js")
      script.
        const testing = false;

    script(src="js/libraries/howler.min.js")
    script(src="socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src="js/libraries/vue-toast-notification.min.js")
    link(href="css/libraries/vue-toast-notification.css" type="text/css" rel="stylesheet")
    script.
      var socket = io.connect();
      Vue.use(VueToast);
    script(src="js/min/wrongest.min.js?updated"+lastUpdated)
