.ui-pnotify {
  &.stack-bottomleft {
    width: 404px !important;
  }
  .ui-pnotify-container {
    padding: 10px;
  }
  // .ui-pnotify-closer,
  // .ui-pnotify-sticker { display: none; }
  .ui-pnotify-title {
    font-size: 1rem;
  }
}
