.bury-body-enter-active, .bury-body-leave-active {
  transition: opacity .5s linear, transform 0.25s ease-in-out;
}
.bury-body-enter, .bury-body-leave-to /* .bury-body-leave-active below version 2.1.8 */ {
  opacity: 0; transform: translateY(-120%);
}


.fade-enter-active, .fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.raise-curtain-enter-active, .raise-curtain-leave-active {
  transition: transform 1.25s ease-in;
}

.raise-curtain-enter-from, .raise-curtain-leave-to {
  // opacity: 0;
  transform: translateY(-101vh);
}