$mobile-max: 600px;
$desktop-min: 601px;
//$font: 'Fontdiner Swanky', cursive;

// FONTS
$font: 'Merriweather', serif;
$headline: 'Limelight', cursive;
$fontSize: 18px;
$lineHeight:160%;
$bold: 900;

// COLORS
$white: #eee;
$black: #212121;
$blue: #4885ed;
$red: #ee2a2a;
$green: #17680f;
$yellow:#e9eab9;
$teal: #4e7f71;


$white: #ffffff;
$body: #0d1021;



$yellow: yellow;

$correct: #3ede2e;

$veryGood: #21f90c;
$prettyGood: #a8cd7d;
$neutral: #e4dfbf;
$prettyBad: #e8a657;
$veryBad: #e84040;