@import "../../scss/_variables.scss";
.unfriend-confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.unfriend-confirmation {
  background-color: $white;
  width: 32ch;
  max-width: 90dvw;
  overflow: hidden;
  .title {
    background-color: #212121;
    color: $white;
    padding: 0.5em 1.25em;
  }
  .content {
    padding: 0.5em 1.25em;
  }
  .effects-list {
    padding-bottom: 0.5em;
    dt {
      text-transform: uppercase;
      font-size: 0.875rem;
      letter-spacing: 0.1em;
      font-weight: 525;
    }
    ul {
      list-style: disc;
      padding-left: 1.5em;
    }
  }
  .notice {
    font-size: 0.75rem;
    font-style: italic;
  }
  .button-group {
    display: flex;
    justify-content: end;
    gap: 6px;
    padding: 0.5em;
    button {
      appearance: none;
      border: none;
      cursor: pointer;
      padding: 0.25em 0.5em;
      transition: background 0.15s linear;
      border: 1px solid currentColor;
      &.cancel {
        color: oklch(0 0 0);
        border-color: oklch(0 0 0 / 0.2);
        &:hover,
        &:focus-visible {
          background-color: oklch(0 0 0 / 0.1);
        }
      }
      &.confirm {
        color: oklch(0.47 0.2 30.47);
        border-color: oklch(0.47 0.2 30.47 / 0.2);
        &:hover,
        &:focus-visible {
          background-color: oklch(0.47 0.2 30.47 / 0.1);
        }
      }
    }
  }
}
