.NotFoundPage
  .container
    .not-found-content
      .error-number 404
      .error-message Page Not Found
      .error-description
        p The page you're looking for doesn't exist.
        p Maybe it was moved, deleted, or you entered the wrong URL.
      
      .navigation-options
        button.btn.btn-primary(@click="goBack") ← Go Back
        button.btn.btn-secondary(@click="goHome") 🏠 Home
        
      .quick-links
        h3 Or try one of these games:
        .game-links
          a(href="/invalid" class="game-link") Invalid
          a(href="/meeting" class="game-link") This Meeting Has Points  
          a(href="/guillotine" class="game-link") No More Billionaires
          a(href="/pretend" class="game-link") Pretend World
          a(href="/cameo" class="game-link") Comparatively Famous