article.current-article(v-if="currentArticle && currentArticle.visible == true")
  .cover-sheet

  .offside-ad
    transition(name="bounce" appear)
      img(src="https://placehold.co/600x400?text=A+Fuckin+Ad" v-if="currentArticle.adVisible == true")

  transition(name="slideRight" appear)
    .inner
      button.close(@click="closeArticle()") X
      figure
        img(:src="'img/bop/bg/' + currentArticle.img")
      .content
        h1(v-text="parseHeadline(currentArticle.headline)")
        .author(v-if="currentArticle.author")
          | by {{currentArticle.author.firstName}} {{currentArticle.author.lastName}}
        time(v-if="currentArticle.dateStamp")
          | Posted {{currentArticle.dateStamp | formattedDate }}
        template(v-for="(paragraph, index) in currentArticle.paragraphs" v-html="paragraph")
          p(v-html="paragraph")