/*
.title-screen { display: grid; grid-template-columns: 1fr 80px 1fr; grid-template-rows: 1fr 105px; height: 100vh; background: radial-gradient(#353535, #161616); color:#eee; font-family: $font-family;
  .logo-holder { grid-column: span 3; display: flex; align-items: center; }
  figure.logo { width: 100%; max-width: 340px; margin-left: auto; margin-right: auto;
    img {  display: block; margin-bottom: 1rem; }
    figcaption { text-align: center; }
    .description { margin-top:1em; margin-bottom: 1em; font-size:128%; line-height: 135%; }
    .infinity { font-size:160%; font-weight: 300; }
  }
  .create { text-align: right;
    button { font-size:36px; background:transparent; color:#b39153; border:none; cursor: pointer; line-height: 95%; padding:10px; border-bottom: 3px solid transparent;
      &:hover, &:focus { color: orange; }
    }
  }
  .or { font-size:24px; color:rgba(255,255,255,0.35); text-align: center; padding-top:7px;
  }
  .join { position: relative;
    input { font-size:36px; color:$blue; display:block; width:17ch; border:none; outline:none; background: transparent;
      &::placeholder { color:#50666d; }
      &:hover, &:focus { border-color:$blue;
        &::placeholder { color:$blue; }
      }
    }
    button { @include position(absolute,0,null,null,110px); line-height: 180%; color:#23a0c7; font-size: 32px; cursor: pointer; border:none; background:transparent;
      &:hover, &:focus { text-decoration: underline; }
    }
  }
  button, input { font-family: inherit; }
}
*/




.title-screen { display:grid; min-height: 99vh;  font-family: 'Lora', serif;
  .choice-holder { display:flex; align-items: center; justify-content: center;
    .inner { width:100%; }
  }
  h1 { font-size:32px; text-align: center; font-weight: 400; margin-bottom: 3em; }
  
  .game-choices {
    .game { 
      
      figure { padding-bottom: 20px; cursor: pointer; transition:all 0.5s ease; }
      .slogan { margin-bottom: 1em; font-style: italic; font-size:110%; }
      .players-allowed { font-size:90%;}
      figcaption { opacity: 0; transition:opacity 0.5s linear; } 
      &.active {
        figure { transform: scale(1.2); }
        figcaption { opacity: 1; }
      }
      &.inactive {
        figure { transform: scale(0.8); opacity: 0.8; }
      }
    }
  }
  .game { text-align: center; }


  .create-or-join { 
    
    .create { text-align: right;
      button {  background:transparent; color:#b39153; border:none; cursor: pointer; line-height: 95%; padding:10px; border-bottom: 3px solid transparent; font-family: inherit;
        &:hover, &:focus { color: orange; }
      }
    }
    .join { position: relative;
      button { background:transparent; color:#6995a2; border:none; cursor: pointer; line-height: 95%; padding:10px; border-bottom: 3px solid transparent; font-family: inherit;
        &:hover, &:focus { color: $blue; }
      }
    }
  }
}

@media (max-width:600px) {
  .title-screen {
    .game-choices { display:grid; grid-template-columns: 1fr;
      .game {
        figure { width:100%; max-width: 225px; margin-left: auto; margin-right: auto; }
      }
    }
    .create-or-join { padding-top:2em;
      .options { text-align: center;
        button, .or { font-size:5vw }
        > * { display: inline-block; }
      }
    }
  }
}
@media (min-width:601px) {
  .title-screen { grid-template-rows: 1fr 105px;
    .game-choices { display: flex; align-items: center; justify-content: center;
      .game { flex-basis: 320px; margin-right: 80px; 
        &:last-child { margin-right: 0; }
      }
    }
    .create-or-join { 
      .options { display:grid; grid-template-columns: 1fr 60px 1fr; }
      button { font-size:36px; }
      .or { line-height: 50px; font-size:20px; text-align: center; }
    }
  }
}