
.title-screen { display:grid; min-height: 99vh;  font-family: 'Lora', serif;
  .choice-holder { display:flex; align-items: center; justify-content: center;
    .inner { width:100%; }
  }
  h1 { font-size:32px; text-align: center; font-weight: 400; margin-bottom: 3em; }
  
  .game-choices {
    .game { 
      
      figure { padding-bottom: 20px; cursor: pointer; transition:all 0.5s ease; }
      .slogan { margin-bottom: 1em; font-style: italic; font-size:110%; }
      .players-allowed { font-size:90%;}
      figcaption { opacity: 0; transition:opacity 0.5s linear; } 
      &.active {
        figure { transform: scale(1.2); }
        figcaption { opacity: 1; }
      }
      &.inactive {
        figure { transform: scale(0.8); opacity: 0.8; }
      }
    }
  }
  .game { text-align: center; }


  .create-or-join { 
    
    button { background:transparent; border:none; cursor: pointer; line-height: 95%; padding:10px; font-family: inherit; }
    .start-playing {  text-align: center;
      button {  color:desaturate(#9bf50c,50%);
        &:hover, &:focus { color: #9bf50c; }
      }
    }
    .create { text-align: right;
      button {  color:#b39153; 
        &:hover, &:focus { color: orange; }
      }
    }
    .join { 
      button { color:#6995a2;
        &:hover, &:focus { color: $blue; }
      }
    }
  }
}

@media (max-width:600px) {
  .title-screen {
    .game-choices { display:grid; grid-template-columns: 1fr;
      .game {
        figure { width:100%; max-width: 225px; margin-left: auto; margin-right: auto; }
      }
    }
    .create-or-join { padding-top:2em;
      .options { text-align: center;
        button, .or { font-size:5vw }
        > * { display: inline-block; }
      }
    }
  }
}
@media (min-width:601px) {
  .title-screen { grid-template-rows: 1fr 105px;
    .game-choices { display: flex; align-items: center; justify-content: center;
      .game { flex-basis: 320px; margin-right: 80px; 
        &:last-child { margin-right: 0; }
      }
    }
    .create-or-join { 
      .options { display:grid; grid-template-columns: 1fr 60px 1fr; }
      button { font-size:36px; }
      .or { line-height: 50px; font-size:20px; text-align: center; }
    }
  }
}