
<html>
  <head>
    <title>kinda.fun</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&amp;display=swap" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="css/start.css" type="text/css" rel="stylesheet"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e5e828"/>
    <meta name="msapplication-TileColor" content="#e5e828"/>
    <meta name="theme-color" content="#e5e828"/>
    <!-- Twitter-->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@AhoyLemon"/>
    <meta name="twitter:title" content="kinda.fun"/>
    <meta name="twitter:description" content="Some multiplayer games that Lemon made. They're kinda fun."/>
    <meta name="twitter:image" content="https://kinda.fun/og-wide.png"/>
    <meta name="twitter:url" content="https://kinda.fun"/>
    <meta property="og:title" content="kinda.fun"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:description" content="Some multiplayer games that Lemon made. They're kinda fun."/>
    <meta property="og:url" content="https://kinda.fun"/>
    <meta property="og:image" content="https://kinda.fun/og-wide.png"/>
    <meta name="msvalidate.01" content="D3327FD7610C2D05D7D605EBCA288944"/>
  </head>
</html>
<body>
  <div id="app" v-cloak="v-cloak">
    <div class="title-screen">
      <div class="choice-holder">
        <div class="inner">
          <div class="above-choices"> 
            <h1>Choose a game.</h1>
          </div>
          <div class="game-choices">
            <div class="game" :class="{ active: (gameChoice == 'cameo'), inactive: (gameChoice &amp;&amp; gameChoice != 'cameo') }">
              <figure class="logo" @click="gameChoice = 'cameo'"><img src="svg/comparatively-famous.svg"/></figure>
              <figcaption>
                <div class="slogan">The Game of Celebrity Value</div>
                <div class="players-allowed">For 1 player.<br/>(but can be replayed with friends)</div>
              </figcaption>
              <script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "VideoGame",
                  "name": "Comparatively Famous",
                  "url": "https://kinda.fun/cameo",
                  "image": "https://kinda.fun/img/og-invalid.png",
                  "playMode": "SinglePlayer",
                  "applicationCategory": "browser game",
                  "gamePlatform": "web browser",
                  "operatingSystem": "web browser",
                  "genre": "comedy",
                  "description": "The Game of Celebrity Value",
                }
                
              </script>
            </div>
            <div class="game" :class="{ active: (gameChoice == 'invalid'), inactive: (gameChoice &amp;&amp; gameChoice != 'invalid') }">
              <figure class="logo" @click="gameChoice = 'invalid'"><img src="svg/invalid-logo.svg"/></figure>
              <figcaption>
                <div class="slogan">A trivia game of unnecessary suffering.</div>
                <div class="players-allowed">For 2 or more players.<br/>(but best with 4 - 8)</div>
              </figcaption>
              <script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "VideoGame",
                  "name": "Invalid",
                  "url": "https://kinda.fun/invalid",
                  "image": "https://kinda.fun/img/og-invalid.png",
                  "playMode": "MultiPlayer",
                  "applicationCategory": "browser game",
                  "gamePlatform": "web browser",
                  "operatingSystem": "web browser",
                  "genre": "comedy",
                  "description": "A trivia game of unnecessary suffering.",
                }
                
                
              </script>
            </div>
            <div class="game" :class="{ active: (gameChoice == 'wrongest'), inactive: (gameChoice &amp;&amp; gameChoice != 'wrongest') }">
              <figure class="logo" @click="gameChoice = 'wrongest'"><img src="svg/wrongest.svg"/></figure>
              <figcaption>
                <div class="slogan">You're going to defend some very stupid ideas.</div>
                <div class="players-allowed">For 3 or more players.<br/>(but best with 5 - 10)</div>
              </figcaption>
              <script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "VideoGame",
                  "name": "The Wrongest Words",
                  "url": "https://kinda.fun/wrongest",
                  "image": "https://kinda.fun/img/og-wrongest.png",
                  "playMode": "MultiPlayer",
                  "applicationCategory": "browser game",
                  "gamePlatform": "web browser",
                  "operatingSystem": "web browser",
                  "genre": "comedy",
                  "description": "You're going to defend some very stupid ideas.",
                }
                
              </script>
            </div>
          </div>
        </div>
      </div>
      <div class="create-or-join" v-if="gameChoice">
        <div class="start-playing" v-if="gameChoice == 'cameo'">
          <button @click="startSinglePlayerGame()">Start Playing</button>
        </div>
        <div class="options" v-else="v-else">
          <div class="create">
            <button @click="createRoom()">Create a New Room</button>
          </div>
          <div class="or"><span>or</span></div>
          <div class="join">
            <button @click="joinRoom()">Join a Room</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="javascripts">
    <script src="js/libraries/vue.full.js"></script>
    <script>const testing = true;</script>
    <script src="/socket.io/socket.io.js"></script>
    <script>var socket = io.connect();</script>
    <script src="js/min/start.min.js?updated2021-01-13@21:42:52"></script>
    <script type="text/javascript">
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://thefpl.us/analytics/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
      
    </script>
    <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
    <script>
      TrackJS.install({
        token: "9947e081831c42b8aeb3a5fb81a152c4",
        application: "kindafun"
      });
    </script>
  </div>
</body>