
<html lang="en">
  <head>
    <title>Kinda fun.</title>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&amp;display=swap" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="css/start.css" type="text/css" rel="stylesheet"/>
    <meta name="description" content="Here's some games and stuff that Lemon made. All of it is kinda fun!"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e5e828"/>
    <meta name="msapplication-TileColor" content="#e5e828"/>
    <meta name="theme-color" content="#e5e828"/>
    <!-- Twitter-->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="@AhoyLemon"/>
    <meta name="twitter:title" content="Kinda fun."/>
    <meta name="twitter:description" content="Here's some games and stuff that Lemon made. All of it is kinda fun!"/>
    <meta name="twitter:image" content="https://kinda.fun/og-square.png"/>
    <meta name="twitter:url" content="https://kinda.fun"/>
    <meta property="og:title" content="Kinda fun."/>
    <meta property="og:type" content="website"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="600"/>
    <meta property="og:description" content="Here's some games and stuff that Lemon made. All of it is kinda fun!"/>
    <meta property="og:url" content="https://kinda.fun"/>
    <meta property="og:image" content="https://kinda.fun/og-square.png"/>
    <meta property="og:email" content="lemon@kinda.fun"/>
    <meta name="msvalidate.01" content="D3327FD7610C2D05D7D605EBCA288944"/>
  </head>
  <body>
    <div id="app">
      <main class="title-screen">
        <div class="top">
          <h1>So, here's some stuff that's <strong>kinda fun</strong>....</h1>
        </div>
        <transition-group class="game-grid" name="list" tag="div" id="GameGrid">
          <div class="thing" v-for="(thing, thingId) in computedThingsList" :class="{ active: currentThing.slug === thing.slug,  inactive: (currentThing.slug &amp;&amp; currentThing.slug !== thing.slug) }" :key="thing.slug">
            <button @click="selectGame(thing.slug)" :title="thing.name">
              <template v-if="thing.logo"><img class="logo" :src="`svg/games/${thing.logo}`" :alt="thing.name"/></template>
            </button>
          </div>
        </transition-group>
        <div class="bottom">
          <div class="info-holder">
            <transition name="fade">
              <div class="info" v-cloak="v-cloak" v-if="currentThing &amp;&amp; currentThing.name">
                <button class="close" @click="selectGame('')">x</button>
                <div class="top-bar">
                  <h2 class="game-name">{{currentThing.name}}</h2>
                </div>
                <div class="content">
                  <template v-if="currentThing.slogan">
                    <h3 class="slogan">{{currentThing.slogan}}</h3>
                  </template>
                  <template v-if="currentThing.description">
                    <div class="description" v-html="currentThing.description"></div>
                  </template>
                  <template v-if="currentThing.url">
                    <div class="button-holder"><a class="play-game button" :href="currentThing.url">{{ computedButtonText }}</a></div>
                  </template>
                </div>
              </div>
            </transition>
          </div>
          <div class="filter-options">
            <label>Filter To:</label>
            <button class="show-all" @click="setFilterTo('all')" :class="{ 'active': !currentFilter }"> <span class="text">Show All</span></button>
            <template v-for="tag in computedTags" :key="tag.text">
              <button @click="setFilterTo(tag.text)" :class="{ active: (currentFilter == tag.text) }"><span class="text">{{tag.text}}</span><span class="count">{{tag.count}} </span></button>
            </template>
          </div>
        </div>
      </main>
    </div>
    <div class="javascripts">
      <script src="js/libraries/vue.min.js"></script>
      <script>
        const testing = false;
        
      </script>
      <script src="/socket.io/socket.io.js"></script>
      <script>var socket = io.connect();</script>
      <script src="js/min/start.min.js?updated2024-06-22T20:28:51.473Z"></script>
      <script type="text/javascript">
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="https://thefpl.us/analytics/";
          _paq.push(['setTrackerUrl', u+'matomo.php']);
          _paq.push(['setSiteId', '3']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
        
      </script>
      <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
      <script>
        TrackJS.install({
          token: "9947e081831c42b8aeb3a5fb81a152c4",
          application: "kindafun"
        });
      </script>
    </div>
  </body>
</html>