
<html>
  <head>
    <title>kinda.fun stats</title>
    <link href="css/stats.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
</html>
<body>
  <div id="app" v-cloak="v-cloak">
    <div class="stats-screen">
      <main class="general-stats" v-if="ui.viewing == 'general'">
        <div class="inside">
          <div class="game-summaries">
            <div class="summary">
              <figure><img src="svg/comparatively-famous.svg" @click="getData('cameo')"/></figure>
              <div class="last-played" v-if="stats.general &amp;&amp; stats.general.lastPlayed &amp;&amp; stats.general.lastPlayed.cameo">
                <div class="time-caption">Last Game</div>
                <div class="time-ago" v-text="formatTime(stats.general.lastPlayed.cameo,'fromNow')"></div>
                <div class="calendar" v-text="formatTime(stats.general.lastPlayed.cameo,'calendar')"></div>
              </div>
              <div class="button-holder">
                <button @click="getData('cameo')">Details</button>
              </div>
            </div>
            <div class="summary">
              <figure><img src="svg/invalid-logo.svg" @click="getData('invalid')"/></figure>
              <div class="last-played" v-if="stats.general &amp;&amp; stats.general.lastPlayed &amp;&amp; stats.general.lastPlayed.invalid">
                <div class="time-caption">Last Game</div>
                <div class="time-ago" v-text="formatTime(stats.general.lastPlayed.invalid,'fromNow')"></div>
                <div class="calendar" v-text="formatTime(stats.general.lastPlayed.invalid,'calendar')"></div>
              </div>
              <div class="button-holder">
                <button @click="getData('invalid')">Details</button>
              </div>
            </div>
            <div class="summary" v-if="stats.general &amp;&amp; stats.general.lastPlayed &amp;&amp; stats.general.wrongest">
              <figure><img src="svg/wrongest.svg" @click="getData('wrongest')"/></figure>
              <div class="last-played" v-if="stats.general &amp;&amp; stats.general.lastPlayed &amp;&amp; stats.general.lastPlayed.wrongest">
                <div class="time-caption">Last Game</div>
                <div class="time-ago" v-text="formatTime(stats.general.lastPlayed.wrongest,'fromNow')"></div>
                <div class="calendar" v-text="formatTime(stats.general.lastPlayed.wrongest,'calendar')"></div>
              </div>
              <div class="button-holder">
                <button @click="getData('wrongest')">Details</button>
              </div>
            </div>
          </div>
        </div>
        <div class="player-table">
          <div class="good-table player-table" v-if="stats.general.playerNames">
            <vue-good-table :rows="stats.general.playerNames" :columns="columns.playerNames" :sort-options="{ enabled: true, initialSortBy: {field: 'icount', type: 'desc'} }" :pagination-options="{ enabled: true, perPage: 20, position: 'top', perPageDropdown: [10, 30, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}"></vue-good-table>
          </div>
        </div>
      </main>
      <aside class="general general-stats" v-if="ui.viewing != 'general'">
        <div class="summary" :class="{ active: (ui.viewing == 'cameo') }">
          <figure><img src="svg/comparatively-famous.svg" @click="getData('cameo')"/></figure>
          <div class="last-played" v-if="stats.general &amp;&amp; stats.general.lastPlayed &amp;&amp; stats.general.lastPlayed.cameo">
            <div class="time-caption">Last Game</div>
            <div class="time-ago" v-text="formatTime(stats.general.lastPlayed.cameo,'fromNow')"></div>
          </div>
          <div class="more-info"></div>
        </div>
        <div class="summary" :class="{ active: (ui.viewing == 'invalid') }">
          <figure><img src="svg/invalid-logo.svg" @click="getData('invalid')"/></figure>
          <div class="last-played" v-if="stats.general &amp;&amp; stats.general.lastPlayed &amp;&amp; stats.general.lastPlayed.invalid">
            <div class="time-caption">Last Game</div>
            <div class="time-ago" v-text="formatTime(stats.general.lastPlayed.invalid,'fromNow')"></div>
          </div>
        </div>
        <div class="summary" :class="{ active: (ui.viewing == 'wrongest') }">
          <figure><img src="svg/wrongest.svg" @click="getData('wrongest')"/></figure>
          <div class="last-played" v-if="stats.general &amp;&amp; stats.general.lastPlayed &amp;&amp; stats.general.lastPlayed.wrongest">
            <div class="time-caption">Last Game</div>
            <div class="time-ago" v-text="formatTime(stats.general.lastPlayed.wrongest,'fromNow')"></div>
          </div>
        </div>
      </aside>
      <main v-if="ui.viewing != 'general'">
        <section class="loading stats" v-if="ui.viewing == 'loading'">
          <div class="inside"><img src="svg/rings.svg"/>
            <h3>Loading data...</h3>
          </div>
        </section>
        <section class="famous stats" v-if="ui.viewing == 'cameo'">
          <figure><img src="svg/comparatively-famous.svg"/></figure>
          <div class="stats-boxes with-table">
            <div class="box big-number" v-if="stats.general.cameo &amp;&amp; stats.general.cameo.GamesStarted &gt; 0">
              <div class="caption">Games Started</div>
              <div class="number" v-text="stats.general.cameo.GamesStarted"></div>
              <div class="sub-number"><strong v-text="stats.general.cameo.GamesFinished">finished</strong> finished</div>
            </div>
            <div class="box date" v-if="stats.general &amp;&amp; stats.general.lastPlayed &amp;&amp; stats.general.lastPlayed.cameo">
              <div class="caption">Last Game</div>
              <div class="time-ago" v-text="formatTime(stats.general.lastPlayed.cameo,'fromNow')"></div>
              <div class="calendar" v-text="formatTime(stats.general.lastPlayed.cameo,'calendar')"></div>
            </div>
            <div class="box big-number" v-if="computedCameoPlayerData.averagePoints != 0">
              <div class="caption">Average Player Score</div>
              <div class="number" v-text="computedCameoPlayerData.averagePoints"></div>
            </div>
            <div class="box big-number" v-if="computedCameoPlayerData.exceededBudgetPercent &gt; 0">
              <div class="caption">Exceeded Budget</div>
              <div class="number percent" v-text="computedCameoPlayerData.exceededBudgetPercent + '%'"></div>
            </div>
            <div class="box big-number" v-if="computedCameoPlayerData.correctSortPercent &gt; 0">
              <div class="caption">Average Correct Sorts</div>
              <div class="number percent" v-text="computedCameoPlayerData.correctSortPercent + '%'"></div>
            </div>
            <div class="box big-number">
              <div class="caption">Avg Market Forces</div>
              <div class="number" v-text="computedAvgMarketForces"></div>
            </div>
            <div class="box big-number" v-if="computedCameoPlayerData.averageBirthdayWishes &gt; 0">
              <div class="caption">Average Birthday Wishes</div>
              <div class="number" v-text="computedCameoPlayerData.averageBirthdayWishes"></div>
            </div>
          </div>
          <div class="two-tables">
            <div class="good-table celeb-table" v-if="ui.cameoLoaded">
              <h2>Celebrity Performance</h2>
              <vue-good-table v-if="stats.cameo.celebs &amp;&amp; stats.cameo.celebs.length" :rows="stats.cameo.celebs" :columns="columns.celebs" :pagination-options="{ enabled: true, perPage: 30, position: 'top', perPageDropdown: [10, 30, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}"></vue-good-table>
            </div>
            <div class="good-table player-table" v-if="ui.cameoLoaded">
              <h2>Player Performance</h2>
              <vue-good-table :rows="stats.cameo.playerScores" :columns="columns.cameoPlayers" styleClass="vgt-table condensed" :line-numbers="true" :sort-options="{ enabled: true, initialSortBy: {field: 'finishTime', type: 'desc'} }" :pagination-options="{ enabled: true, perPage: 30, position: 'top', perPageDropdown: [10, 30, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}"></vue-good-table>
            </div>
          </div>
        </section>
        <section class="invalid stats" v-if="ui.viewing == 'invalid'">
          <figure><img src="svg/invalid-logo.svg"/></figure>
          <div class="stats-boxes">
            <div class="box big-number">
              <div class="caption">Games Started</div>
              <div class="number" v-text="stats.general.invalid.GamesStarted"></div>
            </div>
            <div class="box big-number">
              <div class="caption">Rooms Created</div>
              <div class="number" v-text="stats.general.invalid.RoomsCreated"></div>
            </div>
            <div class="box date" v-if="stats.general &amp;&amp; stats.general.lastPlayed &amp;&amp; stats.general.lastPlayed.invalid">
              <div class="caption">Last Played</div>
              <div class="time-ago" v-text="formatTime(stats.general.lastPlayed.invalid,'fromNow')"></div>
              <div class="calendar" v-text="formatTime(stats.general.lastPlayed.invalid,'calendar')"></div>
            </div>
            <div class="box big-number">
              <div class="caption">Naughty Mode</div>
              <div class="number percent" v-text="computedNaughtyPercentage + '%'"></div>
            </div>
            <div class="box big-number">
              <div class="caption">Server Crashes</div>
              <div class="number percent" v-text="computedServerCrashes"></div>
            </div>
            <div class="box big-number">
              <div class="caption">Cracked Passwords</div>
              <div class="number percent" v-text="computedCrackedPasswordPercent + '%'"></div>
            </div>
          </div>
          <div class="good-tables" v-if="ui.invalidLoaded">
            <div class="good-table pass-table">
              <h2>Passwords</h2>
              <vue-good-table :rows="stats.invalid.passwords" :columns="columns.passwords" :sort-options="{ enabled: true, initialSortBy: {field: 'used', type: 'desc'} }" :pagination-options="{ enabled: true, perPage: 30, position: 'top', perPageDropdown: [10, 30, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}"></vue-good-table>
            </div>
            <div class="good-table">
              <h2>Bugs</h2>
              <vue-good-table :rows="stats.invalid.bugs" :columns="columns.bugs" :sort-options="{ enabled: true, initialSortBy: {field: 'icount', type: 'desc'} }" :pagination-options="{ enabled: true, perPage: 30, position: 'top', perPageDropdown: [10, 30, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}"></vue-good-table>
            </div>
            <div class="good-table">
              <h2>Challenges</h2>
              <vue-good-table :rows="stats.invalid.challenges" :columns="columns.challenges" :sort-options="{ enabled: true, initialSortBy: {field: 'icount', type: 'desc'} }" :pagination-options="{ enabled: true, perPage: 40, position: 'top', perPageDropdown: [25, 40, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}"></vue-good-table>
            </div>
            <div class="good-table">
              <h2>Rules</h2>
              <vue-good-table :rows="stats.invalid.rules" :columns="columns.rules" :sort-options="{ enabled: true, initialSortBy: {field: 'icount', type: 'desc'} }" :pagination-options="{ enabled: true, perPage: 10, position: 'top', perPageDropdown: [10, 30, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}"></vue-good-table><br/><br/>
              <h2>Letters</h2>
              <vue-good-table :rows="stats.invalid.letters" :columns="columns.letters" :sort-options="{ enabled: true, initialSortBy: {field: 'letter', type: 'asc'} }" :pagination-options="{ enabled: true, perPage: 25, position: 'top', perPageDropdown: [10, 25, 50], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}"></vue-good-table>
            </div>
            <div class="good-table">
              <h2>Player Counts</h2>
              <vue-good-table :rows="stats.invalid.playerCounts" :columns="columns.playerCounts" :sort-options="{ enabled: true, initialSortBy: {field: 'icount', type: 'desc'} }" :pagination-options="{ enabled: true, perPage: 10, position: 'top', perPageDropdown: [10, 20], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}"></vue-good-table><br/><br/>
              <h2>Player Names</h2>
              <vue-good-table :rows="stats.general.playerNames" :columns="columns.playerNames" :sort-options="{ enabled: true, initialSortBy: {field: 'lastPlayed', type: 'asc'} }" :pagination-options="{ enabled: true, perPage: 27, position: 'top', perPageDropdown: [10, 27, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}"></vue-good-table>
            </div>
          </div>
          <div class="good-tables" v-if="ui.invalidLoaded">
            <div class="good-table"></div>
            <div class="good-table player-table" v-if="stats.general.playerNames"></div>
          </div>
        </section>
        <section class="wrongest stats" v-if="ui.viewing == 'wrongest'">
          <figure><img src="svg/wrongest.svg"/></figure>
          <div class="stats-boxes">
            <div class="box big-number">
              <div class="caption">Games Started</div>
              <div class="number" v-text="stats.general.wrongest.GamesStarted"></div>
            </div>
            <div class="box big-number">
              <div class="caption">Rooms Created</div>
              <div class="number" v-text="stats.general.wrongest.RoomsCreated"></div>
            </div>
            <div class="box date" v-if="stats.general &amp;&amp; stats.general.lastPlayed &amp;&amp; stats.general.lastPlayed.cameo">
              <div class="caption">Last Game</div>
              <div class="time-ago" v-text="formatTime(stats.general.lastPlayed.wrongest,'fromNow')"></div>
              <div class="calendar" v-text="formatTime(stats.general.lastPlayed.wrongest,'calendar')"></div>
            </div>
          </div>
          <div class="good-tables" v-if="ui.wrongestLoaded">
            <div class="good-table pass-table">
              <h2>Statements</h2>
              <vue-good-table :rows="stats.wrongest.statements" :columns="columns.wrongestStatements" :sort-options="{ enabled: true, initialSortBy: {field: 'icount', type: 'asc'} }" :pagination-options="{ enabled: true, perPage: 50, position: 'top', perPageDropdown: [25, 50, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}"></vue-good-table>
            </div>
            <div class="good-table">
              <h2>Decks</h2>
              <vue-good-table :rows="stats.wrongest.decks" :columns="columns.decks" :sort-options="{ enabled: true, initialSortBy: {field: 'icount', type: 'desc'} }" :pagination-options="{ enabled: true, perPage: 10, position: 'top', perPageDropdown: [10, 30, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}"></vue-good-table><br/><br/>
              <h2>Player Counts</h2>
              <vue-good-table :rows="stats.wrongest.playerCounts" :columns="columns.playerCounts" :sort-options="{ enabled: true, initialSortBy: {field: 'icount', type: 'desc'} }" :pagination-options="{ enabled: true, perPage: 10, position: 'top', perPageDropdown: [10, 30, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}"></vue-good-table><br/><br/>
              <h2>Player Names</h2>
              <vue-good-table :rows="stats.general.playerNames" :columns="columns.playerNames" :sort-options="{ enabled: true, initialSortBy: {field: 'lastPlayed', type: 'desc'} }" :pagination-options="{ enabled: true, perPage: 25, position: 'top', perPageDropdown: [10, 25, 50], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}"></vue-good-table>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
  <div class="javascripts">
    <script src="js/libraries/vue.full.js"></script>
    <script>const testing = true;</script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-good-table@2.15.3/dist/vue-good-table.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vue-good-table@2.12.2/dist/vue-good-table.css" rel="stylesheet"/>
    <script src="js/min/stats.min.js"></script>
  </div>
</body>