
<html>
  <head>
    <title>kinda.fun stats</title>
    <link href="css/stats.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
</html>
<body>
  <div id="app" v-cloak="v-cloak">
    <section class="general stats">
      <div class="tables">
        <div class="grid-wrapper">
          <div class="grid-caption">Player Names</div>
          <div class="grid-box">
            <div class="data-grid">
              <template v-for="player in sortedList(stats.general.PlayerNames)">
                <div class="count">{{player.count}}</div>
                <div class="value">{{player.name}}</div>
              </template>
            </div>
          </div>
        </div>
        <div class="timebox">
          <div class="time-caption">Last Invalid </div>
          <div class="time-ago" v-text="formatTime(stats.general.Games.Invalid.MostRecent.dateAndTime,'fromNow')"></div>
          <div class="calendar" v-text="formatTime(stats.general.Games.Invalid.MostRecent.dateAndTime,'calendar')"></div>
        </div>
        <div class="timebox">
          <div class="time-caption">Last Wrongest Words</div>
          <div class="time-ago" v-text="formatTime(stats.general.Games.TheWrongestWords.MostRecent.dateAndTime,'fromNow')"></div>
          <div class="calendar" v-text="formatTime(stats.general.Games.TheWrongestWords.MostRecent.dateAndTime,'calendar')"></div>
        </div>
      </div>
    </section>
    <section class="invalid stats">
      <figure><img src="svg/invalid-logo.svg"/></figure>
      <div class="tables">
        <div class="grid-wrapper">
          <div class="grid-caption">Game Sizes</div>
          <div class="grid-box">
            <div class="data-grid">
              <template v-for="game in sortedList(stats.invalid.Games.PlayerCounts)">
                <div class="count">{{game.count}}</div>
                <div class="value">{{game.players}} Players</div>
              </template>
            </div>
          </div>
        </div>
        <div class="grid-wrapper">
          <div class="grid-caption">Naughty Mode?</div>
          <div class="grid-box">
            <div class="data-grid">
              <div class="count">{{stats.invalid.Games.NaughtyMode.on}}</div>
              <div class="value">Naughty Mode ON</div>
              <div class="count">{{stats.invalid.Games.NaughtyMode.off}}</div>
              <div class="value">Naughty Mode OFF</div>
            </div>
          </div>
        </div>
        <div class="grid-wrapper">
          <div class="grid-caption">Challenges</div>
          <div class="grid-box">
            <div class="data-grid">
              <template v-for="challenge in sortedList(stats.invalid.Challenges)">
                <div class="count">{{challenge.count}}</div>
                <div class="value">{{challenge.name}}</div>
              </template>
            </div>
          </div>
        </div>
        <div class="grid-wrapper">
          <div class="grid-caption">Rules</div>
          <div class="grid-box">
            <div class="data-grid">
              <template v-for="rule in sortedList(stats.invalid.Rules)">
                <div class="count">{{rule.count}}</div>
                <div class="value">{{rule.name}}</div>
              </template>
            </div>
          </div>
        </div>
        <div class="grid-wrapper">
          <div class="grid-caption">Successful Passwords</div>
          <div class="grid-box">
            <div class="data-grid">
              <template v-for="suc in sortedList(stats.invalid.SuccessfulPasswords)">
                <div class="count">{{suc.count}}</div>
                <div class="value">{{suc.pw}}</div>
              </template>
            </div>
          </div>
        </div>
        <div class="grid-wrapper">
          <div class="grid-caption">Server Crashes</div>
          <div class="grid-box">
            <div class="data-grid">
              <template v-for="crash in sortedList(stats.invalid.Crashes)">
                <div class="count">{{crash.count}}</div>
                <div class="value">{{crash.pw}}</div>
              </template>
            </div>
          </div>
        </div>
        <div class="grid-wrapper">
          <div class="grid-caption">Cracked Passwords</div>
          <div class="grid-box">
            <div class="data-grid">
              <template v-for="crack in sortedList(stats.invalid.Cracks)">
                <div class="count">{{crack.count}}</div>
                <div class="value">{{crack.pw}}</div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="wrogest stats">
      <figure><img src="svg/wrongest.svg"/></figure>
      <div class="tables">
        <div class="grid-wrapper">
          <div class="grid-caption">Game Sizes</div>
          <div class="grid-box">
            <div class="data-grid">
              <template v-for="game in sortedList(stats.wrongest.Games.PlayerCounts)">
                <div class="count">{{game.count}}</div>
                <div class="value">{{game.players}} Players</div>
              </template>
            </div>
          </div>
        </div>
        <div class="grid-wrapper">
          <div class="grid-caption">Decks</div>
          <div class="grid-box">
            <div class="data-grid">
              <template v-for="deck in sortedList(stats.wrongest.Decks)">
                <div class="count">{{deck.count}}</div>
                <div class="value">{{deck.name}}</div>
              </template>
            </div>
          </div>
        </div>
        <div class="statement-grid-wrapper">
          <div class="grid-caption">Statements</div>
          <div class="data-grid statements">
            <template v-for="statement in sortByScore(stats.wrongest.Statements)">
              <div class="score" v-bind:class="{negative: (statement.score &lt; 0), positive: (statement.score &gt; 0)}"><span v-if="statement.score &gt; 0">{{'+'+statement.score}}</span><span v-else-if="statement.score &lt; 0">{{statement.score}}</span><span v-else="v-else">-</span></div>
              <div class="words">“{{formatQuote(statement.words)}}”</div>
              <div class="votes">{{statement.votes}}</div>
            </template>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="javascripts">
    <script src="js/libraries/vue.full.js"></script>
    <script>const testing = true;</script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="js/min/stats.min.js"></script>
  </div>
</body>