.hud { @include position(fixed,null,0,0,0); padding:10px; background: linear-gradient(to top, #141e30, #243b55); color:white; display:grid; grid-template-columns: 1fr 960px 1fr; z-index: $z-hud;
  button { font-size:36px; font-family:$displayFont; margin-top:-25px; padding:0.25em 1em; border:none; border-radius: 8px; text-shadow: 2px 2px 4px rgba(0,0,0,0.5), -1px -1px 2px rgba(0,0,0,0.35); cursor: pointer;
    background-color: #045de9; background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%); color:white; transition:transform 0.1s ease-in; outline: none;
    &:hover, &.focus { transform: scale(1.05) translateY(-5px); }
    &:active { transform: scale(0.95) translateY(5px); }
  }
  .score { font-family: $displayFont; order: 1; font-size: 36px; padding-left: 40px; }
  .interface { order: 2; padding-left: 20px; padding-right: 20px; font-size:19px; text-align: center;
    .sort-the-above { padding-top:7px; }
    .button-holder { text-align: center;}
  }
  .round { order: 3; font-family: $displayFont; font-size: 36px; text-align: right; padding-right: 40px; }
}