

html {  overflow-y: scroll;
  
}
main.sort-three { background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; background-blend-mode: multiply,multiply; }
.three-to-compare { display:grid; grid-template-columns: repeat(2,1fr); gap:40px;
  width:100%; max-width: 960px; margin-left: auto; margin-right: auto;

  .list-group { padding:40px 20px; min-height: 99.9vh; position: relative;
    background: rgba(25,25,25,0.3);
    border-left:4px solid rgba(25,25,25,0.15);
    border-right:4px solid rgba(25,25,25,0.15);
    .list-group-item { cursor: move;
      &.sortable-chosen { cursor: grab; }
      &.sortable-ghost { opacity: 0.6; }
    }
    &.no-move-cursor {
      .list-group-item { cursor: default; }
    }
    .help-text { @include position(absolute,0,0,0,0); display:flex; align-items: center; justify-content: center; padding:20px; text-align: center;
      .inside { opacity: 0.6; font-size: 28px; }
    }
  }
  .cameo { margin-bottom: 40px; user-select: none;
    figure { margin-bottom: -100px; text-align: right; position: relative; 
      img { width:140px; height: 140px; position: relative; z-index: 4; object-fit: cover; border:4px solid #111; border-radius: 21px; }
    }
    figcaption { 
      background-color: #000000; background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
      color:#ddd; padding:20px 130px 10px 10px; margin-right: 20px; border-radius: 4px; position: relative;
      .name { font-size:38px; font-weight:600; font-family: $displayFont; }
      .desc { margin-top:5px; }
    }
  }

  figcaption { min-height: 135px; }
  .unranked { 
    figcaption { padding-top:7px;  }
  }
  .ranked, .correct {
    .value { font-size:28px; font-weight: 700; }
    figcaption { border-top:7px solid transparent; border-right: 40px solid transparent; }
    .rank { @include position(absolute,null,10px,5px); font-size:18px; font-weight: 700; }
    [rank="1"] { 
      figcaption { border-color: $gold; } 
      .rank, .value { color:$gold;  }
    }
    [rank="2"] { 
      figcaption { border-color: $silver; } 
      .rank, .value { color:$silver; }
    }
    [rank="3"] { 
      figcaption { border-color: $bronze; } 
      .rank, .value { color:$bronze; }
    }   
  }
  .guessed { 
    .colorized {
      figcaption { transition:border-color 0.5s linear; }
      .name { transition: color 0.5s linear; }
      &.correct { 
        figcaption { border-color:lime; }
        .name { color: lime; }
      }
      &.incorrect { 
        figcaption { border-color:rgb(255,40,40); }
        .name { color: rgb(255,40,40); }
      }
    }
    .cameo { opacity: 0.85; }
  }
  form.guess-value { margin-top:10px;
    input { font-size:28px; font-weight: 700; width:5ch; background:transparent; color:currentColor; font-family: inherit; border:none; outline: none;
      &:hover { color:#5699ff; }
    }
    button { color:currentColor; background:transparent; border:none; padding:0; margin-left: -4px; cursor: pointer;
      svg { width:24px; height:24px; transform: scale(1);
        * { fill:currentColor; }
      }
      &:hover, &:focus { color:#5699ff; transform: scale(1.2); }
    }
    .arrow_box { position: absolute; margin-top:11px; max-width: 120px; font-size:12px; padding:6px; text-align: center; background: #5699ff; border: 1px solid #c2e1f5; color:#111; z-index: $z-tooltip;
      &:before, &:after { bottom: 100%; left: 50%; border: solid transparent; content: ""; height: 0; width: 0; position: absolute; pointer-events: none; }
      &:after { border-color: rgba(86, 153, 255, 0); border-bottom-color: #5699ff; border-width: 7px; margin-left: -7px; }
      &:before { border-color: rgba(194, 225, 245, 0); border-bottom-color: #c2e1f5; border-width: 8px; margin-left: -8px; }
    }
  }
}



.cameo {
  &.off-table { opacity: 0; }
}

.v-toast.v-toast--bottom { padding-bottom: 3.2em;}
.v-toast__text { 
  h2 { font-family:$displayFont; font-size:38px; }
  h4 { font-family:$displayFont; font-size:19px; }
}

@media (max-width:794px) {
  .three-to-compare { gap:4px; }
}

@media (max-width:720px) {
  .three-to-compare .cameo figcaption .name { font-size:24px; }
}

@media (max-width:666px) {
  .three-to-compare .cameo {
    figcaption { padding-right:70px; min-height: 105px; }
    figure img { width:80px; height: 80px; } 
  }
}

@media (max-width:520px) {
  .three-to-compare .cameo {
    figure { margin-bottom: -20px; text-align: center;
      img { width:120px; height:120px; }
    }
    figcaption { margin-right: 0; padding:30px 20px 20px 20px; }
  }
}