//html { background: radial-gradient(#353535,#161616); }
.three-to-compare { display:grid; grid-template-columns: repeat(2,1fr); gap:80px;
  width:100%; max-width: 700px; margin-left: auto; margin-right: auto;


  .cameos { //background:red;
    display: grid; grid-template-columns: 1fr; gap:40px;
    .cameo {
      img { width:160px; height:160px; border:6px solid rgba(0,0,0,0.8); }
      //figcaption { background:rgba(0,0,0,0.5); padding:4rem 1rem 1rem 1rem; }
    }
  }

  .values { 
    .value { width:160px; height:160px;  position: relative;
      .order { color:rgba(90,20,20,0.5); font-size:200%; @include position(absolute,10px,null,null,10px); }
      padding-left:20px; padding-top:20px;
      img { box-shadow: 9px 9px 9px rgba(0,0,0,0.3); border:9px solid transparent; }
      &[drop-value="Top"] { background:rgba(255, 215, 0, 0.2);
        img { border-color: rgb(255, 215, 0); }
      }
      &[drop-value="Middle"] { background:rgba(#C0C0C0, 0.2);
        img { border-color: #C0C0C0; }
      }
      &[drop-value="Bottom"] { background:rgba(#cd7f32, 0.2);
        img { border-color: #cd7f32; }
      }
    }

  }


  .cameo { cursor:move;
    img { width:160px; height:160px; object-fit: cover; border-radius: 50%; }
  }
} 



.gu-mirror {
  cursor:move; cursor:-webkit-grabbing; cursor:-moz-grabbing; cursor:grabbing;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 1;
  -webkit-transform: rotate(5deg);
  transform: rotate(19deg);
  &.cameo {
    img { width:190px; height:190px; border-radius: 50%; }
  }
}


.values { @include position(fixed,20px,30px,20px); width:200px; display:flex; flex-direction: column; justify-content: space-between;
  .value {
    figcaption { display: none}
  }
   

}

#left { @include position(fixed,null,null,0,20px); display:grid; grid-template-columns: repeat(3,1fr);
  .cameo { 
    img { border-radius: 0; width:200px; }
    figcaption { background:rgba(0,0,0,0.5); color:white; padding:120px 20px 20px 20px; }
  }

}