.choose {
  fieldset {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .details {
    width: 76ch;

    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border: 1px solid #ccc;
    padding: 16px;
    .name,
    .description {
      grid-column: span 2;
    }
    .big-number {
      font-size: 1.35rem;
      font-family: $serif;
      font-weight: 600;
    }
    .name {
      font-size: 1.25em;
      font-family: $serif;
    }
    .description {
      font-family: $serif;
      line-height: 140%;
      font-style: italic;
    }
    dl {
      border: 1px solid #ccc;
      font-family: $sans-serif;
      dt {
        font-weight: 800;
        text-transform: uppercase;
        background-color: #555;
        font-family: $serif;
        font-size: 1.25em;
        letter-spacing: 0.1em;
        color: white;
        padding: 7px;
      }
      dd {
        padding: 10px;
      }
      ul {
        display: grid;
        gap: 4px;
        padding: 0 0.5em 0.5em 1em;
        list-style-type: disc;
        font-size: 0.875em;
      }
    }
    dl.religions {
      grid-column: span 2;
      ol {
        display: grid;
        gap: 0.25em;
        padding-left: 1rem;
        list-style: decimal;
        font-family: $serif;
        font-size: 1.25em;
        li::marker {
          font-size: 80%;
          font-weight: 600;
        }
      }
    }
  }
}
