body {
  font-family: $sans-serif;
  background-color: white;
}
main {
  min-height: 100dvh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  > section {
    padding: 2rem;
  }
}

.game-screen {
  display: grid;
  grid-template-columns: 1fr 240px;
}
