body {
  font-family: $sans-serif;
  background-color: $white;
}
main {
  min-height: 100dvh;
  background-color: $white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: stretch;
  justify-content: center;
  > section {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.game-screen {
  display: grid;
  grid-template-columns: 1fr 240px;
}
