section.diagnosis {
  width: 100%;
  max-width: 600px;
  .inner {
    width: 100%;
  }
  .diagnosis-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap;
    border: $border;
    padding: 10px;
  }
  ol {
    list-style: decimal;
    padding-left: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1.45rem;
    li::marker {
      font-size: 75%;
      font-weight: 700;
    }
  }
  p {
    font-size: 1.25rem;
    margin-bottom: 0.5em;
    line-height: 140%;
    strong {
      display: inline-block;
    }
  }
  dl {
    border: $border;
    dt {
      background-color: #555;
      color: white;
      padding: 0.5em 1em;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
    dd {
      padding: 10px;
    }
    ul {
      display: grid;
      gap: 0.25em;
      list-style: disc;
      padding-left: 2em;
      li {
        font-weight: 500;
      }
    }
  }
  dl.topics {
    grid-column: span 2;
    ol {
      font-family: $serif;
      padding: 0;
      li {
        display: grid;
        gap: 5px;
      }
      .title {
        font-size: 1.25rem;
        font-weight: 600;
      }
      .description {
        padding-left: 1em;
        font-size: 0.875rem;
        line-height: 160%;
      }
      .repeat {
        padding-left: 1em;
        font-size: 0.875rem;
        line-height: 160%;
        color: darken($red, 20%);
      }
    }
  }
  .button-holder {
    padding-top: 1em;
    @extend %buttons;
  }
}

main.sermon-confirm {
  background-color: #4f2e27;
  background-image: url(https://images.pexels.com/photos/1226398/pexels-photo-1226398.jpeg);
  .diagnosis-box {
    @include blurBG();
  }
}

// table.debug {
//   caption {
//     text-transform: uppercase;
//     letter-spacing: 0.25em;
//     font-weight: 300;
//     text-align: center;
//     padding: 1em;
//   }
//   th {
//     padding: 0 0.5em;
//     font-weight: bold;
//   }
//   td {
//     vertical-align: middle;
//     border: $border;
//     padding: 0.5em;
//     &.number {
//       text-align: right;
//       font-size: 150%;
//       font-family: monospace;
//     }
//   }
// }
