%buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  button {
    font-family: $sans-serif;
    font-size: 1rem;
    font-weight: 525;
    border: 2px solid $darkGray;
    padding: 0.5em 1.25em;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: $darkGray;
      color: $lightGray;
    }

    &.submit,
    &[type="submit"] {
      background-color: $blue;
      color: $white;
      font-weight: 650;
      text-transform: uppercase;

      &:hover,
      &:focus-visible {
        background-color: $darkBlue;
      }
    }

    &:active {
      transition: transform 0.15 ease-out;
      transform: scale(90%);
    }

    &:disabled {
      filter: grayscale(1);
      opacity: 0.75;
      pointer-events: none;
    }
  }
}
