form {
  display: grid;
  gap: 15px;
  legend {
    font-size: 2rem;
    font-family: $serif;
    margin-bottom: 2rem;
  }
  fieldset {
    display: grid;
    background-color: $white;
    border: $border;
    label {
      padding: 2px 10px;
      font-size: 0.75rem;
      font-weight: 800;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-family: $sans-serif;
      color: $gray;
      &.required:after {
        content: " *";
        color: $red;
        display: inline-block;
        transform: scale(1.75) translateY(5%);
        margin-left: 0.25em;
      }
    }
    input[type="text"] {
      display: block;
      width: 100%;
      padding: 0;
      padding-left: 12px;
      padding-bottom: 4px;
      font-family: $serif;
      font-size: 1.42rem;
      font-weight: 700;
      border: none;
      outline: none;

      &::placeholder {
        color: $lightGray;
        font-weight: 400;
      }
    }
    &:has(:focus) {
      label {
        color: $focus;
      }
      input {
        color: $focus;
      }
      border-color: $focus;
    }
    &.checkbox {
      border-width: 1px;
      input {
        margin-right: 1em;
      }
      label {
        font-weight: 400;
        text-transform: none;
        cursor: pointer;
        &:hover {
          color: $focus;
        }
      }
    }

    .explainer {
      border-top: 1px solid $gray;
      padding: 14px;
      font-size: 0.875em;
      font-family: $sans-serif;
      line-height: 140%;
    }
  }
  .button-holder {
    @extend %buttons;
  }
}
