$lemonYellow: #e4e72c;
$lemonBlack: #313131;
$lemonOrange: #e98741;

.game-over {
  min-height: 100dvh;
  background-color: $lemonYellow;
  color: $lemonBlack;
  h1 {
    text-align: center;
    font-family: $monospace;
    text-transform: uppercase;
    font-size: 10dvw;
    letter-spacing: 0.2em;
  }

  //   ol.player-results {
  //     display: grid;
  //     gap: 40px;
  //     padding: 20px;
  //     grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  //     li.player {
  //       background: $lemonBlack;
  //       padding: 20px;
  //       .score-and-name {
  //         display: flex;
  //         gap: 20px;
  //         .player-score {
  //           font-family: $monospace;
  //           font-size: 4rem;
  //           line-height: 80%;
  //           font-weight: 825;
  //           color: $white;
  //           min-width: 60px;
  //           text-align: right;
  //         }
  //         .name-and-job {
  //           display: flex;
  //           align-items: center;
  //           .text {
  //             display: grid;
  //           }
  //         }
  //         .player-name {
  //           font-family: $serif;
  //           font-weight: 625;
  //           color: $white;
  //           font-size: 1.5rem;
  //           line-height: 90%;
  //         }
  //         .player-job {
  //           font-family: $sans-serif;
  //           font-weight: 700;
  //           color: $white;
  //         }
  //       }
  //       table {
  //         font-family: $sans-serif;
  //         margin-top: 10px;
  //         width: 100%;
  //         max-width: 600px;
  //         caption {
  //           color: $white;
  //           font-weight: 625;
  //           letter-spacing: 0.15em;
  //         }
  //         thead {
  //           th {
  //             color: $white;
  //             font-weight: 725;
  //             font-size: 0.875rem;
  //             padding: 10px 10px 0 10px;
  //             text-transform: uppercase;
  //           }
  //         }
  //         tbody {
  //           background: $white;
  //           td {
  //             padding: 5px 10px;
  //             border-bottom: 2px solid $lemonBlack;
  //             border-right: 2px solid $lemonBlack;
  //             font-weight: 600;
  //             &.phrase {
  //               font-weight: 825;
  //               &:before {
  //                 content: "“";
  //               }
  //               &:after {
  //                 content: "”";
  //               }
  //             }
  //           }

  //           tr.played {
  //             td {
  //               background-color: $lightGreen;
  //               color: $darkGreen;
  //             }
  //           }
  //           tr.stolen {
  //             td {
  //               background-color: $lightRed;
  //               color: $darkRed;
  //               strong {
  //                 font-weight: 900;
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }

  h2 {
    // text-align: center;
    font-family: $monospace;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.3em;
    margin-bottom: 2rem;
  }

  p {
    font-family: $serif;
    margin-bottom: 1.25em;
    max-width: 68ch;
    margin-left: auto;
    margin-right: auto;
    line-height: 150%;
  }

  .big-button-holder {
    text-align: center;
    padding-top: 1em;
    button {
      text-align: center;
      font-family: $monospace;
      text-transform: uppercase;
      font-size: 2.25rem;
      letter-spacing: 0.2em;
      cursor: pointer;
    }
  }

  .game-over-stats {
    table {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 3rem;
    }
    td {
      vertical-align: middle;
      background-color: white;
      border: 1px solid $lemonBlack;
      padding: 0.25rem 1rem;
    }
    td.label {
      text-align: right;
      font-size: 0.75rem;
      text-transform: uppercase;
    }
    td.value {
      font-weight: 700;
      font-family: $monospace;
      text-align: left;
      &.huge {
        font-size: 200%;
      }
    }
  }

  //   ol.bad-guesses {
  //     display: grid;
  //     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  //     gap: 20px;
  //     padding: 20px;
  //     li.bad-guess {
  //       background: $white;
  //       color: $lemonBlack;
  //       blockquote {
  //         border-left: 0.5em solid #222;
  //         padding: 10px 20px;
  //         font-family: $serif;
  //         font-size: 1.75em;
  //         height: 100%;
  //         .quote-text {
  //           &:before {
  //             content: "“";
  //           }
  //           &:after {
  //             content: "?”";
  //           }
  //         }
  //         // .quote-text-with-own-card
  //         cite {
  //           display: block;
  //           padding-left: 3em;
  //           font-family: $sans-serif;
  //           font-size: 1rem;
  //           font-weight: 700;
  //           &:before {
  //             content: "—";
  //           }
  //         }
  //       }
  //     }
  //   }

  //   .game-by-lemon {
  //     padding: 20dvh 20px 20px 20px;
  //     a {
  //       color: currentColor;
  //       text-decoration: none;
  //       font-family: $serif;
  //     }
  //     h3 {
  //       text-align: left;
  //       font-size: 7vw;
  //       transition: color 0.15s linear;
  //     }
  //     .image-holder {
  //       display: flex;
  //       align-items: center;
  //       justify-content: flex-end;
  //     }
  //     .lemon {
  //       width: clamp(64px, 50dvw, 300px);
  //     }
  //     a:hover {
  //       color: $lemonOrange;
  //       h3 {
  //         text-decoration: underline;
  //         text-decoration-thickness: 0.15em;
  //         text-underline-offset: 0.1em;
  //       }
  //     }
  //   }
  // }
}
