@mixin blurBG($opacity: 0.65, $blurAmount: 4px) {
  background-color: oklch(1 0 0 / #{$opacity});
  backdrop-filter: blur($blurAmount);
}

@mixin inventoryItem($bgColor, $borderColor) {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  background: $bgColor;
  border-radius: $radiusSmall;
  overflow: hidden;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc($radiusSmall / 2);
    background-color: $borderColor;
    display: block;
  }
}
