@mixin blurBG($opacity: 0.65, $blurAmount: 4px) {
  background-color: rgba(255, 255, 255, $opacity);
  backdrop-filter: blur($blurAmount);
}

@mixin inventoryItem($bgColor, $borderColor) {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  background: $bgColor;
  border-radius: $border-radius;
  overflow: hidden;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc($border-radius / 2);
    background-color: $borderColor;
    display: block;
  }
}
