// religion-list (for Seraph AI and details sidebar)
.religion-list-enter-active,
.religion-list-leave-active {
  transition: all 0.45s linear;
}

.religion-list-enter-from {
  opacity: 0;
  transform: translateY(20px);
}

.religion-list-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

.religion-list-move {
  transition: transform 0.45s linear;
}

// inventory-item (Church Inventory & Legacy Status components)
.inventory-item-enter-active,
.inventory-item-leave-active {
  transition: all 0.3s ease;
}

.inventory-item-enter-from {
  opacity: 0;
  transform: translateX(102%) scale(0.75);
}

.inventory-item-leave-to {
  opacity: 0;
  transform: translateX(-102%) scale(0.75);
}

.inventory-item-move {
  transition: transform 1s ease-out;
}
