$serif: "Bitter", serif;
$sans-serif: "Commissioner", sans-serif;
$monospace: "monospace", monospace;

$pink: #ff595e;
$yellow: #ffca3a;
$green: #8ac926;
$blue: #1982c4;
$purple: #6a4c93;
$white: #efefef;

$focus: $blue;

$border: 1px solid #777;
$gap: 10px;

// Z-INDEXES
$z-overlay: 100;
$z-churchinventory: 1002;
$z-daworshopzone: 1003;
$z-legacystatus: 1004;
