$serif: "Bitter", serif;
$sans-serif: "Commissioner", sans-serif;

$pink: #ff595e;
$yellow: #ffca3a;
$green: #8ac926;
$blue: #1982c4;
$purple: #6a4c93;

$focus: $blue;

$border: 1px solid #777;
$gap: 10px;
