@import "../../scss/_variables.scss";

.container {
  display: flex;
  gap: 5px;
  flex-direction: column;
  color: $lightGray;

  .row.first {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .number {
    font-size: 1.75em;
    flex-basis: 32px;
    flex-grow: 1;
    flex-shrink: 0;
    font-family: $monospace;
    font-weight: 900;
    display: flex;
  }

  .text-holder {
    display: flex;
    align-items: center;
    font-weight: 600;
    flex-grow: 5;
    flex-direction: column;
    align-items: flex-start;
  }

  .breakdown {
    margin: 0;
    font-size: 0.85em;
    color: #aaa;
    line-height: 1.3;
    font-size: 0.75em;
    padding-left: 2.25em;

    li {
      list-style: disc;
    }
  }
}
