-
  const kindaFunGames = [
    {
      name: "NO MORE BILLIONAIRES",
      slug: "guillotine",
      logo: "billionaires.svg",
      slogan: "Generating Wealth with a Guillotine",
      players: 1,
      morePlayerInfo: "(with a new set of choices every day)",
      url: "https://kinda.fun/guillotine",
      ogImage: "https://kinda.fun/img/og-guillotine.jpg",
      description: "The game where you generate wealth through the use of a guillotine."
    }
  ]