include _things.pug

.title-screen

  .choice-holder

    .inner
      .above-choices 
        h1 Choose a game.

      .game-choices

        .game(:class="{ active: (gameChoice == 'guillotine'), inactive: (gameChoice && gameChoice != 'guillotine') }")
          button.logo(@click="setActiveGame('guillotine')")
            img(src="svg/games/nomorebillionaires.svg" alt="No More Billionaires! logo")
          figcaption
            .slogan Generating Wealth with a Guillotine
            .players-allowed
              | For 1 player.
              br
              | (with a new set of choices every day)
          script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "VideoGame",
              "name": "NO MORE BILLIONAIRES",
              "url": "https://kinda.fun/guillotine",
              "image": "https://kinda.fun/img/og-guillotine.jpg",
              "playMode": "SinglePlayer",
              "applicationCategory": "browser game",
              "gamePlatform": "web browser",
              "operatingSystem": "web browser",
              "genre": "comedy",
              "description": "The game where you generate wealth through the use of a guillotine."
            }

        .game(:class="{ active: (gameChoice == 'cameo'), inactive: (gameChoice && gameChoice != 'cameo') }")
          button.logo(@click="setActiveGame('cameo')")
            img(src="svg/comparatively-famous.svg" alt="Comparatively Famous logo")
          figcaption
            .slogan The Game of Celebrity Value
            .players-allowed
              | For 1 player.
              br
              | (but can be replayed with friends)
          script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "VideoGame",
              "name": "Comparatively Famous",
              "url": "https://kinda.fun/cameo",
              "image": "https://kinda.fun/img/og-famous.png",
              "playMode": "SinglePlayer",
              "applicationCategory": "browser game",
              "gamePlatform": "web browser",
              "operatingSystem": "web browser",
              "genre": "comedy",
              "description": "The Game of Celebrity Value"
            }

        .game(:class="{ active: (gameChoice == 'sisyphus'), inactive: (gameChoice && gameChoice != 'sisyphus') }")
          button.logo(@click="setActiveGame('sisyphus')")
            img(src="svg/sisyphus/logo-simple.svg" alt="Sisyphus Clicker logo")
          figcaption
            .slogan Push the rock uphill. Earn cheevos.
            .players-allowed
              | For 1 player
              br
              | (1 very lonely player)
          script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "VideoGame",
              "name": "Sisyphus Clicker",
              "url": "https://kinda.fun/sisyphus",
              "image": "https://kinda.fun/img/sisyphus/og-wide.png",
              "playMode": "SinglePlayer",
              "applicationCategory": "browser game",
              "gamePlatform": "web browser",
              "operatingSystem": "web browser",
              "genre": "comedy",
              "description": "Click on Sisyphus to push the rock up the mountain (formerly futile.fun)"
            }

        .game(:class="{ active: (gameChoice == 'invalid'), inactive: (gameChoice && gameChoice != 'invalid') }")
          button.logo(@click="setActiveGame('invalid')")
            img(src="svg/invalid-logo.svg" alt="Invalid logo")
          figcaption
            .slogan A trivia game of unnecessary suffering.
            .players-allowed
              | For 2 or more players.
              br
              | (but best with 4 - 8)
          script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "VideoGame",
              "name": "Invalid",
              "url": "https://kinda.fun/invalid",
              "image": "https://kinda.fun/img/og-invalid.png",
              "playMode": "MultiPlayer",
              "applicationCategory": "browser game",
              "gamePlatform": "web browser",
              "operatingSystem": "web browser",
              "genre": "comedy",
              "description": "A trivia game of unnecessary suffering."
            }

        .game(:class="{ active: (gameChoice == 'pretend'), inactive: (gameChoice && gameChoice != 'pretend') }")
          button.logo(@click="setActiveGame('pretend')")
            img(src="svg/pretend-world.svg" alt="Comparatively Famous logo")
          figcaption
            .slogan You are at a party of celebrity impersonators.
          script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "VideoGame",
              "name": "Pretend World",
              "url": "https://kinda.fun/pretend",
              "image": "https://kinda.fun/img/og-pretend.png",
              "playMode": "SinglePlayer",
              "applicationCategory": "browser game",
              "gamePlatform": "web browser",
              "operatingSystem": "web browser",
              "genre": "comedy",
              "description": "You are at a party of celebrity impersonators."
            }

        .game(:class="{ active: (gameChoice == 'wrongest'), inactive: (gameChoice && gameChoice != 'wrongest') }")
          button.logo(@click="setActiveGame('wrongest')")
            img(src="svg/wrongest.svg" alt="The Wrongest Words logo")
          figcaption
            .slogan You're going to defend some very stupid ideas.
            .players-allowed
              | For 3 or more players.
              br
              | (but best with 5 - 10)
          script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "VideoGame",
              "name": "The Wrongest Words",
              "url": "https://kinda.fun/wrongest",
              "image": "https://kinda.fun/img/og-wrongest.png",
              "playMode": "MultiPlayer",
              "applicationCategory": "browser game",
              "gamePlatform": "web browser",
              "operatingSystem": "web browser",
              "genre": "comedy",
              "description": "You're going to defend some very stupid ideas."  
            }
        
        .game(:class="{ active: (gameChoice == 'damndog'), inactive: (gameChoice && gameChoice != 'damndog') }")
          button.logo(@click="setActiveGame('damndog')")
            img(src="svg/games/damndog3.svg" alt="damn.dog logo")
          figcaption
            .slogan The guessing game for wikiHow illustrations.
          script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "VideoGame",
              "name": "NO MORE BILLIONAIRES",
              "url": "https://kinda.fun/guillotine",
              "image": "https://kinda.fun/img/og-guillotine.jpg",
              "playMode": "SinglePlayer",
              "applicationCategory": "browser game",
              "gamePlatform": "web browser",
              "operatingSystem": "web browser",
              "genre": "comedy",
              "description": "The game where you generate wealth through the use of a guillotine."
            }
        
        .game(:class="{ active: (gameChoice == 'idiots'), inactive: (gameChoice && gameChoice != 'idiots') }")
          button.logo(@click="setActiveGame('idiots')")
            img(src="svg/games/idiotswin.svg" alt="idiots.win logo")
          figcaption
            .slogan What's the first thing that comes up in Google Autocomplete?
          script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "VideoGame",
              "name": "NO MORE BILLIONAIRES",
              "url": "https://kinda.fun/guillotine",
              "image": "https://kinda.fun/img/og-guillotine.jpg",
              "playMode": "SinglePlayer",
              "applicationCategory": "browser game",
              "gamePlatform": "web browser",
              "operatingSystem": "web browser",
              "genre": "comedy",
              "description": "The game where you generate wealth through the use of a guillotine."
            }
        
        .game(:class="{ active: (gameChoice == 'party'), inactive: (gameChoice && gameChoice != 'party') }")
          button.logo(@click="setActiveGame('party')")
            img(src="svg/games/partypartypartypartyparty.svg" alt="PARTY PARTY PARTY PARTY PARTY logo")
          figcaption
            .slogan This is a button to help you party.
          script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "VideoGame",
              "name": "NO MORE BILLIONAIRES",
              "url": "https://kinda.fun/guillotine",
              "image": "https://kinda.fun/img/og-guillotine.jpg",
              "playMode": "SinglePlayer",
              "applicationCategory": "browser game",
              "gamePlatform": "web browser",
              "operatingSystem": "web browser",
              "genre": "comedy",
              "description": "The game where you generate wealth through the use of a guillotine."
            }

        .more-content
          h2 and here's some more things that are kinda fun...
        
        .game(:class="{ active: (gameChoice == 'SANE'), inactive: (gameChoice && gameChoice != 'SANE') }")
          button.logo(@click="setActiveGame('SANE')")
            img(src="svg/games/sanescience.svg" alt="SANE SCIENCE logo")
          figcaption
            .slogan This exam is gaslighting you.
          script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "VideoGame",
              "name": "NO MORE BILLIONAIRES",
              "url": "https://kinda.fun/guillotine",
              "image": "https://kinda.fun/img/og-guillotine.jpg",
              "playMode": "SinglePlayer",
              "applicationCategory": "browser game",
              "gamePlatform": "web browser",
              "operatingSystem": "web browser",
              "genre": "comedy",
              "description": "The game where you generate wealth through the use of a guillotine."
            }
        
        .game(:class="{ active: (gameChoice == 'verifiable'), inactive: (gameChoice && gameChoice != 'verifiable') }")
          button.logo(@click="setActiveGame('verifiable')")
            img(src="svg/games/verifiable.svg" alt="Verifiable Win logo")
          figcaption
            .slogan Generate fake data to prove you're right.
          script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "VideoGame",
              "name": "NO MORE BILLIONAIRES",
              "url": "https://kinda.fun/guillotine",
              "image": "https://kinda.fun/img/og-guillotine.jpg",
              "playMode": "SinglePlayer",
              "applicationCategory": "browser game",
              "gamePlatform": "web browser",
              "operatingSystem": "web browser",
              "genre": "comedy",
              "description": "The game where you generate wealth through the use of a guillotine."
            }
        
        .game(:class="{ active: (gameChoice == '2unltd'), inactive: (gameChoice && gameChoice != '2unltd') }")
          button.logo(@click="setActiveGame('2unltd')")
            img(src="svg/games/2unltd.svg" alt="2UN LTD logo")
          figcaption
            .slogan y'all ready for this?
          script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "VideoGame",
              "name": "NO MORE BILLIONAIRES",
              "url": "https://kinda.fun/guillotine",
              "image": "https://kinda.fun/img/og-guillotine.jpg",
              "playMode": "SinglePlayer",
              "applicationCategory": "browser game",
              "gamePlatform": "web browser",
              "operatingSystem": "web browser",
              "genre": "comedy",
              "description": "The game where you generate wealth through the use of a guillotine."
            }


  .create-or-join(v-if="gameChoice")
    .options(v-if="gameChoice == 'invalid' || gameChoice == 'wrongest'")
      .create
        button(@click="createRoom()") Create a New Room

      .or
        span or

      .join
        button(@click="joinRoom()") Join a Room
    .start-playing(v-else)
      button(@click="startSinglePlayerGame()") Start Playing
    