.title-screen

  .choice-holder

    .inner
      .above-choices 
        h1 Choose a game.

      .game-choices

        .game(:class="{ active: (gameChoice == 'cameo'), inactive: (gameChoice && gameChoice != 'cameo') }")
          figure.logo(@click="gameChoice = 'cameo'")
            img(src="svg/comparatively-famous.svg")
          figcaption
            .slogan The Game of Celebrity Value
            .players-allowed
              | For 1 player.
              br
              | (but can be replayed with friends)
          script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "VideoGame",
              "name": "Comparatively Famous",
              "url": "https://kinda.fun/cameo",
              "image": "https://kinda.fun/img/og-invalid.png",
              "playMode": "SinglePlayer",
              "applicationCategory": "browser game",
              "gamePlatform": "web browser",
              "operatingSystem": "web browser",
              "genre": "comedy",
              "description": "The Game of Celebrity Value",
            }

        .game(:class="{ active: (gameChoice == 'invalid'), inactive: (gameChoice && gameChoice != 'invalid') }")
          figure.logo(@click="gameChoice = 'invalid'")
            img(src="svg/invalid-logo.svg")
          figcaption
            .slogan A trivia game of unnecessary suffering.
            .players-allowed
              | For 2 or more players.
              br
              | (but best with 4 - 8)
          script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "VideoGame",
              "name": "Invalid",
              "url": "https://kinda.fun/invalid",
              "image": "https://kinda.fun/img/og-invalid.png",
              "playMode": "MultiPlayer",
              "applicationCategory": "browser game",
              "gamePlatform": "web browser",
              "operatingSystem": "web browser",
              "genre": "comedy",
              "description": "A trivia game of unnecessary suffering.",
            }


        .game(:class="{ active: (gameChoice == 'wrongest'), inactive: (gameChoice && gameChoice != 'wrongest') }")
          figure.logo(@click="gameChoice = 'wrongest'")
            img(src="svg/wrongest.svg")
          figcaption
            .slogan You're going to defend some very stupid ideas.
            .players-allowed
              | For 3 or more players.
              br
              | (but best with 5 - 10)
          script(type="application/ld+json").
            {
              "@context": "http://schema.org",
              "@type": "VideoGame",
              "name": "The Wrongest Words",
              "url": "https://kinda.fun/wrongest",
              "image": "https://kinda.fun/img/og-wrongest.png",
              "playMode": "MultiPlayer",
              "applicationCategory": "browser game",
              "gamePlatform": "web browser",
              "operatingSystem": "web browser",
              "genre": "comedy",
              "description": "You're going to defend some very stupid ideas.",
            }

  .create-or-join(v-if="gameChoice")
    .start-playing(v-if="gameChoice == 'cameo'")
      button(@click="startSinglePlayerGame()") Start Playing
    .options(v-else)
      .create
        button(@click="createRoom()") Create a New Room

      .or
        span or

      .join
        button(@click="joinRoom()") Join a Room

    