if testing == undefined
  - const testing = true
- const siteTitle = "No More Billionaires."
- const githubRepo = "https://github.com/ahoyLemon/kinda.fun"
- const siteURL = ""
- const description = ""
- const d = new Date()
- const lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()