main.general-stats(v-if="ui.viewing == 'general'")

  .inside

    .game-summaries
      .summary
        figure
          img(src="svg/comparatively-famous.svg" @click="getData('cameo')")
        .last-played(v-if="stats.general && stats.general.lastPlayed && stats.general.lastPlayed.cameo")
          .time-caption Last Game
          .time-ago(v-text="formatTime(stats.general.lastPlayed.cameo,'fromNow')")
          .calendar(v-text="formatTime(stats.general.lastPlayed.cameo,'calendar')")
        .button-holder
          button(@click="getData('cameo')") Details

      .summary
        figure
          img(src="svg/invalid-logo.svg" @click="getData('invalid')")
        .last-played(v-if="stats.general && stats.general.lastPlayed && stats.general.lastPlayed.invalid")
          .time-caption Last Game
          .time-ago(v-text="formatTime(stats.general.lastPlayed.invalid,'fromNow')")
          .calendar(v-text="formatTime(stats.general.lastPlayed.invalid,'calendar')")
        .button-holder
          button(@click="getData('invalid')") Details

      .summary(v-if="stats.general && stats.general.lastPlayed && stats.general.wrongest")
        figure
          img(src="svg/wrongest.svg" @click="getData('wrongest')")
        .last-played(v-if="stats.general && stats.general.lastPlayed && stats.general.lastPlayed.wrongest")
          .time-caption Last Game
          .time-ago(v-text="formatTime(stats.general.lastPlayed.wrongest,'fromNow')")
          .calendar(v-text="formatTime(stats.general.lastPlayed.wrongest,'calendar')")
        .button-holder
          button(@click="getData('wrongest')") Details

  .player-table 
    .good-table.player-table(v-if="stats.general.playerNames")
      vue-good-table(:rows="stats.general.playerNames" :columns="columns.playerNames" :sort-options="{ enabled: true, initialSortBy: {field: 'icount', type: 'desc'} }"
        :pagination-options="{ enabled: true, perPage: 20, position: 'top', perPageDropdown: [10, 20, 50], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}")