section.wrongest.stats(v-if="ui.viewing == 'wrongest'")
  figure
    img(src="svg/wrongest.svg")

  .stats-boxes
    .box.big-number
      .caption Games Started
      .number(v-text="stats.general.wrongest.GamesStarted")
    .box.big-number
      .caption Rooms Created
      .number(v-text="stats.general.wrongest.RoomsCreated")
    .box.date(v-if="stats.general && stats.general.lastPlayed && stats.general.lastPlayed.cameo")
      .caption Last Game
      .time-ago(v-text="formatTime(stats.general.lastPlayed.wrongest,'fromNow')")
      .calendar(v-text="formatTime(stats.general.lastPlayed.wrongest,'calendar')")
  
  .good-tables(v-if="ui.wrongestLoaded")

    .good-table.pass-table
      h2 Statements
      vue-good-table(:rows="stats.wrongest.statements" :columns="columns.wrongestStatements" :sort-options="{ enabled: true, initialSortBy: {field: 'icount', type: 'asc'} }"
        :pagination-options="{ enabled: true, perPage: 30, position: 'top', perPageDropdown: [10, 30, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}")

    .good-table
      h2 Decks
      vue-good-table(:rows="stats.wrongest.decks" :columns="columns.decks" :sort-options="{ enabled: true, initialSortBy: {field: 'icount', type: 'desc'} }"
        :pagination-options="{ enabled: true, perPage: 10, position: 'top', perPageDropdown: [10, 30, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}")
      br
      br
      h2 Player Counts
      vue-good-table(:rows="stats.wrongest.playerCounts" :columns="columns.playerCounts" :sort-options="{ enabled: true, initialSortBy: {field: 'icount', type: 'desc'} }"
        :pagination-options="{ enabled: true, perPage: 10, position: 'top', perPageDropdown: [10, 30, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}")
