#EmailFromPasha.email.inbox.off-screen(v-if="!game.over && computedGuessingPhase == 'newMail'")
  article
    p 
      | To: 
      strong You
      br
      | From: 
      strong Pasha Hollywood
    hr
    p Hey, it’s me! Influential movie tycoon Pasha Hollywood.
    p 
      |You seem to be pretty good at this stupid game, so I got a favor to ask you…
      br
      | My daughter is turning 17, and I want to get celebrities to wish her a happy birthday. Which celebrities? I couldn't care less, just make it as many celebrities as you can. I have no idea what she likes, other than spending my money.
    p Here’s 
      strong {{dollars(round.budget)}}
      | . I’ll give you points for every celebrity you hire, but if you break the budget, no points. That’s the rules. I make the rules.
    //-p I guess I can give you a couple points for the money you have left over, but get my daughter those celebs.
    p Oh wait, maybe she’s turning 18? Anyway, don’t exceed the budget.
    p 
      | xo,
      br  
      | Pasha
    .disclaimer The content of this email is confidential and intended for the recipient specified in message only. It is strictly forbidden to share any part of this message with any third party, without a written consent of the sender. If you received this message by mistake, please reply to this message and follow with its deletion, so that we can ensure such a mistake does not occur in the future.