.javascripts
  if testing
    script(src="js/libraries/vue.full.js")
    script.
      const testing = true;
  else
    script(src="js/libraries/vue.min.js")
    script.
      const testing = false;

  script(src="js/libraries/jquery.min.js")
  script(src="js/libraries/howler.min.js")

  //- Sortable & Draggable
  script(src="js/libraries/sortable.min.js")
  script(src="js/libraries/vuedraggable.min.js")

  //- Vue Toast
  script(src="js/libraries/vue-toast-notification.min.js")
  link(href="css/libraries/vue-toast-notification.css" type="text/css" rel="stylesheet")

  //- Socket.io
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io.connect();

  script(src="js/min/cameo.min.js?updated"+lastUpdated)