main.title-screen(v-if="!game.started")

  .splash
    .inside 
      .logo-holder
        figure.logo
          img(src="svg/comparatively-famous.svg")

      .help-holder(v-if="!ui.watchingVideo")
        p 
          strong Cameo
          |  is a site where people can order videos from celebrities, at prices set by those celebrities.
        p
          strong This 
          |  is a game about guessing those prices.
        
      .video-holder(v-if="ui.watchingVideo")
        figure.video
          iframe#ytplayer(type="text/html" src="https://www.youtube-nocookie.com/embed/2jE6ifrz9bU?autoplay=1&controls=0&fs=0&modestbranding=1&playsinline=1&color=white" frameborder="0" allowfullscreen)
        figcaption
          button.close-video(@click="ui.watchingVideo = false") Okay, close this video. 

  .start-or-load
    .start
      button.start-single(@click="startSinglePlayerGame()") Start Game
    
    .or
      span or

    .load
      .disclaimer
        .load-game-disclaimer.animate__animated.animate__fadeInUp.animate__faster(v-if="ui.loadGameClicked")
          strong Loading saved games isn't ready yet. 
          br
          br
          span Eventually you'll be able to play games your friends created. But for now, just start a new game.
      button.start-multi(@click="loadGame()") Load Game