include pug/_mixins.pug

include pug/_title-screen.pug

include pug/_pregame.pug

include pug/_admin.pug

include pug/_employee.pug

include pug/_final.pug 

include pug/_game-over.pug

include pug/_mobile.pug 