#EmailFromPasha.email.inbox.off-screen(v-if="!game.over && computedGuessingPhase == 'newMail'")
  article(v-if="computedGimmickName == 'Porno People'") 
    p 
      | To: 
      strong You
      br
      | From: 
      strong Pasha Hollywood
    hr
    p Hey, it’s me! Influential movie tycoon Pasha Hollywood.
    p 
      | You seem to be pretty good at this stupid game, so I got a favor to ask you…
      br
      | One of my lawyers told me that it's his birthday next week, and of course, I was like “Okay, why would I give a shit?” but then I realized he was probably telling me that for a reason. So, okay fine. Let's get some people to say happy birthday?
    p What kind of people? I think that's pretty obvious: The people who fuck on camera for money.
    p Here’s 
      strong {{dollars(round.budget)}}
      | . I’ll give you points for every porn actor you hire, but if you break the budget, there's no money for blow. No blow, no points. That’s the rules. I make the rules.
    p 
      | xo,
      br  
      | Pasha
  article(v-else-if="computedGimmickName == 'Nuthin But Dogs'") 
    p 
      | To: 
      strong You
      br
      | From: 
      strong Pasha Hollywood's Dog
    p WOOF! WOOF WOOF WOOF! WOOF!
    p Arf arf arf! Arf arf (whine) (sustained whining noise) arf arf woof.
    p [the act of jumping up and running around in circles for no discernable reason.]
    p Bark Bark! &nbsp;
      strong {{dollars(round.budget)}} 
      |  bark 
      strong 100 points 
      | woof woof woof. Woof!? (panting).
    p [the act of pressing nose into your thigh forcefully enough that you'll just end up petting]
    p 
      | xo,
      br  
      | Pasha's Dog
  article(v-else-if="computedGimmickName == 'Daddies'") 
    p 
      | To: 
      strong You
      br
      | From: 
      strong Pasha Hollywood
    hr
    p Hey, it’s me! Influential movie tycoon Pasha Hollywood.
    p My daughter has been going on and on lately about my role as a “father figure”, whatever it is that means. Something about being stable and emotionally available? I'm not exactly sure, I tend not to listen.
    p Anyway, she said she needs a father figure in her life before storming out of the house, so I need you to find some. As many as you can. Here's 
      strong {{dollars(round.budget)}}
      | . I think it's her birthday.
  article(v-else-if="computedGimmickName == 'Its a Star Trek Convention'") 
    p 
      | To: 
      strong You
      br
      | From: 
      strong Pasha Hollywood
    hr
    p Hey, it’s me! Influential movie tycoon Pasha Hollywood.
    p It's my daughter's birthday next week, and I remember she has strong opinions about Star Trek. She either really likes it or really hates it.
    p 
      i Oh wait!
      |  I remember now. She likes one of the Star Trek shows, but not the other ones. Like uhhhhh...... I think there's one with wrinkly aliens, and there's a bunch of prosthetic makeup. That's the one she likes, or hates. Whatever.
    p Anyway, here’s 
      strong {{dollars(round.budget)}}
      | . Get me some Star Trek people.

  article(v-else-if="computedGimmickName == 'The Sopranos'") 
    p 
      | To #[strong You]
      br
      | From: #[strong Pasha Hollywood]
    hr
    p Hey, it's me! Influential movie tycoon Pasha Hollywood.
    p My daughter has a birthday coming up, and like many young people her age, she is absolutely obsessed with the critically-acclaimed drama series from HBO. I forget which, but I remember it was the one with all the sex and violence, political intrigue and some of the characters talk in a made-up language.
    p Ah! #[i I remember now!] #[strong The Sopranos!] She can't get enough of that show.
    p So, here’s the deal, I am too busy to even edit this very e-mail, let alone shop for my daughter’s birthday present. Here’s #[strong {{dollars(round.budget)}}] as a budget. Buy as many Cameos from anyone who was in that show without breaking the budget. Stay under budget, and I’ll give you bonus points. Break the budget and you get nothing.
    p Oh, wait! She actually likes Game of Thrones. 
    p Well, whatever… 
    p This gift is mostly for me, anyway.

  article(v-else)
    p 
      | To: 
      strong You
      br
      | From: 
      strong Pasha Hollywood
    hr
    p Hey, it’s me! Influential movie tycoon Pasha Hollywood.
    p 
      | You seem to be pretty good at this stupid game, so I got a favor to ask you…
      br
      | My daughter is turning 17, and I want to get celebrities to wish her a happy birthday. Which celebrities? I couldn't care less, just make it as many celebrities as you can. I have no idea what she likes, other than spending my money.
    p Here’s 
      strong {{dollars(round.budget)}}
      | . I’ll give you points for every celebrity you hire, but if you break the budget, no points. That’s the rules. I make the rules.
    p Oh wait, maybe she’s turning 18? Anyway, don’t exceed the budget.
    p 
      | xo,
      br  
      | Pasha
    //.disclaimer The content of this email is confidential and intended for the recipient specified in message only. It is strictly forbidden to share any part of this message with any third party, without a written consent of the sender. If you received this message by mistake, please reply to this message and follow with its deletion, so that we can ensure such a mistake does not occur in the future.