link(rel="apple-touch-icon" sizes="180x180" href="/img/famous/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="/img/famous/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="/img/famous/favicon-16x16.png")
link(rel="shortcut icon" href="/img/famous/favicon.ico")
link(rel="mask-icon" href="/img/famous/safari-pinned-tab.svg" color="#1cb3ef")
meta(name="msapplication-TileColor" content="#3b1666")
meta(name="theme-color" content="#3b1666")