link(rel="apple-touch-icon" sizes="180x180" href="/img/invalid/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="/img/invalid/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="/img/invalid/favicon-16x16.png")
link(rel="shortcut icon" href="/img/invalid/favicon.ico")