head
  meta(charset="utf-8")
  title Invalid! A trivia game of unnecessary suffering.
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&family=Fira+Code:wght@300;600&family=Lora:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet")


  link(href="/css/site.css" type="text/css" rel="stylesheet")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="description" content=description)
  meta(http-equiv="last-modified" content=lastUpdated)

  include _favicons.pug
  include _social.pug
  include _schema.pug