.scorekeeper(:player-count="players.length")
  .player(v-for="(player,index) in players" :class="{ you: (index == my.playerIndex) }")
    .inside
      .admin-icon(v-if="index == round.sysAdminIndex")
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
          path(d="M6.24 93.81V76a9 9 0 013.28-7 135.29 135.29 0 0117.65-12.14A2.55 2.55 0 0130.78 58l12 26.47 4.36-10.37a6.07 6.07 0 115.73 0l4.33 10.38L69.22 58a2.55 2.55 0 013.61-1.16A135.08 135.08 0 0190.48 69a9 9 0 013.28 7v17.82A5.18 5.18 0 0188.58 99H11.43a5.19 5.19 0 01-5.19-5.19zm22.14-70a22.23 22.23 0 012.22-5.34l-2.5-3.57a3.3 3.3 0 01.37-4.23L31 8.1a3.3 3.3 0 014.23-.37l3.57 2.5A22.23 22.23 0 0144.18 8l.75-4.29A3.3 3.3 0 0148.18 1h3.64a3.3 3.3 0 013.25 2.73L55.82 8a22.27 22.27 0 015.34 2.22l3.57-2.5A3.3 3.3 0 0169 8.1l2.57 2.57a3.3 3.3 0 01.37 4.23l-2.5 3.57a22.22 22.22 0 012.22 5.34l4.29.75a3.3 3.3 0 012.73 3.25v3.64a3.3 3.3 0 01-2.73 3.25l-4.29.75a22.23 22.23 0 01-2.22 5.35l2.5 3.57a3.3 3.3 0 01-.37 4.23L69 51.18a3.3 3.3 0 01-4.23.37L61.17 49a22.25 22.25 0 01-5.34 2.22l-.75 4.29a3.3 3.3 0 01-3.25 2.73h-3.65a3.3 3.3 0 01-3.25-2.73l-.75-4.29A22.23 22.23 0 0138.83 49l-3.57 2.5a3.3 3.3 0 01-4.26-.32l-2.57-2.57a3.3 3.3 0 01-.37-4.23l2.5-3.57a22.24 22.24 0 01-2.22-5.35l-4.29-.75a3.3 3.3 0 01-2.73-3.25v-3.64a3.3 3.3 0 012.73-3.25zm11.35 5.82A10.27 10.27 0 1050 19.37a10.27 10.27 0 00-10.27 10.27z")
      .success-icon(v-if="player.passwordSuccess")
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" x="0px" y="0px")
          path(d="M10 0a10 10 0 1 0 10 10A10 10 0 0 0 10 0zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z")
          path(d="M14.5 5.5L8 12 5.5 9.5 4 11l4 4 8-8-1.5-1.5z")
      .name {{player.name}}
      .score {{player.score}}