$notifyRadius: 3rem;
$notifyIconSize: 60px;

.ui-pnotify { 
  .brighttheme.ui-pnotify-container { padding-left:100px; background:#414042;  border-radius: $notifyRadius; border:2px solid rgba(#121212,0.5); min-height: 5.7rem !important;
    &:before { content: " "; width:$notifyIconSize; height:$notifyIconSize; @include position(absolute,1rem,null,null,1rem); background-image:url(../svg/sisyphus/trophy.svg);background-size:contain; background-repeat: no-repeat; background-position: center; }

    .ui-pnotify-title { font-family:$font; font-size:1.4rem; margin-bottom: 0; color:white; }
    .ui-pnotify-text  { font-family: $font; color:white; }
    .ui-pnotify-closer, .ui-pnotify-sticker { color:yellow; }
  }
}

@media screen and (max-width:$mobile-max) {
  .ui-pnotify { 
    .brighttheme.ui-pnotify-container {
      .ui-pnotify-title { font-size:16px; }
      .ui-pnotify-text  { font-size:12px; }
    }
  }

  //.ui-pnotify-mobile-able.ui-pnotify.stack-bottomright { /* bottom: 5px !important; */ }


  &.site-by-lemon { opacity: 0.2;
    .ui-pnotify-container { background:yellow !important; }
  }

}

.ui-pnotify.site-by-lemon {
  .brighttheme.ui-pnotify-container { background:yellow; border-radius: 0; border:none; width:280px; float: right;
    &:before { background-image:url(../svg/lemon.svg); }
    .ui-pnotify-title a { font-family: $headline; font-size:1.5rem; text-decoration: none; color:black; display: block; padding-top:0.25em;
      &:hover { text-decoration: underline; }
    }
    .ui-pnotify-closer, .ui-pnotify-sticker { color:$black; }
  } 
}