// PUT EVERY z-index value in this file
// so you know the value of each one in comparison to one another....

// Listed below are examples, feel free to delete...
$z-footer: 10;
$z-title-screen: 11;
$z-share-screen: 12;
