section.final-links
  .inner
    .come-back-tomorrow
      p Come back tommorow for your chance at another {{gameRules.optionsPerDay}} billionaires.
    .meanwhile
      span Meanwhile, you could...
      ul
        li
          a(@click="shareMyScores()") Share your scores.
        li 
          a(href="https://kinda.fun") Play another game on kinda.fun
        li
          a(href="https://www.oxfam.org/en") Donate to Oxfam
        li 
          a(href="https://github.com/ahoylemon/kinda.fun") Check out this project on GitHub.
        li
          a(href="https://damn.dog") Play a few rounds of damn.dog
        li
          a(href="https://bailproject.org/") Donate to The Bail Project
        li
          a(href="https://partypartypartyparty.party") Party.
        li
          a(href="https://thefpl.us") Listen to The F Plus.