aside.general.general-stats(v-if="ui.viewing != 'general'")

  .inside

    // COMPARATIVELY FAMOUS
    .summary(:class="{ active: (ui.viewing == 'cameo') }")
      figure
        img(src="/svg/games/comparativelyfamous.svg" @click="getData('cameo')")
      .last-played(v-if="stats?.general?.cameoLastPlayed")
        .time-ago(v-text="formatTime(stats.general.cameoLastPlayed,'fromNow')")

    // NO MORE BILLIONAIRES
    .summary(:class="{ active: (ui.viewing == 'guillotine') }")
      figure
        img(src="/svg/games/nomorebillionaires.svg" @click="getData('guillotine')")
      .last-played(v-if="stats?.general?.guillotineLastPlayed")
        .time-ago(v-text="formatTime(stats.general.guillotineLastPlayed,'fromNow')")

    // INVALID
    .summary(:class="{ active: (ui.viewing == 'invalid'), inactive:(ui.viewing != 'invalid')  }")
      figure
        img(src="/svg/games/invalid.svg" @click="getData('invalid')")
      .last-played(v-if="stats?.general?.invalidLastPlayed")
        .time-ago(v-text="formatTime(stats.general.invalidLastPlayed,'fromNow')")

    // THIS MEETING HAS POINTS
    .summary(:class="{ active: (ui.viewing == 'meeting'), inactive: (ui.viewing != 'meeting') }")
      figure
        img(src="/svg/games/thismeetinghaspoints.svg" @click="getData('meeting')")
      .last-played(v-if="stats?.general?.meetingLastPlayed")
        .time-ago(v-text="formatTime(stats.general.meetingLastPlayed,'fromNow')")

    // PRETEND WORLD
    .summary(:class="{ active: (ui.viewing == 'pretend'), inactive: (ui.viewing != 'pretend') }")
      figure
        img(src="/svg/games/pretendworld.svg" @click="getData('pretend')")
      .last-played(v-if="stats?.general?.pretendLastPlayed")
        .time-ago(v-text="formatTime(stats.general.pretendLastPlayed,'fromNow')")
    
    // SISYPHUS CLICKER
    .summary(:class="{ active: (ui.viewing == 'sisyphus'), inactive: (ui.viewing != 'sisyphus') }")
      figure
        img(src="/svg/sisyphus/logo-simple.svg" @click="getData('sisyphus')")
      .last-played(v-if="stats?.general?.sisyphusLastPlayed")
        .time-ago(v-text="formatTime(stats.general.sisyphusLastPlayed,'fromNow')")

    // MEGACHURCH TYCOON
    .summary(:class="{ active: (ui.viewing == 'megachurch'), inactive: (ui.viewing != 'megachurch') }")
      figure
        img(src="/svg/games/megachurch-temp.svg" @click="getData('megachurch')")
      .last-played(v-if="stats?.general?.megachurchLastPlayed")
        .time-ago(v-text="formatTime(stats.general.megachurchLastPlayed,'fromNow')")
    

    //- .summary(:class="{ active: (ui.viewing == 'wrongest'), inactive: (ui.viewing != 'wrongest') }")
    //-   figure
    //-     img(src="/svg/games/thewrongestwords.svg" @click="getData('wrongest')")
    //-   .last-played(v-if="stats.general && stats.general.lastPlayed && stats.general.lastPlayed.wrongest")
    //-     .time-caption Last Game
    //-     .time-ago(v-text="formatTime(stats.general.lastPlayed.wrongest,'fromNow')")


    aside.last-cloned-holder(v-if="stats?.general?.lastCloned")
      .last-cloned
        div Last Clone:  
        strong(v-text="formatTime(stats.general.lastCloned, 'calendar')")