main.general-stats(v-if="ui.viewing == 'general'")

  .inside

    .game-summaries

      .summary
        figure
          img(src="/svg/games/comparativelyfamous.svg" @click="getData('cameo')")
        .last-played(v-if="stats.general && stats.general.cameoLastPlayed")
          //.time-caption Last Game
          .time-ago(v-text="formatTime(stats.general.cameoLastPlayed,'fromNow')")
          .calendar(v-text="formatTime(stats.general.cameoLastPlayed,'calendar')")
        .button-holder
          button(@click="getData('cameo')") Details

      .summary
        figure
          img(src="/svg/games/nomorebillionaires.svg" @click="getData('guillotine')")
        .last-played(v-if="stats.general && stats.general.guillotineLastPlayed")
          .time-ago(v-text="formatTime(stats.general.guillotineLastPlayed,'fromNow')")
          .calendar(v-text="formatTime(stats.general.guillotineLastPlayed,'calendar')")
        .button-holder
          button(@click="getData('guillotine')") Details

      .summary
        figure
          img(src="/svg/games/megachurch-temp.svg" @click="getData('megachurch')")
        .last-played(v-if="stats.general && stats.general.megachurchLastPlayed")
          .time-ago(v-text="formatTime(stats.general.megachurchLastPlayed,'fromNow')")
          .calendar(v-text="formatTime(stats.general.megachurchLastPlayed,'calendar')")
        .button-holder
          button(@click="getData('megachurch')") Details

      .summary
        figure
          img(src="/svg/games/invalid.svg" @click="getData('invalid')")
        .last-played(v-if="stats.general && stats.general.invalidLastPlayed")
          .time-ago(v-text="formatTime(stats.general.invalidLastPlayed,'fromNow')")
          .calendar(v-text="formatTime(stats.general.invalidLastPlayed,'calendar')")
        .button-holder 
          button(@click="getData('invalid')") Details

      .summary
        figure
          img(src="/svg/games/thismeetinghaspoints.svg" @click="getData('meeting')")
        .last-played(v-if="stats.general && stats.general.meetingLastPlayed")
          //.time-caption Last Game
          .time-ago(v-text="formatTime(stats.general.meetingLastPlayed,'fromNow')")
          .calendar(v-text="formatTime(stats.general.meetingLastPlayed,'calendar')")
        .button-holder
          button(@click="getData('meeting')") Details
          
      .summary
        figure
          img(src="/svg/games/pretendworld.svg" @click="getData('pretend')")
        .last-played(v-if="stats.general && stats.general.pretendLastPlayed")
          //.time-caption Last Game
          .time-ago(v-text="formatTime(stats.general.pretendLastPlayed,'fromNow')")
          .calendar(v-text="formatTime(stats.general.pretendLastPlayed,'calendar')")
        .button-holder
          button(@click="getData('pretend')") Details
      
      .summary
        figure
          img(src="/svg/games/sisyphusclicker.svg" @click="getData('sisyphus')")
        .last-played(v-if="stats.general && stats.general.sisyphusLastPlayed")
          //.time-caption Last Game
          .time-ago(v-text="formatTime(stats.general.sisyphusLastPlayed,'fromNow')")
          .calendar(v-text="formatTime(stats.general.sisyphusLastPlayed,'calendar')")
        .button-holder
          button(@click="getData('sisyphus')") Details

  .player-table 
    h2 Top Players
    .good-table.player-table(v-if="stats?.general?.players")
      vue-good-table(:rows="stats.general.players"
        theme="black-rhino"
        :columns="columns.generalPlayers"
        :sort-options="{ enabled: true, initialSortBy: {field: 'gamesPlayed', type: 'desc'} }"
        :pagination-options="{ enabled: true, perPage: 20, position: 'top', perPageDropdown: [10, 20, 50], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}")

  aside.last-cloned-holder(v-if="stats?.general?.lastCloned")
    .last-cloned
      span 🗄️ Database was last cloned  &nbsp; 
      strong(v-text="formatTime(stats.general.lastCloned, 'calendar')")