main.general-stats(v-if="ui.viewing == 'general'")

  .inside

    .game-summaries

      .summary
        figure
          button(@click="getData('cameo')") 
            img(src="/svg/games/comparativelyfamous.svg" alt="Comparatively Famous")
        .last-played(v-if="stats.general && stats.general.cameoLastPlayed")
          .time-ago(v-text="formatTime(stats.general.cameoLastPlayed,'fromNow')")
          .calendar(v-text="formatTime(stats.general.cameoLastPlayed,'calendar')")

      .summary
        figure
          button(@click="getData('court')") 
            img(src="/svg/games/supremecourt.svg" alt="Supreme Court")
        .last-played(v-if="stats.general && stats.general.courtLastPlayed")
          .time-ago(v-text="formatTime(stats.general.courtLastPlayed,'fromNow')")
          .calendar(v-text="formatTime(stats.general.courtLastPlayed,'calendar')")

      .summary
        figure
          button(@click="getData('guillotine')") 
            img(src="/svg/games/nomorebillionaires.svg" alt="No More Billionaires")
        .last-played(v-if="stats.general && stats.general.guillotineLastPlayed")
          .time-ago(v-text="formatTime(stats.general.guillotineLastPlayed,'fromNow')")
          .calendar(v-text="formatTime(stats.general.guillotineLastPlayed,'calendar')")

      .summary
        figure
          button(@click="getData('invalid')") 
            img(src="/svg/games/invalid.svg" alt="Invalid")
        .last-played(v-if="stats.general && stats.general.invalidLastPlayed")
          .time-ago(v-text="formatTime(stats.general.invalidLastPlayed,'fromNow')")
          .calendar(v-text="formatTime(stats.general.invalidLastPlayed,'calendar')")
      .summary
        figure
          button(@click="getData('meeting')") 
            img(src="/svg/games/thismeetinghaspoints.svg" alt="This Meeting Has Points")
        .last-played(v-if="stats.general && stats.general.meetingLastPlayed")
          .time-ago(v-text="formatTime(stats.general.meetingLastPlayed,'fromNow')")
          .calendar(v-text="formatTime(stats.general.meetingLastPlayed,'calendar')")

      .summary
        figure
          button(@click="getData('megachurch')") 
            img(src="/svg/games/megachurch.svg" alt="Mega Church")
        .last-played(v-if="stats.general && stats.general.megachurchLastPlayed")
          .time-ago(v-text="formatTime(stats.general.megachurchLastPlayed,'fromNow')")
          .calendar(v-text="formatTime(stats.general.megachurchLastPlayed,'calendar')")
          
      .summary
        figure
          button(@click="getData('pretend')") 
            img(src="/svg/games/pretendworld.svg" alt="Pretend World")
        .last-played(v-if="stats.general && stats.general.pretendLastPlayed")
          .time-ago(v-text="formatTime(stats.general.pretendLastPlayed,'fromNow')")
          .calendar(v-text="formatTime(stats.general.pretendLastPlayed,'calendar')")
      
      .summary
        figure
          button(@click="getData('sisyphus')") 
            img(src="/svg/games/sisyphusclicker.svg" alt="Sisyphus Clicker")
        .last-played(v-if="stats.general && stats.general.sisyphusLastPlayed")
          .time-ago(v-text="formatTime(stats.general.sisyphusLastPlayed,'fromNow')")
          .calendar(v-text="formatTime(stats.general.sisyphusLastPlayed,'calendar')")
      
      .summary
        figure
          button(@click="getData('wrongest')") 
            img(src="/svg/games/thewrongestwords.svg" alt="The Wrongest Words")
        .last-played(v-if="stats.general && stats.general.wrongestLastPlayed")
          .time-ago(v-text="formatTime(stats.general.wrongestLastPlayed,'fromNow')")
          .calendar(v-text="formatTime(stats.general.wrongestLastPlayed,'calendar')")

  .player-table 
    h2 Top Players
    .good-table.player-table(v-if="stats?.general?.players")
      vue-good-table(:rows="stats.general.players"
        theme="black-rhino"
        :columns="columns.generalPlayers"
        :sort-options="{ enabled: true, initialSortBy: {field: 'gamesPlayed', type: 'desc'} }"
        :pagination-options="{ enabled: true, perPage: 20, position: 'top', perPageDropdown: [10, 20, 50], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}")
    .table-under(v-if="stats?.general?.players_isLimited")
      button.load-full(@click="loadFullData('general', 'players')" :disabled="ui.loadingFullData")
        | {{ ui.loadingFullData ? 'Loading...' : `Show All (currently top ${stats.general.players_limitTo})` }}

  aside.last-cloned-holder(v-if="stats?.general?.lastCloned")
    .last-cloned
      span 🗄️ Database was last cloned  &nbsp; 
      strong(v-text="formatTime(stats.general.lastCloned, 'calendar')")