section.sisyphus.stats(v-if="ui.viewing == 'sisyphus'")
  figure
    img(src="/svg/sisyphus/logo-simple.svg")

  .stats-boxes

    .box.big-number(v-if="stats.sisyphus" style="grid-column:span 2")
      .caption Cursed Persons
      .number(v-text="addCommas(stats.sisyphus.firstClick)")
      .subtext damned souls have logged their first click.
  
    .box.date(v-if="stats.sisyphus?.lastGameStarted")
      .caption Last Damnation
      .time-ago(v-text="formatTime(stats.sisyphus.lastGameStarted,'fromNow')")
      .calendar(v-text="formatTime(stats.sisyphus.lastGameStarted,'calendar')")

    .box.big-number(v-if="stats.sisyphus?.rollbackCount")
      .caption The Rock Has Rolled Downhill
      .number(v-text="addCommas(stats.sisyphus.rollbackCount)")
      .subtext times

    .box.big-number(v-if="computedSisyphus?.cheevosEarned")
      .caption Cheevos Earned
      .number(v-text="addCommas(computedSisyphus.cheevosEarned)")
      .sub-number
        strong(v-text="calculateAverage(computedSisyphus.cheevosEarned, dates.sisyphus.dayCount)")
        |  per day

    .box.big-number(v-if="computedSisyphus?.pointsEarned")
      .caption Points Earned
      .number(v-text="addCommas(computedSisyphus.pointsEarned)")
      .sub-number
          strong(v-text="calculateAverage(computedSisyphus.pointsEarned, dates.sisyphus.dayCount)")
          |  per day

    .box.big-number(v-if="computedSisyphus.totalPurchases")
      .caption Purchases Made
      .number(v-text="addCommas(computedSisyphus.totalPurchases)")
      .sub-number
          strong(v-text="calculateAverage(computedSisyphus.totalPurchases, dates.sisyphus.dayCount)")
          |  per day
    
    .box.big-number(v-if="computedSisyphus.pushesSpent")
      .caption Pushes Spent
      .number(v-text="addCommas(computedSisyphus.pushesSpent)")
      .sub-number
          strong(v-text="calculateAverage(computedSisyphus.pushesSpent, dates.sisyphus.dayCount)")
          |  per day

  .two-tables

    .good-table.celeb-table(v-if="ui.sisyphusLoaded")
      h2 Cheevos Earned
      vue-good-table( v-if="stats.sisyphus.cheevos && stats.sisyphus.cheevos.length"
                      :rows="stats.sisyphus.cheevos"
                      :columns="columns.sisyphusCheevos"
                      theme="black-rhino"
                      :line-numbers="true"
                      :sort-options="{ enabled: true, initialSortBy: {field: 'earnedCount', type: 'desc'} }"
                      :pagination-options="{ enabled: true, perPage: 30, position: 'top', perPageDropdown: [10, 30, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}")

    .good-table.player-table(v-if="ui.sisyphusLoaded")
      h2 Purchases Made
      vue-good-table( v-if="stats.sisyphus.purchases && stats.sisyphus.purchases.length"
                      :rows="stats.sisyphus.purchases"
                      :columns="columns.sisyphusPurchases"
                      theme="black-rhino"
                      :line-numbers="true"
                      :sort-options="{ enabled: true, initialSortBy: {field: 'timesBought', type: 'desc'} }"
                      :pagination-options="{ enabled: true, perPage: 30, position: 'top', perPageDropdown: [10, 30, 60, 100], dropdownAllowAll: true, nextLabel: 'next',prevLabel: 'prev',}")