:root {
  --ms-option-bg-selected-pointed: #{$multiselectDark};
  --ms-option-bg-selected: #{$multiselectMid};
  --ms-option-bg-pointed: #{$multiselectHighlight};
}
.multiselect {
  border: none;
  font-family: $serif;
  font-size: 1.45rem;
  &-single-label,
  &-placeholder {
    padding-left: 12px;
    font-weight: 700;
  }
  &.is-active {
    border: none;
    box-shadow: none;
  }
  &-dropdown {
    max-height: 20rem;
  }
  &-option {
    font-family: $sans-serif;
    font-size: 0.875rem;
  }
}
