.Vue-Toastification__container {
  .Vue-Toastification__toast--default {
    background-color: #dfdfdf;
    .Vue-Toastification__toast-body {
      color: #666;
    }
  }

  .Vue-Toastification__toast--info {
    background-color: #1976d2;
    .Vue-Toastification__toast-body {
      color: #ddddff;
    }
  }

  .Vue-Toastification__toast--warning {
    .Vue-Toastification__toast-body {
      color: #251801;
    }
  }
  .Vue-Toastification__toast--success {
    background-color: #058115;
    .Vue-Toastification__toast-body {
      color: #ccffcc;
    }
  }

  .Vue-Toastification__toast--error {
    background-color: #791111;
    .Vue-Toastification__toast-body {
      color: #ffc2c2;
    }
  }
}
